@page			{
/*			 size:		8.5in 11in; */
			 margin-left:   0.25in;
			 margin-right:	0.25in;
			 margin-top:	0.5in;
			 margin-bottom: 0.5in;}
body, table, tr, td	{font-size:	10pt;}
p			{margin-bottom:	0in;
			 widows:	2;
			 orphans:	2;}
h2			{margin-top:	0in;
			 margin-bottom:	0in;
			 widows:	2;
			 orphans:	2;}
.navbar			{display:	none;}
.credits		{display:	none;}
.screen			{display:	none;}
.print			{display:	block;}
