/************************************************************************
 * Mental Health Directory (MHD) Cascading Style Sheet (CSS)            *
 * Last modified by Kevin Cole <kjcole@gri.gallaudet.edu> 2007.11.19    *
 *                                                                      *
 * Finally getting a grip on using DIV's to replace TABLE's.  Create a  *
 * div that acts like a table row, and then within it create two or     *
 * more divs that act as columns.  The key is that the "row" div must   *
 * contain the style attribute "float".  Typically this will be float   *
 * left.  Then all divs within it will start lining up from the left.   *
 *                                                                      *
 * The other stupid geek trick here is using disc and circle for filled *
 * and unfilled radio buttons respectively.                             *
 *                                                                      *
 * The "box model" says that the width sets the inner width. Surrouding *
 * that is padding, followed by borders, and finally margins.  So the   *
 * outer dimension is width + padding + border + margin.  All but width *
 * default to zero... except when they don't.  How droll.               *
 *                                                                      *
 * When setting uneven dimensions for padding/border/width in one swell *
 * foop, the order is clockwise from the top: "top right bottom left".  *
 ************************************************************************/

@page {
/*      size:                   8.5in 11in; */
        margin-left:            0.5in;
        margin-right:           0.5in;
        margin-top:             0.5in;
        margin-bottom:          0.5in;
}

body              {background-color: #ffffff;
                   color:            #000000;
                   margin-left:        auto;
                   margin-right:       auto;
                   padding:             0px;
                   font-size:          12px;
                   font-family:     Verdana, Arial, Helvetica, sans-serif;}

div#page          {width:       790px;
                   padding:       0px;
                   border:        0px;
                   margin-left:  auto;
                   margin-right: auto;}

div#basic         {float:    left;
                   width:   790px;
                   padding:   0px;
                   border:    0px;
                   margin:    5px;}
div#image         {float:    left;
                   width:     98px;
                   height:   120px;
                   padding:    0px;
                   border:     1px solid black;
                   margin:     0px 10px 0px 10px;}
div#location      {float:    left;
                   width:   325px;
                   padding:   0px;
                   border:    0px;
                   margin:    0px 10px 0px 0px;}
div#phones        {float:    left;
                   width:   325px;
                   padding:   0px;
                   border:    0px;
                   margin:    0px 0px 0px 10px;}

div#details       {float:    left;
                   width:   790px;
                   padding:   0px;
                   border:    0px;
                   margin:    5px;}
div#details-left  {float:    left;
                   width:   385px;
                   padding:   0px;
                   border:    0px;
                   margin:    0px 10px 0px 0px;}
div#details-right {float:    left;
                   width:   385px;
                   padding:   0px;
                   border:    0px;
                   margin:    0px 0px 0px 10px;}

div#propaganda    {width:   790px;
                   padding:   0px;
                   border:    0px;
                   margin:    5px;}

.hang             {padding:      0px;
                   margin:       0em 0em 1em 1em;
                   border:       0px;
                   text-indent: -1em;}
                   
ul      {margin-top: 0em;}

li.yes	{list-style-type: disc;}
li.no	{list-style-type: circle;}

td, th {padding:3px;border:none;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}

