
______________________________________________________________________________

<p>Welcome!  This survey is being conducted by the Gallaudet Research
Institute (GRI) to estimate the size of the population of all deaf and
hard of hearing children and youth served by public and private
schools throughout the United States and to determine their
distribution among states and the schooling sectors within each
state.</p>

<p>Your responses are strictly confidential. Records are kept on a
secure and password protected server to which only authorized GRI
investigators have access. No participants will be identified in any
report or publication. If any federal or state agencies exercise their
authority to access our records, the GRI will act within the law to
protect your privacy.</p>

<p>While your responses to this survey are very important to us,
participation is completely voluntary. You may stop participating at
any time.</p>

<p>By completing the survey you are agreeing to participate.</p>

<p>If you have questions or concerns, please contact the Annual Survey
Coordinator, Kay Lam, by e-mail
at <a href="mailto:kay.lam@gallaudet.edu">kay.lam@gallaudet.edu</a>,
or Rue Winiarczyk
at <a
href="mailto:rowena.winiarczyk@gallaudet.edu">rowena.winiarczyk@gallaudet.edu</a>;
both Ms. Lam and Ms. Winiarczyk, as well as the GRI Associate
Director, Charles Reilly, may be contacted by telephone at (202)
651-5575 [v/tty].</p>

<p>Consent Statement:</p>

<p>Click the 'Yes, continue' button (below), to
confirm your willingness to participate in the survey.</p>

<p>Or, click the 'No, stop here' button (below), to verify that you
are unable to participate in the survey at this time.</p>

<p><strong>Do you consent to participate in this survey?</strong></br />
(Note: Before clicking the Next button, you may print a copy of this
page for your records.)</p>

<p>Yes, continue</p>
http://research.gallaudet.edu/resources/screening/begin/

<p>No, stop here</p>

[Send to a page that says, "Thank you for your interest in our
survey. If you change your mind, and wish to participate in this
study, please return to the URL provided in your letter of
invitation. You may now close your browser window."]</p>

<P STYLE="margin-bottom: 0.14in"><br /><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/begin/</B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p>(Note:
Question header is underlined for easy visual reference.)</p>
<p><br />
</p>
<p><U>LEA
/ Public or Private</U></p>
<p><br />
</p>
<p>How is
your agency classified?</p>
<p><br />
</p>
<p><U>Select
your State</U></p>
<p><br />
</p>
<p>State:</p>
<p><br />
</p>
<p><br />
</p>
<P STYLE="margin-bottom: 0.14in"><br /><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/begin/</B></I><I><B><SPAN STYLE="background: #ffff00">?funding=public&amp;usps=CA</SPAN></B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p><br />
</p>
<p>You
have identified your agency as a <B><SPAN STYLE="background: #ffff00">Local
Education Agency (LEA) / Public School</SPAN></B>
located in <B><SPAN STYLE="background: #ffff00">California</SPAN></B>.
If this information is incorrect, use the <B>←
Back</B> button to choose a different state
and/or agency type.</p>
<p><br />
</p>
<p>Otherwise,
click the <B>Next →</B>
button to continue.</p>
<p><br />
</p>
<P STYLE="margin-bottom: 0.14in"><br /><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/confirm_winnow/</B></I><I><B><SPAN STYLE="background: #ffff00">?usps=CA&amp;funding=public</SPAN></B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p><br />
</p>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><B><SPAN STYLE="background: #ffff00">Local
Education Agencies (LEAs) for California</SPAN></B></p>
<p><br />
</p>
<p>Select
your Local Education Agency (LEA) or public school from the list
below:</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p>http://research.gallaudet.edu/resources/screening/confirm_lea/<SPAN STYLE="background: #ffff00">617850</SPAN>/</p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p><br />
</p>
<p>You
have selected 
</p>
<p><br />
</p>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><B><SPAN STYLE="background: #ffff00">HUENEME
ELEMENTARY</SPAN></B></p>
<p><br />
</p>
<p>If this
is correct, please click the <B>Next →</B>
button below. Otherwise, click the <B>← Back</B>
button.</p>
<p><br />
</p>
<p><br />
</p>
<p><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/public_collect/</B></I><I><B><SPAN STYLE="background: #ffff00">617850</SPAN></B></I><I><B>/</B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p>(Note:
Question header is underlined for easy visual reference.)</p>
<p><br />
</p>
<p><U>Sources
of identification</U></p>
<p><br />
</p>
<p>Please
fill out the following. Don't forget to click <B>Next
→</B> at the bottom of this page, when you have
finished.</p>
<p><br />
</p>
<p>How
were students in the following schools identified as deaf or hard of
hearing? (Check all that apply.)</p>
<p><br />
</p>
<p><U>Number
of Deaf and Hard of Hearing</U></p>
<p><br />
</p>
<p>For
each school listed below, enter the number of deaf and hard of
hearing students enrolled at the school. If a school has no deaf or
hard of hearing students, enter &quot;0&quot; (zero without the
quotes). If the information for a particular school is unknown, leave
the field blank. <B>DO NOT ENTER NON-NUMERIC
DATA!</B> (No commas, periods, semi-colons,
letters, etc. Numbers only.)</p>
<p><br />
</p>
<p><FONT COLOR="#ff0000"><U><B>RECOMMENDED
REVISED TEXT FOR THIS PAGE</B></U></p>
<p>(Note:
The "Sources of Identification" item is to appear on its own
page—see next <U>New page URL</U>.)</p>
<p><br />
</p>
<p><U>Number
of Deaf and Hard of Hearing</U></p>
<p><br />
</p>
<p>Please
fill out the following. Don't forget to click <B>Next
→</B> at the bottom of this page, when you have
finished.</p>
<p><br />
</p>
<p>For
each school listed below, enter the <U><B>number</B></U>
of deaf and hard of hearing students enrolled at the school. If a
school has no deaf or hard of hearing students, enter zero (the
number, 0, not the word). If the information for a particular school
is unknown, leave the field blank. 
</p>
<p>(Please,
do not enter any letters, spaces, words, symbols, or punctuation
marks; <U><B>enter only numbers</B></U>,
or leave the field blank, as appropriate.)</p>
<p><br />
</p>
<p><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<FONT COLOR="#ff0000"><U>New page URL</U></p>
<p><I><B>http://research.gallaudet.edu/resources/screening/data_source/</B></I></p>
<p><br />
</p>
<p><FONT COLOR="#ff0000"><U><B>NEW
PAGE TEXT</B></U></p>
<p><br />
</p>
<p>How
were students identified as deaf or hard of hearing? (Check all that
apply.)</p>
<UL>
	<LI><p>Individual
	Education Program (IEP)</p>
	<LI><p>Individualized
	Family Service Plan (IFSP)</p>
	<LI><p>Section
	504 Plan</p>
	<LI><p>Americans
	with Disabilities Act (ADA) Title II Plan</p>
	<LI><p>Other</p>
</UL>
<P STYLE="margin-bottom: 0.14in"><br /><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/public_students/</B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p><br />
</p>
<p>In the
event that we should need to verify, correct or recover the data that
you have submitted, please provide your contact information below.</p>
<p><br />
</p>
<p>Don't
forget to click <B>Next →</B>
at the bottom of this page, when you have finished.</p>
<p><br />
</p>
<p><U>Contact
Information</U></p>
<p><br />
</p>
<p>Your
full name: ______</p>
<p>Your
job title: ______</p>
<p>Your
e-mail address: ______</p>
<p>Your
phone number: ______</p>
<p> [(999)
999-9999 x999]</p>
<p><br />
</p>
<p>May we
contact you for further participation in the <I>Annual
Survey of Deaf and Hard of Hearing Children and Youth</I>
(Information regarding the <I>Annual Survey</I>
is available at <A HREF="http://research.gallaudet.edu/Demographics/">http://research.gallaudet.edu/Demographics/</A>

</p>
<UL>
	<LI><p>Yes,
	please do so.</p>
	<LI><p>Yes,
	but someone else must approve participation.</p>
	<LI><p>No,
	I respectfully decline.</p>
</UL>
<p><br />
</p>
<p><FONT COLOR="#ff0000"><U><B>RECOMMENDED
REVISED TEXT</B></U></p>
<p><br />
</p>
<p>In the
event that we should need to verify, correct or recover the data that
you have submitted, please provide your contact information below.</p>
<p><br />
</p>
<p>Don't
forget to click <B>Next →</B>
at the bottom of this page, when you have finished.</p>
<p><br />
</p>
<p><U>Contact
Information</U></p>
<p><br />
</p>
<p>Your
full name: ______</p>
<p>Your
job title: ______</p>
<p>Your
e-mail address: ______</p>
<p>Your
telephone number: ______</p>
<p> [(999)
999-9999 x999]</p>
<p><br />
</p>
<p>May we
contact you for further participation in the <I>Annual
Survey of Deaf and Hard of Hearing Children and Youth?</I><br />(See
<A HREF="http://research.gallaudet.edu/Demographics/">http://research.gallaudet.edu/Demographics/</A>
for information about the Annual Survey)</p>
<UL>
	<LI><p>Yes,
	please do so.</p>
	<LI><p>Yes,
	but someone else must approve participation.</p>
	<LI><p>No,
	I respectfully decline.</p>
</UL>
<P STYLE="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<br />
</p>
<p> 
</p>
<p><FONT COLOR="#c0504d"><B>DESIGN
ISSUES</B></p>
<p><br />
</p>
<p>Either,
do not display any respondent information on this page since there is
no request to verify it or an opportunity to go back to correct it,
or, better, create an easily readable presentation of the data that
was just entered and then request verification.  (I.e., something
like, "If this information is correct, please click <B>Next
→</B> at the bottom of this page. Otherwise,
click the <B>← Back</B>
button."  Allow previously entered data to appear on entry page, if
possible, so that only the incorrect entries have to be corrected,
and not require that the entire set of entries be reentered.)</p>
<p><br />
</p>
<p>The
displayed (mock entry) information: 
</p>
<p>lea	617850</p>
<p>ps.61785002197	4</p>
<p>ps.61785002198	4</p>
<p>ps.61785002199	6</p>
<p>ps.61785002200	7</p>
<p>ps.61785002204	1</p>
<p>ps.61785002202	1</p>
<p>ps.61785002203	3</p>
<p>s504	on</p>
<p>ps.61785002205	001</p>
<p>ps.61785002206	5</p>
<p>ps.61785002207	2</p>
<p>iep	on</p>
<p>ifsp	on</p>
<p>ps.61785002201	2</p>
<p><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
For page with URL</p>
<p><I><B>http://research.gallaudet.edu/resources/screening/public_contact/</B></I></p>
<p><br />
</p>
<p><B>CURRENT
TEXT</B></p>
<p><br />
</p>
<p>Thank
you for helping the Gallaudet Research Institute improve the quality
of our data!</p>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">Go
to the Gallaudet Research Institute home page</p>
<p><br />
</p>
<p><FONT COLOR="#ff0000"><U><B>RECOMMENDED
REVISED TEXT</B></U></p>
<p><br />
</p>
<p>Thank
you for helping the Gallaudet Research Institute improve the quality
of our data!</p>
<p>You may
now close your browser window, or</p>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">Go
to the Gallaudet Research Institute home page</p>
<P STYLE="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<br />
</p>
<p> 
</p>
<p><FONT COLOR="#c0504d"><B>DESIGN
ISSUES</B></p>
<p><br />
</p>
<p>Do not
display any respondent information on this page since there is no
request to verify it or an opportunity to go back to correct it.</p>
<P STYLE="margin-bottom: 0.14in"><br /><br />
</p>
<P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
An error was encountered on several pages, while running
Google Chrome, and I was able to recover from it by clicking the
refresh button.  However, I fear we will lose respondents if they
have the same experience (i.e., won't have the intuition to refresh
the browser window).  Here is an example of the feedback:</p>
<p><br />
</p>
<p>AttributeError
at /screening/public_students/</p>
<p>'module'
object has no attribute 'PositiveSmallIntegerField'</p>
<p>Request
Method:	POST</p>
<p>Request
URL:	http://research.gallaudet.edu/resources/screening/public_students/</p>
<p>Django
Version:	1.3.1</p>
<p>Exception
Type:	AttributeError</p>
<p>Exception
Value:	</p>
<p>'module'
object has no attribute 'PositiveSmallIntegerField'</p>
<p>Exception
Location:	/home/kjcole/Django/resources/screening/forms.py in
DeafForm, line 34</p>
<p>Python
Executable:	/usr/bin/python</p>
<p>Python
Version:	2.6.6</p>
<p>Python
Path:	</p>
<p>['/usr/lib64/python26.zip',</p>
<p>
'/usr/lib64/python2.6',</p>
<p>
'/usr/lib64/python2.6/plat-linux2',</p>
<p>
'/usr/lib64/python2.6/lib-tk',</p>
<p>
'/usr/lib64/python2.6/lib-old',</p>
<p>
'/usr/lib64/python2.6/lib-dynload',</p>
<p>
'/usr/lib64/python2.6/site-packages',</p>
<p>
'/usr/lib64/python2.6/site-packages/PIL',</p>
<p>
'/usr/lib64/python2.6/site-packages/gtk-2.0',</p>
<p>
'/usr/lib/python2.6/site-packages',</p>
<p>
'/usr/lib/python2.6/site-packages/setuptools-0.6c11-py2.6.egg-info',</p>
<p>
'/home/kjcole/Django']</p>
<p>Server
time:	Mon, 14 May 2012 12:32:34 -0400</p>
<p><br />
</p>
<p><br />
</p>
<p><br />
</p>
<DIV TYPE=FOOTER>
	<P ALIGN=CENTER STYLE="margin-top: 0.46in; margin-bottom: 0in; line-height: 100%">
	Page <SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>18</SDFIELD> of <SDFIELD TYPE=DOCSTAT SUBTYPE=PAGE FORMAT=PAGE>18</SDFIELD></p>
	<p><br />
	</p>
</DIV>
</BODY>
</HTML>
