{% extends "admin/change_form.html" %}

{% block form_top %}
<p>Edit carefully.  In particular, postal codes, phone numbers, e-mail
addresses, and URL's that are not in the required format will break
things...</p>

<p>Items in <strong>bold type</strong> are <strong>required</strong> and cannot be left blank.</p>
{% endblock %}
