{% extends "marquee.html" %}
{% load url from future %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td, th {font-size:100%; border: none;}
table, tbody             {width:100%;}

.error   {color:            #af0000;
          font-weight:      bold;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          width:            100%;
          text-align:       left;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>Login</h1>

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <fieldset>
      <legend>Username and Password</legend>

      <table>
      <tbody>
        <tr>
          <td style="text-align:right;">{{form.username.label_tag}}:</td>
          <td>{{form.username}}</td>
        </tr>
        <tr>
          <td style="text-align:right;">{{form.password.label_tag}}:</td>
          <td>{{form.password}}</td>
        </tr>
        {% if form.errors %}
          <tr>
            <td> </td>
            <td class="error">Your username and password didn't match. 
                              Please try again.</td>
          </tr>
        {% endif %}
      <tbody>
      </table>
    </fieldset>

    <fieldset class="flow">
      <p style="text-align:center;">
       <button type="submit">Login &rarr;</button>
      </p>
    </fieldset>
    <input type="hidden" name="next" value="/resources/marquee/edit/" />
  </form>

</article>
</main>
{% endblock %}
