{% extends "mhd.html" %}
{% block title %}Add provider{% endblock %}
{% block styles %}
<style type="text/css">
  ul.errorlist {margin: 0; padding: 0;}
  .errorlist li {background-color: #ff0000;
                 color:            #ffffff;
                 display:          block;
                 font-size:        10px;
                 margin:           0 0 3px;
                 padding:          4px 5px;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<h1>Add provider</h1>
<form action="." method="POST">
  <table>
    {{form.as_table}}
  </table>
  <p><input type="submit" value="Submit" /></p>
</form>
</article>
</main>
{% endblock %}
