{% extends "mhd.html" %}
{% block title %}Mental Health Directory: How to communicate{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>How to communicate</strong></p>

<p>Technology has changed the way deaf or hard of hearing persons
communicate.  Previously a deaf or hard of hearing person was only
able to use a teletypewriter (TTY) which is also called a
telecommunication device (TDD) to make or receive telephone calls.
Today, deaf or hard of hearing persons use TTYs, E-mail, two-way
pagers, text messaging, smart phones (BlackBerrys and SideKicks), as
well as telephone and video relay services.  Although TTYs are still
used, these new communication devices are the most popular way of
contacting deaf or hard of hearing persons.  Clinicians find it much
easier to use E-mail to schedule appointments and conduct other
non-confidential communications with clients.  Relay services are
commonly used by clinicians who do not have a TTY.  This appendix
provides inexperienced users guidance on how to utilize relay services
(telephone or video) when communicating with deaf or hard of hearing
clients.</p>

<p class="center"><strong>How to Make Relay Telephone Calls?</strong></p>

<p>A TTY can be used to communicate via telephone with people whether
or not both parties have a TTY.  If only one party has a TTY, then a
relay operator must be used to facilitate the telephone call.  This
relay service is officially called Telecommunication Relay Service
(TRS) and there is no fee for using a relay operator.  However, if the
call is long distance, fees will be charged to the caller's local long
distance carrier.  Some TTYs also serve as answering machines when
receiving calls, but not all do.  TTYs are quite expensive and other
technology (i.e. text pagers and email) may be preferred means of
communication by some deaf people.</p>

<p>Relay services can be accessed by both hearing and deaf persons by
dialing 711 in most areas of the United States.  Some areas have not
yet designated the three-digit 711 phone number to relay services.  To
contact relay services where the three-digit 711 phone number is not
available, dial 0 for the operator to provide assistance or consult a
phone book for relay service access information.  Relay calls tend to
require more time than direct calls since a third party is assisting
with the communication.  For this reason, many people prefer relay
calls to be concise, yet polite.  The relay operator does not keep a
record of the call, and the call is completely confidential under
Federal Communication Commission mandates.  First-time users of relay
services may want to notify the relay operator that this is a
first-time relay call.  The relay operator can be helpful in reminding
you of the following rules of using relay services.</p>

<ul>
<li>Speak or type directly to the caller, not to the relay
    operator.</li>
<li>Only one person can respond at a time.  Take turns in the
    telephone conversation by saying, "Go Ahead" or typing "GA" at the
    end of each response.</li>
<li>At the beginning of the conversation, when the operator announces
    that it is your turn to respond, provide your name and spell it
    for the relay operator, then ask for the person you are
    calling.</li>
<li>If you must put the caller on hold during the call, wait until it
    is your turn and say or type, "Hold Please."  All unexpected
    interruptions in phone conversations should be explained briefly.
    For example, "Must answer other phone line, Hold please."</li>
<li>At the end of the conversation, alert the caller you are ready to
    end the call by saying, "Goodbye Go Ahead to Signing off" or
    typing, "Goodbye GA SK."  This allows for any last minute
    communication.</li>
<li>Just before hanging up say, "Signing off" or type "SK SK."  After
    both parties have done this, then you may hang up the phone.</li>
</ul>

<p><strong>Relay services are not needed if both callers have TTYs.
Consult the instructions that accompany your TTY for appropriate
guidelines when using a TTY or purchase the following
resource:</strong></p>

<p><em>GA and SK Etiquette: Guideline for Telecommunications in the
Deaf Community</em> (1991) by Sharon J. Cagle and Keith M. Cagle,
Bowling Green Press, Inc., 1435 Rosewood Drive, Bowling Green, Ohio
43402.</p>

<p class="center"><strong>Video Relay Calls</strong></p>

<p>Video relay services allow consumers to communicate via video
equipment in which signing callers communicate directly with one
another, or a sign language interpreter.  Using equipment designed
either for your computer or TV, hearing consumers can quickly connect
with a sign language interpreter who can video relay calls to deaf or
hard of hearing persons.  Additional equipment may be needed depending
on your video relay service provider.</p>

<p>Video relay calls have become increasingly popular for several
reasons.  First, this service allows native signers to communicate in
their primary language, which allows for more freedom of expression.
Consumers also benefit from the ideas expressed through facial
expressions that are essential grammatical parts of American Sign
Language.  Another reason consumers prefer this service is that
conversations appear to flow much faster and easier than when
utilizing telecommunication relay services.  Some find this service
flexible to their needs since it can be provided via computer or TV
through high-speed or broadband internet connections.</p>

<p>A half a dozen companies provide video relay services free to callers.
Sorenson VRS, AT&amp;T, and Sprint are three popular providers.  Deaf and
hard of hearing persons may obtain VRS equipment for free in order to
conduct business and connect with friends and family across the
nation.  The Federal Communications Commission (FCC) regulates relay
services and oversees the Interstate TRS Fund which compensates these
companies for their service.</p>

<p class="center"><strong>Tips for placing a Video Relay Call</strong></p>

<p>Since step by step instructions on using this service depends on
the equipment you have only tips for general use of VRS services are
provided below:</p>

<ul>
<li>Make sure the TV and videophone are on.  Or, if using the computer,
    make sure all pop-up blockers are off.</li>
<li>Adjust the lens on the videophone/ web camera until your image is
    positioned correctly on the screen.</li>
<li>Have the name, videophone number or IP address of the person you
    are contacting ready for the interpreter who will connect you to
    your party.</li>
<li>Remain holding until you are connected with the next available
    interpreter.</li>
</ul>

<p>Hearing customers can also place video relay calls to any deaf or
hard-of-hearing individual by simply dialing a toll free number with a
standard telephone.</p>

<table>
<tr><td>&bull; <strong>Using Sorenson:</strong></td>
    <td>dial 1-866-FAST-VRS or 1-866-327-8877</td></tr>
<tr><td>&bull; <strong>Using AT&amp;T:</strong></td>
    <td>dial 1-888-VRS-9998</td></tr>
<tr><td>&bull; <strong>Using Sprint:</strong></td>
    <td>dial 1-866-410-5797</td></tr>
</table>

<p>*** Remember, Video Relay Services are different from Video Relay
Interpreting (VRI)!  VRI involves two persons in the same location
needing an interpreter to facilitate communication.  Video Relay
Interpreters provide this interpreting service from a remote
location via video equipment.  Video Relay Services can not be used
for this purpose according to federal regulations.</p>

<p><strong>Helpful Links:</strong></p>

<ul>
<li>Sorenson VRS: <a 
    href="http://www.sorensonvrs.com/">http://www.sorensonvrs.com/</a></li>
<li>AT&amp;T:  <a
    href="http://www.attvrs.com/help/howtomake.asp">http://www.attvrs.com/help/howtomake.asp</a></li>
<li>Sprint: <a 
    href="http://www.sprint.com/business/products/products/videoRelayServices_tabA.html">http://www.sprint.com/business/products/products/videoRelayServices_tabA.html</a></li>
<li>Hamilton's Webcam: <a
    href="http://www.hipvrs.com/">http://www.hipvrs.com/</a></li>
<li>CSDVRS: <a
    href="http://www.csdvrs.com/csdvrs.html">http://www.csdvrs.com/csdvrs.html</a></li>
<li>IP Relay MCI for those with Webcam: <a
    href="http://www.ip-vrs.com/">http://www.ip-vrs.com/</a></li>
<li>IP Relay MCI for those with Videophone: 
    <span>dial 884-787-7266 on your videophone</span></li>
</ul>

<p>Federal Communications Commission (FCC) website: <a
href="http://www.fcc.gov/cgb/dro/trs.html">http://www.fcc.gov/cgb/dro/trs.html</a>.</p>

<p>Special thanks to Sorenson VRS for help in providing information on
video relay services to our providers.</p>
</article>
</main>
{% endblock %}
