{% extends "mhd.html" %}
{% block title %}Mental Health Directory{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center" style="font-size:160%;"><strong>TOWARDS NEW HORIZONS</strong><br />
Collaborative and Innovative Approaches<br />
to Services for Persons who are Deaf,<br />
DeafBlind and Hard of Hearing</p>

<p class="center" style="font-size:120%;"><strong>Monday, November 2, 2009<br />
University of Pittsburg &bull; William Pitt Union<br />
8:30 a.m. - 4:30 p.m.</strong></p>

<hr />

<div style="margin-left: 20%; margin-right: 20%;">

<p>The <strong>Behavioral Health Task Force for persons who are Deaf,
DeafBlind and Hard of Hearing</strong> is pleased to present the third
conference specifically focused on meeting the behavioral health needs
of individuals who are Deaf or who have hearing loss and those with
loss of sight and vision. The conference is for therapists,
rehabilitation counselors, interpreters, case managers, students in
ASL, public health and social work, consumers, advocates, care
managers, educators and family members.</p>
 
<p>The conference <em>Towards New Horizons: Collaborative and
Innovative Approaches to Services for Persons who are Deaf, DeafBlind
and Hard of Hearing</em> will be held on Monday November 2nd at the
William Pitt Union on campus of the University of Pittsburgh.</p>
 
<p><a href="/Publications/Mental.Health/2009-11-02.pdf">Click here to
download the PDF registration form</a></p>

<p>Please join us for this special conference.</p>
 
<p>Thank you...hope to see you there!</p>

</div>
</article>
</main>
{% endblock %}
