{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Copyright{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>Mental Health Services<br />
For Deaf Persons:<br />
A Resource Directory</strong></p>

<p class="center">5th edition</p>

<p class="center">Edited by<br />
Linda Risser Lytle, Ph.D.<br />
LaNina Mompremier<br />
Crystal Bradley<br />
Colleen Owens</p>

<p class="center">Copyright  &copy; February 2007, {% now "Y" %}<br />
Gallaudet University<br />
Gallaudet Research Institute<br />
Washington, DC<br />
<a href="http://research.gallaudet.edu/">http://research.gallaudet.edu/</a></p>

<p>Individuals or organizations wanting additional copies of this
directory should contact the Gallaudet Research Insitute, HMB S-444,
Gallaudet University, 800 Florida Avenue, NE, Washington, DC
20002. Reproductions of selected short portions of this document for
referral purposes may be carried out without permission. Permission is
required, however, before large scale photocopying efforts can be
undertaken.</p>

<p>The reader should note that the information presented in this
volume is self-reported by the programs listed.  The editors,
therefore, cannot assume responsibility for the accuracy or currency
of the information reported.  More up to date, current information may
be obtained at ... website.</p>

<hr />
</article>
</main>
{% endblock %}
