{% extends "mhd.html" %}
{% block title %}
  {% for provider in results %}
    {{provider.indexer}}
  {% endfor %}
{% endblock %}

{% block styles %}
<style type="text/css">
hr {
      border: 0;
      width:  100%;
      height: 1px;
      color:            #000000;
      background-color: #000000;
    }

/* practice */
#practitioner  {font-weight: bold;
                font-style:  italic;
                font-size:   24px;}
#institution   {font-weight: bold;
                font-size:   24px;}

#address    {margin-left: 2em;}
#program    {}
#street     {}
#suite      {}
#city       {}
#state      {}
#zip        {}

#phones      {margin-top:  1.2em;
              margin-left: 2em;}
#phone_voice {}
#phone_tdd   {}
#phone_fax   {}
#phone_pager {}
#phone_video {}
#ip_video    {}

#program         {margin-top:  1.2em;}
#service_context {}
#other_context   {}

/* contact */
#contact_name        {}
#contact_title       {}
#email               {font-style: italic;
                      color:      #0000ff;}
#url                 {}

#hours table          {margin-left: 2em;}
#weekday_hours        {}
#weekend_hours        {}
#emergency_contact    {}
#emergency_phone      {}
#emergency_phone_type {}

/* services */
#beds {}

#credits       {margin-left:  2em;
                text-indent: -2em;}
#accreditation {}
#licensure     {}

#licensed      {margin-left:  2em;
                text-indent: -2em;}

#overseers     {margin-left:  2em;
                text-indent: -2em;}
#oversight {}

#fees table    {margin-left: 2em;}

#age           {margin-left:  2em;
                text-indent: -2em;}
#established {}

#employees     {margin-left:  2em;
                text-indent: -2em;}
#staff        {}
#signers      {}
#deaf         {}
#interpreting {}
#terp_details {}

#accessibility {margin-left:  2em;
                text-indent: -2em;}
#devices_none    {}
#devices_tdd     {}
#devices_amp     {}
#devices_flasher {}
#devices_alarm   {}
#other_devices   {}

#wheelchair {}

#transit {}

#blather       {margin-left:  2em;
                text-indent: -2em;}
#comments {}
</style>
{% endblock %}


{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
{% for provider in results %}

{# provider.status = 0: Draft     #}
{# provider.status = 1: Pending   #}
{# provider.status = 2: Published #}
{# provider.status = 3: Rejected  #}
{# provider.status = 4: Obsolete  #}

<div id="practice">
    {% if provider.practitioner_ln and provider.institution %}
        <span id="practitioner">{% if provider.practitioner_fn %}{{provider.practitioner_fn}}{% endif %}
        {% if provider.practitioner_mi %}{{provider.practitioner_mi}}.
        {% endif %}{{provider.practitioner_ln}}{% if provider.practitioner_deg %},
        {{provider.practitioner_deg}}{% endif %}</span><br />
        <span id="institution">{{provider.institution}}</span>
    {% else %}
        {% if provider.institution %}
             <span id="institution">{{provider.institution}}</span>
        {% else %}
            <span id="practitioner">{% if provider.practitioner_fn %}{{provider.practitioner_fn}}{% endif %}
            {% if provider.practitioner_mi %}{{provider.practitioner_mi}}.
            {% endif %}{{provider.practitioner_ln}}{% if provider.practitioner_deg %},
            {{provider.practitioner_deg}}{% endif %}</span>
        {% endif %}
    {% endif %}
</div>
<hr />
<div id="address">
    {% if provider.program %}
        <span id="program">{{provider.program}}</span><br />
    {% endif %}
    {% if provider.street %}
        <span id="street">{{provider.street}}</span><br />
    {% endif %}
    {% if provider.suite %}
        <span id="suite">{{provider.suite}}</span><br />
    {% endif %}
    {% if provider.city %}
        <span id="city">{{provider.city}}</span>,
    {% endif %}
    {% if provider.state %}
        <span id="state">{{provider.state}}</span>
    {% endif %}
    {% if provider.zip %}
        <span id="zip">{{provider.zip}}</span>
    {% endif %}
    {% if provider.city or provider.state or provider.zip %}
        <a href="http://maps.google.com/?q={{google|escape}}&amp;t=m">(Show 
        in Google Maps)</a><br />
    {% endif %}
    {# if provider.country = US, "United States" #}
    {# if provider.country = CA, "Canada" #}
</div>

<div id="phones">
    {% if provider.phone_voice %}
        <span id="phone_voice">{{provider.phone_voice}}</span> <em>(voice)</em><br />
    {% endif %}
    {% if provider.phone_tdd %}
        <span id="phone_tdd">{{provider.phone_tdd}}</span> <em>(tdd)</em><br />
    {% endif %}
    {% if provider.phone_fax %}
        <span id="phone_fax">{{provider.phone_fax}}</span> <em>(fax)</em><br />
    {% endif %}
    {% if provider.phone_video %}
        <span id="phone_video">{{provider.phone_video}}</span> <em>(videophone)</em><br />
    {% endif %}
</div>

<div id="contact">
    <p><strong>CONTACT</strong></p>
    {% if provider.contact1_ln %}<ul>{% endif %}
    {% if provider.contact1_ln %}
        <li>{% if provider.contact1_fn %}{{provider.contact1_fn}}{% endif %}
            {% if provider.contact1_mi %}{{provider.contact1_mi}}.
            {% endif %}{{provider.contact1_ln}}{% if provider.contact1_deg %},
            {{provider.contact1_deg}}{% endif %}
            {% if provider.contact1_eml %}
                &lt;<span id="email">{{provider.contact1_eml}}</span>&gt;
            {% endif %}
            {% if provider.contact1_job %}<br />
                <span id="contact_title">{{provider.contact1_job}}</span>
            {% endif %}</li>
    {% else %}
        {% if provider.contact1_eml %}
            <li>&lt;<span id="email">{{provider.contact1_eml}}</span>&gt;</li>
        {% endif %}
    {% endif %}
    {% if provider.contact2_ln %}
        <li>{% if provider.contact2_fn %}{{provider.contact2_fn}}{% endif %}
            {% if provider.contact2_mi %}{{provider.contact2_mi}}.
            {% endif %}{{provider.contact2_ln}}{% if provider.contact2_deg %},
            {{provider.contact2_deg}}{% endif %}
            {% if provider.contact2_eml %}
                &lt;<span id="email">{{provider.contact2_eml}}</span>&gt;
            {% endif %}
            {% if provider.contact1_job %}<br />
                <span id="contact_title">{{provider.contact1_job}}</span>
            {% endif %}</li>
    {% else %}
        {% if provider.contact2_eml %}
            <li>&lt;<span id="email">{{provider.contact2_eml}}</span>&gt;</li>
        {% endif %}
    {% endif %}
    {% if provider.url %}
        <li>URL: <span id="url"><a href="{{provider.url}}">{{provider.url}}</a></span></li>
    {% endif %}
    {% if provider.contact1_ln %}</ul>{% endif %}
</div>

<div id="hours">
    <p><strong>HOURS</strong></p>
    <table>
    <tbody style="vertical-align:top;">
    {% if provider.weekday_hours %}
        <tr>
        <td><em>Weekdays:</em></td>
        <td><span id="weekday_hours">{{provider.weekday_hours}}</span></td>
        </tr>
    {% endif %}
    {% if provider.weekend_hours %}
        <tr>
        <td><em>Weekends:</em></td>
        <td><span id="weekend_hours">{{provider.weekend_hours}}</span></td>
        </tr>
    {% endif %}
    {% if provider.emergency_contact %}
        <tr>
        <td><em>Emergency Contact:</em></td>
        <td><span id="emergency_contact">{{provider.emergency_contact}}</span></td>
        </tr>
    {% endif %}
    </tbody>
    </table>
</div>

<div id="program_type">
    <em>Program type:</em>
    {% ifequal provider.service_context 1 %}
        <span id="service_context">Private practice</span>
    {% endifequal %}
    {% ifequal provider.service_context 2 %}
        <span id="service_context">Psychiatric hospital</span>
    {% endifequal %}
    {% ifequal provider.service_context 3 %}
        <span id="service_context">Residential treatment center for emotionally disturbed children</span>
    {% endifequal %}
    {% ifequal provider.service_context 4 %}
        <span id="service_context">Outpatient mental health clinic or agency</span>
    {% endifequal %}
    {% ifequal provider.service_context 5 %}
        <span id="service_context">Alcohol/substance abuse treatment program</span>
    {% endifequal %}
    {% ifequal provider.service_context 6 %}
        <span id="service_context">Mental health day/night facility</span>
    {% endifequal %}
    {% ifequal provider.service_context 7 %}
        <span id="service_context">Community mental health center or other multi-service mental health facility</span>
    {% endifequal %}
    {% ifequal provider.service_context 8 %}
        <span id="service_context">Vocational/rehabilitation/ILS program</span>
    {% endifequal %}
    {% ifequal provider.service_context 9 %}
        <span id="service_context">School/university program</span>
    {% endifequal %}
    {% ifequal provider.service_context 10 %}
        <span id="other_context">{{provider.other_context}}</span>
    {% endifequal %}
</div>

<div id="overseers">
    <p><strong>TYPE OF ORGANIZATION LEGALLY RESPONSIBLE</strong><br />
    {% ifequal provider.oversight 1 %}
        <span id="oversight">State</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 2 %}
        <span id="oversight">City</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 3 %}
        <span id="oversight">County</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 4 %}
        <span id="oversight">City-County</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 5 %}
        <span id="oversight">State and County</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 6 %}
        <span id="oversight">Hospital District or Authority</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 7 %}
        <span id="oversight">Veterans Administration</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 8 %}
        <span id="oversight">For Profit: Individual</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 9 %}
        <span id="oversight">For Profit: Partnership</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 10 %}
        <span id="oversight">For Profit: Corporation</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 11 %}
        <span id="oversight">Nonprofit: Church-related</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 12 %}
        <span id="oversight">Not-for-profit Corporation</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 13 %}
        <span id="oversight">Other Nonprofit</span></p>
    {% endifequal %}
    {% ifequal provider.oversight 14 %}
        <span id="oversight">{{provider.other_oversight}}</span></p>
    {% endifequal %}
</div>

<div id="credits">
    {% if provider.accreditation %}
        <p><strong>AGENCY ACCREDITATION</strong><br />
        <span id="accreditations">{{provider.accreditation}}</span></p>
    {% endif %}
</div>

<div id="licensed">
    {% if provider.licensure %}
        <p><strong>PRIVATE PRACTITIONER CERTIFICATION/LICENSURE</strong><br />
        <span id="licensure">{{provider.licensure}}</span></p>
    {% endif %}
</div>

<div id="age">
    {% if provider.established %}
        <p><strong>DEAF PROGRAM</strong><br />
        <em>Year established:</em> <span id="established">{{provider.established}}</span></p>
    {% endif %}
</div>

<div id="services">
    <p><strong>SERVICES ROUTINELY AVAILABLE TO DEAF PEOPLE</strong></p>
    {% if provider.private or provider.inpatient or provider.outpatient or provider.hospitalization or provider.day_treatment or provider.addiction_recovery or provider.halfway_house or provider.supported_living or provider.vocational or provider.emergency or provider.videophone or provider.services %}
        <ul>
    {% endif %}
    {% if provider.private %}
        <li>Private patient</li>
    {% endif %}
    {% if provider.inpatient %}
        <li>Inpatient services
        {% if provider.beds %}
            <em>Bed capacity:</em> <span id="beds">{{provider.beds}}</span>
        {% endif %}
        </li>
    {% endif %}
    {% if provider.outpatient %}
        <li>Outpatient services</li>
    {% endif %}
    {% if provider.hospitalization %}
        <li>Hospitalization</li>
    {% endif %}
    {% if provider.day_treatment %}
        <li>Day treatment</li>
    {% endif %}
    {% if provider.addiction_recovery %}
        <li>Addiction recovery</li>
    {% endif %}
    {% if provider.halfway_house %}
        <li>Halfway house</li>
    {% endif %}
    {% if provider.supported_living %}
        <li>Supported living</li>
    {% endif %}
    {% if provider.vocational %}
        <li>Vocational training</li>
    {% endif %}
    {% if provider.emergency %}
        <li>Emergency services</li>
    {% endif %}
    {% if provider.videophone %}
        <li>Videophone</li>
    {% endif %}
    {% if provider.private or provider.inpatient or provider.outpatient or provider.hospitalization or provider.day_treatment or provider.addiction_recovery or provider.halfway_house or provider.supported_living or provider.vocational or provider.emergency or provider.videophone or provider.services %}
        </ul>
    {% endif %}
</div>

<div id="fees">
    <p><strong>FEES</strong></p>
    <table>
    <tbody>
    <tr>
    <td><em>Service fee for deaf clients?</em></td>
    {% if provider.fee %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    </tr>
    <tr>
    <td><em>Fee covered by third party?</em></td>
    {% if provider.fee_covered %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    </tr>
    <tr>
    <td><em>Adjustable fee (sliding scale)?</em></td>
    {% if provider.sliding_scale %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    </tr>
    </tbody>
    </table>
</div>

<div id="employees">
    <p><strong>SERVICE PROVIDERS</strong><br />
    {% if provider.staff %}
        <em>Staff total:</em> <span id="staff">{{provider.staff}}</span>
    {% endif %}
    {% if provider.signers %}
        <em># fluent signers:</em> <span id="signers">{{provider.signers}}</span>
    {% endif %}
    {% if provider.staff or provider.signers %}
        <br />
    {% endif %}
    {% if provider.deaf or provider.hearing or provider.hoh or provider.coda or provider.nah %}
        <em>Service Providers Deafnicity:</em>
    {% endif %}
    {% if provider.deaf or provider.hearing or provider.hoh or provider.coda or provider.nah %}
        <span id="deaf">
    {% endif %}
    {% if provider.deaf %}
        deaf,
    {% endif %}
    {% if provider.hearing %}
        hearing,
    {% endif %}
    {% if provider.hoh %}
        hard of hearing,
    {% endif %}
    {% if provider.coda %}
        CODA,
    {% endif %}
    {% if provider.nah %}
        N/A
    {% endif %}
    {% if provider.deaf or provider.hearing or provider.hoh or provider.coda or provider.nah %}
        </span><br />
    {% endif %}
    {% if provider.interpreting %}
        <em>Interpreting services provided?</em>
        <span id="interpreting">Yes</span>
    {% endif %}
    {% if provider.terp_details %}
        <br /><span id="terp_details">{{provider.terp_details}}</span>
    {% endif %}
    </p>
</div>

<div id="accessibility">
    <p><strong>ACCESSIBILITY</strong><br />
    <em>Assistive technologies available:</em>
    {% if provider.devices_none %}
        <span id="devices_none">None</span>
    {% endif %}
    {% if provider.devices_tdd %}
        <span id="devices_tdd">TTY/TDD</span>,
    {% endif %}
    {% if provider.devices_amp %}
        <span id="devices_amp">amplified phone</span>,
    {% endif %}
    {% if provider.devices_flasher %}
        <span id="devices_flasher">flashing signal for doorbell/phone</span>,
    {% endif %}
    {% if provider.devices_alarm %}
        <span id="devices_alarm">visual signal device for emergencies (fire alarm)</span>,
    {% endif %}
    <br />

    <br /><em>Facilities accessible by wheelchair?</em>
    {% if provider.wheelchair %}
        <span id="wheelchair">Yes</span><br />
    {% else %}
        <span id="wheelchair">No</span><br />
    {% endif %}
    <em>Facilities accessible by public transit?</em>
    {% if provider.transit %}
        <span id="transit">Yes</span></p>
    {% else %}
        <span id="transit">No</span></p>
    {% endif %}
</div>

<div id="blather">
    {% if provider.comments %}
        <p><strong>COMMENTS</strong>
        <br /><span id="comments">{{provider.comments}}</span></p>
    {% endif %}
</div>

{% endfor %}
</article>
</main>
{% endblock %}
