{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Using the directory{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>How to Use this Directory</strong></p>

<p>This easy to use directory was based on the original design by
Willigan and King (1992).  The service providers are listed
alphabetically by state and city.  Appendices were created to 
provide different ways of accessing information, for example
Appendix A organizes programs by names and Appendix B organizes
programs by type, such as private practice, residential 
treatment center, etc.</p>

<p>Service providers were asked to report information on agency
accreditation and professional licenses, on their academic degrees 
and disciplines and on their job titles. While accreditation and
professional licenses are most often required by states as a condition
to providing services to consumers, this information should be
confirmed prior to securing services. Contact information requested
includes telephone, tty, videophone, email and URL.  Appendix D
provides detailed information on using relay services through both
telephone and internet.</p>

<p>The format of individual listings is outlined on the next page.  If
information is not provided in a particular category it means this
information was omitted by the provider or it is not available.</p>
</article>
</main>
{% endblock %}

