{% extends "mhd.html" %}
{% block title %}Mental Health Directory{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center" style="font-size:120%;"><strong>Mental Health Services<br />
For Deaf Persons:<br />
A Resource Directory</strong></p>

<p class="center">5th edition</p>

<p class="center">Department of Counseling<br />
Graduate School and Professional Programs<br />
Gallaudet University<br />
and<br />
Gallaudet Research Institute<br />
Gallaudet University</p>

<hr />

<div style="margin-left: 20%; margin-right: 20%;">
<ul>
<li><a href="/resources/mhd/copyright/">Copyright, credits, etc</a></li>
<li><a href="/resources/mhd/preface/">Preface</a></li>
<li><a href="/resources/mhd/introduction/">Introduction</a></li>
<li><a href="/resources/mhd/howto/">How to Use this Directory</a></li>
<li><a href="/resources/mhd/listings/">Service listings</a></li>
<li><a href="/resources/mhd/search/"><strong>Search for a provider</strong></a></li>
<li><a href="/resources/mhd/updates/">New submissions</a></li>
<li><a href="/resources/mhd/communication/">How to Communicate</a></li>
<li><a href="/resources/mhd/solicitation/">Request for Participation</a></li>
<!-- li><span class="new">NEW:</span>
    <a href="/resources/mhd/conference/">November 2, 2009: Behavioral Health conference</a></li -->
</ul>
</div>
</article>
</main>
{% endblock %}
