{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Introduction{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>Introduction</strong></p>

<p>This directory is a resource of and for mental health professionals
and for deaf consumers.  It was developed to provide a comprehensive
listing of services and programs for deaf people in the United States
and Canada.  There are changes in this directory since the 2003
edition, with several new providers listed and others no longer
present.  It is of particular interest to note that the list of
private practitioners has increased by xxxx. (CHECK THIS)</p>

<p>Every effort was made to provide as complete a directory as
possible, however since information was self-reported, it was
dependent on agencies and service providers finding our call for
participation and completing and returning our questionnaires.
Therefore this directory is not seen as a complete listing of mental
health services for the deaf and hard of hearing in the United States
and Canada, but rather as a beginning point for finding services and
doing further research on your own.  What we did was to contact
agencies and individuals who were listed in the 2003 directory and to
put notices of our intent to update the directory, on the Gallaudet
University Department of Counseling website, on the ADARA website, in
ADARA newsletters and at their 2005 Conference.</p>

<p>Because information presented in this directory was self-reported,
we cannot assume responsibility for the accuracy or the currency of
the information.  However, we believe that both accuracy and currency
are important and we seek ways to address that failing. It is our hope
that future additions, deletions, and changes to this resource
directory will be found on-line and that internet technology will
allow for more current and accurate information.</p>

<p>We also cannot assume responsibility for the quality of services
provided as there was no intention to assess quality of services,
appropriate professional licenses or certifications to provide
services, accessibility, or signing ability of providers. Therefore,
the information in this directory is not an endorsement of any agency
or individual listed. It is the responsibility of the consumer to
check qualifications, including license and certification and to ask
about, as well as to evaluate their own experiences, of providers'
accessibility and their signing skills.  We encourage consumers to
seek additional references and information from the Deaf community in
their areas to substantiate the quality and accessibility of services
listed in this directory.</p>
</article>
</main>
{% endblock %}
