{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Listings{% endblock %}

{% block styles %}
<style type="text/css">
td         {vertical-align: top;}
td.country {padding-top:    1em;
            text-align:     center;}
td.state   {padding-top:    1em;}
td.city    {padding-left:   2em;}
td.listing {padding-left:   2em;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>MENTAL HEALTH DIRECTORY<br />
Listing of Programs and Providers</strong></p>

<p>The following is a list of programs and providers for both the
United States and Canada. The entries are organized alphabetically by
state (or province) and city.</p>

<blockquote>
<p><strong>Agencies are indicated with boldface type.</strong><br />
<em>Practitioners are indicated with italics.</em></p>
</blockquote>

<p>Click the name of the provider for more information.</p>

{% regroup providers by country.name as nations %}
<table cellpadding="0" cellspacing="0">
{% for nation in nations reversed %}
  <tr>
  <td class="country" colspan="2"><strong>{{nation.grouper|upper}}</strong></td>
  </tr>
  {% regroup nation.list by state.name as provinces %}
  {% for province in provinces %}
    <tr>
    <td class="state" colspan="2"><strong>{{province.grouper}}</strong></td>
    </tr>
    {% regroup province.list by city as towns %}
    {% for town in towns %}
      <tr>
      <td class="city">{{town.grouper}}</td>
      <td class="listing">
      {% for unit in town.list %}
        <a href="/resources/mhd/details/{{unit.id}}/">
        {% if unit.practitioner_ln %}
          <em>{{unit.practitioner_ln}}{% if unit.practitioner_fn %}, {{unit.practitioner_fn}}{% endif %}
          {% if unit.practitioner_mi %} {{unit.practitioner_mi}}.{% endif %}</em>
        {% else %}
          <strong>{{unit.institution}}</strong>
        {% endif %}
        </a><br />
      {% endfor %}
      </td>
      </tr>
    {% endfor %}
  {% endfor %}
{% endfor %}
</table>
</article>
</main>
{% endblock %}
