{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Preface{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>Preface</strong></p>

<p>The first publication of Mental Health Services for Deaf People was
edited by Barbara A. Willigan and Susan King of the Gallaudet Research
Institute (GRI) and was jointly published in 1992 by the GRI, the
American Deafness and Rehabilitation Association, and the University
of California, San Francisco, Center on Deafness.  Through the work of
these persons and organizations, the first concise directory of mental
health services for deaf and hard of hearing people in North America,
was born.  Since 1992, the directory has undergone revisions every few
years, in ..., ..., ... and ....  The most recent revision, under the
editorship of Diane Morton and Caroline Kendall, was in 2003.</p>

<p>This edition of the directory is the result of collaboration and
support from several individuals.  The Gallaudet Research Institute
has remained a constant player throughout the years this directory has
been published; Susan King and Senda Benaissa provided valuable
support and assistance for all parts of this project and Kevin Cole
provided internet and web page support.  Roger Beach, chair of The
Department of Counseling, under the Graduate School and Professional
Programs, has given his full support and encouragement for this
project.</p>

<p>We thank all of the many mental health service providers who
participated in this project.  It is you who truly made this directory
possible.</p>

<p>Linda Risser Lytle, Ph.D.<br />
Department of Counseling</p>

<p>LaNina Mompremier<br />
Department of Clinical Psychology</p>

<p>Crystal Bradley<br />
Department of Counseling</p>

<p>Colleen Owens, M.A.<br />
Department of Counseling</p>
</article>
</main>
{% endblock %}
