{% extends "mhd.html" %}
{% block title %}Search {% if query %}Results{% endif %}{% endblock %}
{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;}
legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
#state {width: 2em;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
  <form action="." method="get">
    <fieldset>
      <legend>Search for service providers</legend>
      <label for="state">State:</label>
      <input type="text" id="state" name="state" maxlength="2" 
             value="{{query|escape}}" /> 
    </fieldset>
    <p><button type="submit">Submit search</button></p>
  </form>

  {% if query %}
    <h3 class="center">Mental health service providers in {{query|escape|upper}}</h3>
    {% if results %}
      <p>The following mental health service providers were found.</p>
      <blockquote>
      <p><strong>Agencies are indicated with boldface type.</strong><br />
      <em>Practitioners are indicated with italics.</em></p>
      </blockquote>
      <table cellspacing="0" cellpadding="3">
      {% for provider in results %}
        <tr>
          <td>{{provider.city}}:</td>
          <td><a href="/resources/mhd/details/{{provider.id}}/">
          {% if provider.practitioner_ln %}
            <em>{{provider.practitioner_ln}}{% if provider.practitioner_fn %}, {{provider.practitioner_fn}}{% endif %}
            {% if provider.practitioner_mi %} {{provider.practitioner_mi}}.{% endif %}</em>
          {% else %}
            <strong>{{provider.institution}}</strong>
          {% endif %}
        </a></td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>No providers found</p>
    {% endif %}
  {% endif %}
</article>
</main>
{% endblock %}
