{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Solicitation{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p>October 13, 2005</p>

<p>Dear Director of Deaf Services,</p>

<p>It has been two years since the publication of the Mental Health
Services for Deaf People: A Resource Directory (2003 Edition),
co-edited by Diane Morton, Ph.D. and Caroline Kendall, Ph.D.  Many
service providers have found the directory helpful.  However, each
year new agencies and practitioners are established, and contact
information is changed.  Therefore, we are working to update the
directory in order to provide you with a concise list of mental health
services for deaf and hard of hearing persons in North America.  In
previous years, service providers have expressed interest in having
the directory available online.  This year we are collaborating
accomplish this task.</p>

<p>If you are a practitioner or a program providing mental health
services to deaf and hard of hearing consumers, we invite you to
submit an entry form to be included in the 2005 edition of the Mental
Health Services for Deaf People: A Resource Directory.  Enclosed is
the form necessary for inclusion in the directory.  A secure site has
also been made available for you to submit your forms online at
https://securedgspp.gallaudet.edu/mhps.  After receipt, information
will be published as it appears on the entry form, but in a different
format.</p>

<p>If you know of a practitioner or program that serves deaf and hard of
hearing persons who has not received an entry (survey) form and would
like to be included, please direct them to the website above or they
may contact us directly.</p>

<p>If you have any questions or comments, please email me at <a
href="mailto:linda.lytle@gallaudet.edu">linda.lytle@gallaudet.edu</a>
or call (202) 651-5515 v/tty.</p>

<p>Sincerely,</p>

<p>Linda Lytle, Ph.D.<br />
Assistant Professor<br />
<a
href="mailto:linda.lytle@gallaudet.edu">linda.lytle@gallaudet.edu</a></p>

<p>Student Assistants:<br />
Crystal Bradley<br />
Colleen Owens<br />
LaNi&ntilde;a Williams</p>
</article>
</main>
{% endblock %}
