/* practitioner, institution                                             */
#practice {
    font-weight: bold;
    font-size: bigger;
    border-bottom: thin solid black;
}

/* department, street, suite, city, state, zip, (country)                */
#address {
    margin-left: 4em;
}

/* phone_voice, phone_tdd, phone_fax, phone_pager, phone_video, ip_video */
#phones {
    margin-left: 4em;
}

/* weekday_hours, weekend_hours, emergency_contact, emergency_phone,     *
 * emergency_phone_type                                                  */
#hours {
    display: table;
}
#hours ul {
    display: table-row;
}
#hours li {
    display: table-cell;
}

/* service_context, other_context */
#program {
}
