{% extends "mhd.html" %}
{% block title %}Mental Health Directory: Updates{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>Note to Service Providers<br />
Additions, Corrections and Deletions</strong></p>

<!-- This directory may contain information this is no longer
current. If you would like to change, delete, or add a listing, there
are several ways you can do this.  You can complete the survey form
found in Appendix ?? and mail it to the address below.  You can
complete the form through the secure internet site at
https://securedgspp.gallaudet.edu/mhps.  You can also update or delete
your information on the online directory found at xxx/x/x/x/x.  We
strongly encourage you to use this last method to ascertain the most
current and accurate information is available. -->

<p>This directory may contain information this is no longer current.
If you would like to change, delete, or add a listing, you can
complete the <a
href="/Publications/Forms/DirectoryListingForm.pdf">survey form</a>,
then print it and mail or fax it to the address below.</p>

<p>Thank you.</p>

<p>Linda Risser Lytle, Ph.D.<br />
Department of Counseling<br />
Gallaudet University<br />
800 Florida Ave., NE<br />
Washington, DC  20002</p>
</article>
</main>
{% endblock %}
