<!-- Generated via vform.as_table() by Kevin Cole 2013.12.20. See debug.py -->

<tr><th><label for="id_visitor_set-0-surname">Family name:</label></th>
    <td><input id="id_visitor_set-0-surname"
               name="visitor_set-0-surname"
               maxlength="80" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-givenname">Given name:</label></th>
    <td><input id="id_visitor_set-0-givenname"
               name="visitor_set-0-givenname"
               maxlength="80" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-middlename">Middle name(s):</label></th>
    <td><input id="id_visitor_set-0-middlename"
               name="visitor_set-0-middlename"
               maxlength="80" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-occupation">Occupation:</label></th>
    <td><input id="id_visitor_set-0-occupation"
               name="visitor_set-0-occupation"
               maxlength="80" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-gender">Gender:</label></th>
    <td><input id="id_visitor_set-0-gender"
               name="visitor_set-0-gender"
               maxlength="1" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-dob">Date of birth:</label></th>
    <td><input id="id_visitor_set-0-dob"
               name="visitor_set-0-dob"
               type="text" class="datepicker" /></td></tr>
<tr><th><label for="id_visitor_set-0-citizenship">Country of
    citizenship:</label></th>
    <td><select id="id_visitor_set-0-citizenship"
                name="visitor_set-0-citizenship">
<option value="" selected="selected">---------</option>
<option value="4">Afghanistan</option>
<option value="8">Albania</option>
<option value="12">Algeria</option>
<option value="887">Yemen</option>
<option value="894">Zambia</option>
<option value="716">Zimbabwe</option>
</select></td></tr>
<tr><th><label for="id_visitor_set-0-native">Country of birth:</label></th>
    <td><select id="id_visitor_set-0-native"
                name="visitor_set-0-native">
<option value="" selected="selected">---------</option>
<option value="4">Afghanistan</option>
<option value="8">Albania</option>
<option value="12">Algeria</option>
<option value="887">Yemen</option>
<option value="894">Zambia</option>
<option value="716">Zimbabwe</option>
</select></td></tr>
<tr><th><label for="id_visitor_set-0-residence">Country of current
    residence:</label></th>
    <td><select id="id_visitor_set-0-residence"
                name="visitor_set-0-residence">
<option value="" selected="selected">---------</option>
<option value="4">Afghanistan</option>
<option value="8">Albania</option>
<option value="12">Algeria</option>
<option value="887">Yemen</option>
<option value="894">Zambia</option>
<option value="716">Zimbabwe</option>
</select></td></tr>
<tr><th><label for="id_visitor_set-0-passport">Passport number:</label></th>
    <td><input id="id_visitor_set-0-passport"
               name="visitor_set-0-passport"
               maxlength="80" type="text" size="58" /></td></tr>
<tr><th><label for="id_visitor_set-0-DELETE">Delete:</label></th>
    <td><input id="id_visitor_set-0-DELETE"
               name="visitor_set-0-DELETE"
               type="checkbox" />
        <input id="id_visitor_set-0-id"
               name="visitor_set-0-id"
               type="hidden" />
        <input id="id_visitor_set-0-inquiry"
               name="visitor_set-0-inquiry"
               type="hidden"
               value="6" /></td></tr>
