{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
#description         {margin: 1.2em auto;}

.balance-text {text-wrap: balanced;}

.flow    {background-color: transparent;
          border:           none;
          margin:           1.2em auto;}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block content %}
<main role="main">
{% if project.stage < 2 %}
<article id="essence" class="draft" role="main">
{% else %}
<article id="essence" role="main">
{% endif %}

<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

{% if duplicate %}
<p style="color:#7f0000; background-color:#ffffaf;"><strong>ERROR:</strong>
A project with that title already exists.  The current abstract is shown below.
To handle this error, see the instructions at the bottom after the abstract.</p>
{% endif %}

<section id="title">
<h1 class="center balance-text" style="font-size:200%;">{{project.title|safe}}</h1>
</section>


{% if project.status or project.start_date or project.end_date %}
<section id="status">
<table>
<tbody>
  {% if project.status %}
    <tr>
    <td><strong>Status:</strong> </td>
    {% if project.status == 1 %}
      <td>Ongoing</td>
    {% endif %}
    {% if project.status == 2 %}
      <td>Completed</td>
    {% endif %}
    {% if not project.status %}
      <td> </td>
    {% endif %}
    <td> </td>
    </tr>
  {% endif %}

  {% if project.begin_date %}
    <tr>
    <td><strong>Start date:</strong> </td>
    <td>{{project.begin_date|date:"F"}}</td>
    <td>{{project.begin_date|date:"Y"}}</td>
    </tr>
  {% endif %}

  {% if project.end_date %}
    <tr>
    <td><strong>End Date:</strong> </td>
    <td>{{project.end_date|date:"F"}}</td>
    <td>{{project.end_date|date:"Y"}}</td>
    </tr>
  {% endif %}
</tbody>
</table>
</section>
{% endif %}

<section id="description">
<h3>Description</h3>

<div>{{project.description|safe}}</div>
</section>

<section id="principal_investigators">
<h3>Principal investigators</h3>

<ul>
{% for leader in leaders %}
  <li><strong><a href="/resources/ragu/investigator/{{leader.staff.person.id}}">{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}&bullet;
        {% if leader.staff.program %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a> -
          {% else %}
            {{leader.staff.department.name|safe}} -
          {% endif %}
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a>
          {% else %}
            {{leader.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if leader.staff.agency.name != "Gallaudet University" and leader.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if leader.staff.agency.homepage %}
          <a href="{{leader.staff.agency.homepage}}">{{leader.staff.agency.name|safe}}</a>
        {% else %}
          {{leader.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
{% for principal in principals %}
  <li><strong><a href="/resources/ragu/investigator/{{principal.staff.person.id}}">{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}&bullet;
        {% if principal.staff.program %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a> -
          {% else %}
            {{principal.staff.department.name|safe}} -
          {% endif %}
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a>
          {% else %}
            {{principal.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if principal.staff.agency.name != "Gallaudet University" and principal.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if principal.staff.agency.homepage %}
          <a href="{{principal.staff.agency.homepage}}">{{principal.staff.agency.name|safe}}</a>
        {% else %}
          {{principal.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if others %}
<section id="other_investigators">
<h3>Additional investigators</h3>
<ul>
{% for other in others %}
  <li><strong><a href="/resources/ragu/investigator/{{other.staff.person.id}}">{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}&bullet;
        {% if other.staff.program %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a> -
          {% else %}
            {{other.staff.department.name|safe}} -
          {% endif %}
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a>
          {% else %}
            {{other.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if other.staff.agency.name != "Gallaudet University" and other.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if other.staff.agency.homepage %}
          <a href="{{other.staff.agency.homepage}}">{{other.staff.agency.name|safe}}</a>
        {% else %}
          {{other.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if foci %}
<section id="priorities">
<h3>Priorities addressed</h3>

<ul>
{% for focus in foci %}
  <li><a href="/resources/ragu/priority/{{focus.priority.id}}">{{focus.priority.summary|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if funders %}
<section id="funders">
<h3>Funding sources</h3>

<ul>
{% for funder in funders %}
  <li><a href="/resources/ragu/funder/{{funder.funder.id}}">{{funder.funder.name|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if products %}
<section id="products">
<h3>Products</h3>

{% for product in products %}
{% ifchanged product.reported %}
<p style="margin-left:2em;"><strong>{{product.reported}}</strong></p>
{% endifchanged %}
<div style="margin-left:4em;">{{product.description|safe}}</div>
{% endfor %}
</section>
{% endif %}

{% if request.session.authorized %}
  {% if project.is_live %}
    {% if duplicate %}
        <p style="color:#7f0000; background-color:#ffffaf;">ERROR: Either
        create a new project with a different title or copy the following
        description and paste it into the description field after pressing
        the <button>&larr; Edit project</button> below.</p>
        <div class="box" style="margin-top:1.5em;">
        <p>{{duplicate|safe}}</p>
        </div>
    {% endif %}

    <form action="." method="post">
    <fieldset class="flow">
    <div style="width:100%;">
      {% if project.stage == 0 or editor.responsibility > 2 %}
      <div style="width:33%; float:left; text-align:center;">
        <button type="button"
                onclick="window.location.replace('/resources/ragu/update_project/{{project.id}}')">&larr;
        Edit project</button>
      </div>
      {% endif %}

      <div style="width:34%; float:left; text-align:center;">
        <button type="button"
                onclick="window.location.replace('/resources/ragu/add_product/')">&rarr;
        Add products</button>
      </div>

      <div style="width:33%; float:left; text-align:center;">
        {% if project.stage == 0 %}
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/1/')">&rarr;
        Submit for Proofreading</button>
        <br />&nbsp;
        {% endif %}
        {% if project.stage == 1 and editor.responsibility > 2 %}
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/2/')">&rarr;
        Approve for Web Display</button>
        {% endif %}
        {% if project.stage == 2 and editor.responsibility > 3 %}
        Publish:
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/13/')">&uarr;
        Accept</button>
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/23/')">&darr;
        Reject</button>
        {% endif %}
        {% if project.stage == 4 and editor.responsibility > 3 %}
        Renew:
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/13/')">&uarr;
        Accept</button>
        <button type="button"
                onclick="window.location.replace('/resources/ragu/queue/project/{{project.id}}/23/')">&darr;
        Reject</button>
        {% endif %}
      </div>
    </div>
    </fieldset>
    </form>

  <div style="width:70%; margin:auto;">
  {% if project.stage == 1 %}
    <p class="box center">Submitted for proofreading and web approval.</p>
  {% endif %}
  {% if project.stage == 2 %}
    <p class="box center">Approved for web display. Submitted for book inclusion.</p>
  {% endif %}
  {% if project.stage == 3 %}
    <p class="box center">Approved for web display and included in book.</p>
  {% endif %}
  {% if project.stage == 4 %}
    <p class="box center">Updated book abstract. Submitted for re-inclusion in book.</p>
  {% endif %}
  </div>

  <table style="width:100%">
  <tbody style="width:100%">
  <tr style="font-size:75%; color:#a0a0a0;">
    <td style="width:10%; text-align:left;"><em>&lt;ID:
      {{project.id}}&gt;</em></td>
    <td style="width:45%; text-align:center;"><em>&lt;Owner:
      {{project.department|safe}}&gt;</em></td>
    <td style="width:45%; text-align:right;"><em>&lt;Last changed:
      {{project.changed|date:"D Y-m-d, h:i A"}}&gt;</em></td>
  </tr>
  <tbody>
  </table>
  {% else %}
    <p class="box center">This is not a "live" version of this page. Do NOT edit.</p>
  {% endif %}
{% endif %}

</article>
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
