{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
#description         {margin: 1.2em auto;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><span style="font-size:120%; font-weight:bold;">Research &amp; Scholarly Achievement<br />
at Gallaudet University</span></p>

<hr />

<section id="title">
<h2>{{project.title|safe}}</h2>
</section>

{% if project.status or project.start_date or project.end_date %}
<section id="status">
<table>
<tbody>
  {% if project.status %}
    <tr>
    <td><strong>Status:</strong> </td>
    {% if project.status == 1 %}
      <td>Ongoing</td>
    {% endif %}
    {% if project.status == 2 %}
      <td>Completed</td>
    {% endif %}
    </tr>
  {% endif %}

  {% if project.begin_date %}
    <tr>
    <td><strong>Start date:</strong> </td>
    <td>{{project.begin_date|safe}}</td>
    </tr>
  {% endif %}

  {% if project.end_date %}
    <tr>
    <td><strong>End Date:</strong> </td>
    <td>{{project.end_date|safe}}</td>
    </tr>
  {% endif %}

</tbody>
</table>
</section>
{% endif %}

<section id="description">
<div>{{project.description|safe}}</div>
</section>

{% if foci %}
<section id="priorities">
<h3>Priorities addressed</h3>
<ul>
{% for focus in foci %}
  <li><a href="/resources/ragu/priority/{{focus.priority.id}}">{{focus.priority.summary|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if funders %}
<section id="funders">
<h3>Funding sources</h3>

<ul>
{% for funder in funders %}
  <li>{{funder.funder.name|safe}}</li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if products %}
<section id="products">
<h3>Products</h3>

{% for product in products %}
  {{product.description|safe}}
{% endfor %}
</section>
{% endif %}

<section id="add_investigators">
<h3>Add Investigators</h3>
</section>

</article>
</main>
{% endblock %}
