{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block scripts %}
  {% load wysiwyg %}
  {% wysiwyg_setup %}
  <script type="text/javascript" src="/scripts/ragulib.js"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
.error   {color:            #af0000;
          font-weight:      bold;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

.listing {font-size: 100%;
          padding:   0px 1em;
          border:1px solid black;
          border-collapse:collapse;
}

table, tbody, tr, th, td {border:none; vertical-align:top;}
table, tbody  {width: 100%;}
ul            {list-style-type:  none;
               list-style-image: none;
               padding:          0px;
               margin:           0px;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffff;
          border:           thin solid #8b4513;}

select   {font-family:      fixed;
          background-color: #ffffff;
          width:            100%;
          border:           thin solid #8b4513;}

input:checked {font-weight:     bold;}
</style>
{% endblock %}

{% block content %}

<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><big><strong>Research &amp; Scholarly Achievement<br />
at Gallaudet University</strong></big></p>

<h2>{{project.title|safe}}</h2>

{% if products %}
<table class="listing">
  {% for product in products %}
   <tr><td class="listing">{{product.description|safe}}</td></tr>
  {% endfor %}
</table>
{% endif %}

<div class="box">
<p>If you have finished entering products, proceed to the
review of your project entry, by clicking the button below.</p>

<p class="center" style="text-align:center;">
<button type="button" onclick="window.location.replace('/resources/ragu/abstract/{{project.id}}')">Review project</button>
<br /><strong>(Does NOT save)</strong>
</p>
</div>

<form action="." method="post">
  {% csrf_token %}
  {{form.non_field_errors}}

  <fieldset>
  <legend>Add Product</legend>

  <p>Enter a single product. Provide a <strong>complete citation</strong> in 
  APA format. Click "Show APA formatting help" below if you need help
  formatting your product. You <span 
  style="text-decoration:underline; font-weight:bold">MUST</span> choose a 
  classification for the product as well.  At the bottom of the page, click
  <button type="button">Save &rarr;</button> button to save the current
  product.</p>

  <p>When you have finished entering products, click the
  <button type="button">Review</button> button to see your completed
  abstact. If you like what you see, click the <button
  type="button">Submit for review</button> button on that screen and 
  a reviewer will be notified. Once you have submitted for review,
  you will <span style="text-decoration:underline;
  font-weight:bold">NOT</span> be allowed to change the text.</p>

  <hr />

  <p class="center"><button id="citationHelp"
  onclick="return citationHelper();">Show APA formatting help</button></p>

  <div id="SoCM" style="width:760px; display:none;" class="center">
  <p style="text-align:left;">Use <em>Son of Citation Machine</em>
  below, to create a bibliographic entry for your product in APA
  format.  After filling in the data and clicking the <button>Make
  Citation</button> button at the bottom, copy and paste the text into
  the citation box below.</p>

  <iframe src="http://citationmachine.net/index2.php?reqstyleid=2&newstyle=2&stylebox=2"
          width="760" height="800" seamless="seamless"></iframe>
  </div>

  <table>
  <tbody>
  <tr>
    <th colspan="2"><label for="id_description">Citation</label>:</th>
  </tr>
  <tr>
    <td colspan="2">{{form.description|safe}}</td>
  </tr>
  {% if form.description.errors %}
    <tr>
    <td colspan="2">{% for error in form.description.errors %}
          <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</td>
    </tr>
  {% endif %}
  </tbody>
  </table>
  </fieldset>

  <fieldset>
  <legend>Classify Product</legend>
  <table>
  <tbody>
  <tr>
    <th style="width:25%;">Fiscal Year Reported:</th>
    <td style="width:75%;">{{form.reported|safe}}
        {% if form.reported.errors %}
          {% for error in form.reported.errors %}
            <br /><span class="error">&bull; {{error}}</span>
          {% endfor %}
        {% endif %}</td>
  </tr>
  <tr>
    <th>Peer-reviewed?</th>
    <td>{{form.peer_reviewed|safe}}
        {% if form.peer_reviewed.errors %}
          {% for error in form.peer_reviewed.errors %}
            <br /><span class="error">&bull; {{error}}</span>
          {% endfor %}
        {% endif %}</td>
  </tr>
  <tr>
    <th><label for="id_classification">Classification</label>:</th>
    <td>{{form.classification|safe}}
        {% if form.classification.errors %}
          {% for error in form.classification.errors %}
            <br /><span class="error">&bull; {{error}}</span>
          {% endfor %}
        {% endif %}</td>
  </tr>

  </tbody>
  </table>

  </fieldset>

  <fieldset class="flow">
  <div style="width:100%">
    <div style="width:33%; float:left; text-align:center;">
      <button type="button" onclick="window.history.back()">&larr; Back</button>
    </div>
    <div style="width:33%; float:left; text-align:center;">
      <button type="submit">Save product &rarr;</button>
    </div>
    <div style="width:33%; float:left; text-align:center;">
      <button type="button" onclick="window.location.replace('/resources/ragu/abstract/{{project.id}}')">Review project</button>
      <br /><strong>(Does NOT save)</strong>
    </div>
  </div>
  </fieldset>

</form>

{% wysiwyg_editor "id_description" %}

</article>
</main>
{% endblock %}
