{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<!-- The following two style sheets were originally at:
       http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css
       http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css -->

<link href="/CSS/jquery/jquery-ui.css"
      type="text/css"
      rel="stylesheet"
      media="screen" />
<link href="/CSS/jquery/ui.theme.css"
      type="text/css"
      rel="stylesheet"
      media="screen" />

<style type="text/css">
<!-- Begin jQuery UI Autocomplete restyling -->
.ui-widget {font-family: "Lucida Console", Monaco, monospace;
            font-size: 1.1em;}
.ui-autocomplete-input {font-family: "Lucida Console", Monaco, monospace;}

.ui-helper-hidden-accessible {display: none;}  /* prevent result count */

.ui-autocomplete   {font-family: "Lucida Console", Monaco, monospace;
                    max-height: 100px;
                    overflow-y: auto;
                    overflow-x: hidden;}       /* prevent horizontal scrollbar */

ul.ui-autocomplete {font-family: "Lucida Console", Monaco, monospace;
                    position:         fixed;
                    width:            400px;
                    margin:           0px;
                    padding:          0px 0px 0px 10px;
                    list-style-type:  none;
                    list-style-image: none; 
                    background-color: #ffffff;
                    border: 1px solid #00007f;}

li.ui-menu-item    {font-family: "Lucida Console", Monaco, monospace;}

li.ui-menu-item a,
li.ui-menu-item a:hover
                   {font-family: "Lucida Console", Monaco, monospace;
                    background-color: #ffffff; 
                    color:            #0000ef;
                    text-decoration:  none;
                    width:            398px;
                    height:           20px;}
<!-- End jQuery UI Autocomplete restyling -->

input    {font-family:      "Lucida Console", Monaco, monospace;
          background-color: #ffffff;
          border:           thin solid #8b4513;}

select   {font-family:      "Lucida Console", Monaco, monospace;
          background-color: #ffffff;
          width:            100%;
          border:           thin solid #8b4513;}

textarea {font-family:      "Lucida Console", Monaco, monospace;
          background-color: #ffffff;
          width:            100%;
          border:           thin solid #8b4513;}

input:checked {font-weight:     bold;}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
        type="text/javascript"></script>
<script src="https://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js"
        type="text/javascript"></script>
<script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#ldap")
    .autocomplete({source:"/resources/ragu/api/autoname/", 
                   delay:0,
                   minLength:1,});
});
</script>
{% endblock %}

{% block content %}

{% if request.session.authorized %}
  <main role="main">
  <article id="essence" role="main">
  <h1 class="center">Research &amp; Scholarly Achievement<br />
  at Gallaudet University</h1>
  
  <form action="." method="get">
  <div class="ui-widget">
    <label for="ldap">Name: </label>
    <input type="text" id="ldap" name="ldap" />
  </div>
  </form>
  
  </article>
  </main>
{% else %}
  <script type="text/javascript">
    window.location.replace("/resources/ragu/internal_use");
  </script>
{% endif %}
{% endblock %}
