{% extends "barebones.html" %}
{% block links %}
{% comment %}
<!-- Use Google's font service -->
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
{% endcomment %}
{% endblock %}

{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
{% include "ragu/book.css" %}
</style>
{% endblock %}

{% comment %}
  {% block scripts %}
    <!-- Making use of Adobe's Typekit service to add Adobe Garamond Pro -->
    <script type="text/javascript" src="//use.typekit.net/nxs3myu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    "Garamond" was "adobe-garamond-pro", "Adobe Garamond Regular",
    "Bitstream Charter", "URW Palladio L", "Palatino", "Palatino
    Linotype", "Book Antiqua", "serif"

    "Helvetica" was "Liberation Sans", "Nimbus Sans L", "FreeSans",
    "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
  {% endblock %}
{% endcomment %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<main role="main">
<article id="contents" class="cbr" role="main">
{% include "ragu/essay-preface.html" %}
{% include "ragu/essay-overview.html" %}
</article>

<article id="gallaudet_priorities" role="main">
{% include "ragu/essay-priorities.html" %}

<section id="priority_list">
<ol>
{% for priority in priorities %}
<li style="margin: auto auto 1.2em auto;">
    <span style="font-weight:bold;">{{priority.summary|safe}}</span><br />
    {{priority.description|safe}}<br />
    [{{priority.sum}} project{{priority.sum|pluralize}}]</li>
{% endfor %}
</ol>
</section>

<p class="cbr">The following table lists all FY {{fy}} research and
demonstration projects with cross-references to these research
priorities. The projects are done by Gallaudet faculty, staff and
students, as well as collaborators on Gallaudet's externally funded
research grants.</p>
</article>

<article id="grid" role="main">
  <section id="title">
  <p class="figurehead" style="text-align:center;">Research Projects
  Organized by Research Priorities</p>
  </section>

  <section id="project_grid">

  <table>
  <thead style="text-align:center;">
  <tr>
  <th scope="col" rowspan="2">PROJECT</th>
  <th id="research_priorities" colspan="13">PRIORITIES (Numbers
  correspond to priorities earlier in this section)</th>
  </tr>
  <tr>
    {% for tip in tips %}
      <th id="{{tip.id}}" scope="col" headers="research_priorities"
          style="width:1.5em;">{{tip.id}}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in grid %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td>{{ row.project.title|safe }}</td>
    {% for priority in row.priorities %}
      {% if priority %}
        <td style="font-size:200%; text-align:center"><span class="dot">@</span></td>
      {% else %}
        <td style="font-size:200%; text-align:center;">&nbsp;</td>
      {% endif %}
  {% endfor %}
  </tr>
  {% endfor %}
  <tr>
  <td><strong>Totals:</strong> {{grid|length}}
  project{{grid|pluralize}} reported</td>
  {% for priority in priorities %}
    <td style="text-align:center;">{{priority.sum}}</td>
  {% endfor %}
  </tr>
  </tbody>
  </table>
  </section>
</article>

<article id="student_research" role="main">
{% include "ragu/essay-students.html" %}
</article>

{% include "ragu/essay-centers.html" %}

{% for center in centers %}
{% if center.abstracts or center.outputs %}
<article id="center.{{forloop.counter}}" role="main">
<h2>{{center.department.name|safe}}</h2>

{% if center.department.description %}
<section id="center.{{forloop.counter}}.about_us">
{{center.department.description|safe}}
</section>
{% endif %}

{% if center.abstracts %}
<h3>Research Projects</h3>
{% for abstract in center.abstracts %}
{% if abstract.phantom %}
  {% if abstract.project.stage != 3 %}
    <section class="draft" role="main">
  {% else %}
    <section role="main">
  {% endif %}
  <section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
    <h4>{{abstract.project.title|safe}}<br />
    <span style="font-weight:normal; color:#000000; font-style:italic;">See in {{abstract.project.department.name|safe}}</span></h4>
  </section>
  </section>
{% else %}
{% if abstract.project.stage != 3 %}
<section class="draft" role="main">
{% else %}
<section role="main">
{% endif %}

{% comment %}<hr class="mini" />{% endcomment %}

<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<h4>{{abstract.project.title|safe}}</h4>
</section>

{% if abstract.project.status or abstract.project.start_date or abstract.project.end_date %}
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.status">
<p>
{% if abstract.project.status %}
  <strong>Status:</strong>
  {% if abstract.project.status == 1 %}
    Ongoing
  {% endif %}
  {% if abstract.project.status == 2 %}
    Completed
  {% endif %}
{% endif %}

{% if abstract.project.begin_date %}
  <br /><strong>Start date:</strong>
  {{abstract.project.begin_date|date:"F"}}
  {{abstract.project.begin_date|date:"Y"}}
{% endif %}

{% if abstract.project.end_date %}
  <br /><strong>End Date:</strong>
  {{abstract.project.end_date|date:"F"}}
  {{abstract.project.end_date|date:"Y"}}
{% endif %}
</p>
</section>
{% endif %}

<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.description">
<div>{{abstract.project.description|safe}}</div>
</section>

<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.principal_investigators">
<h5>Principal investigators</h5>

<ul>
{% for leader in abstract.leaders %}
  <li><strong>{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}
        &bullet;
        {% if leader.staff.program %}
          {{leader.staff.department.name|safe}} -
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {{leader.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  leader.staff.agency.name != "Gallaudet University" and leader.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{leader.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
{% for principal in abstract.principals %}
  <li><strong>{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}
        &bullet;
        {% if principal.staff.program %}
          {{principal.staff.department.name|safe}} -
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {{principal.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  principal.staff.agency.name != "Gallaudet University" and principal.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{principal.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if abstract.others %}
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.other_investigators">
<h5>Additional investigators</h5>
<ul>
{% for other in abstract.others %}
  <li><strong>{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}
        &bullet;
        {% if other.staff.program %}
          {{other.staff.department.name|safe}} -
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {{other.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  other.staff.agency.name != "Gallaudet University" and other.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{other.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.funders %}
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.funders">
<h5>Funding sources</h5>

<ul>
{% for funder in abstract.funders %}
  <li>{{funder.funder.name|safe}}</li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.products %}
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.products">
<h5>Products</h5>

{% for product in abstract.products %}
{{product.description|safe}}
{% endfor %}
</section>
{% endif %}

</section>
{% endif %}
{% endfor %}
{% endif %}

{% if center.outputs %}
<section id="center.{{forloop.counter}}.output">
<h3>Scholarly and Creative Activity</h3>

{% for output in center.outputs %}
  {% if output.lonley.stage != 3 %}
  <section class="draft" role="main">
  {% else %}
  <section role="main">
  {% endif %}
  {% for product in output.products %}
    {{product.description|safe}}
  {% endfor %}
  </section>
{% endfor %}
</section>
{% endif %}
{% comment %}<hr class="maxi" />{% endcomment %}
</article>
{% endif %}
{% endfor %}

{% include "ragu/essay-units.html" %}

{% for unit in units %}
{% if unit.abstracts or unit.outputs %}
<article id="unit.{{forloop.counter}}" role="main">
<h2>{{unit.department.name|safe}}</h2>

{% if unit.department.description %}
<section id="unit.{{forloop.counter}}.about_us">
{{unit.department.description|safe}}
</section>
{% endif %}

{% if unit.abstracts %}
<h3>Research Projects</h3>
{% for abstract in unit.abstracts %}
{% if abstract.phantom %}
  {% if abstract.project.stage != 3 %}
    <section class="draft" role="main">
  {% else %}
    <section role="main">
  {% endif %}
  <section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
    <h4>{{abstract.project.title|safe}}<br />
    <span style="font-weight:normal; color:#000000; font-style:italic;">See in {{abstract.project.department.name|safe}}</span></h4>
  </section>
  </section>
{% else %}
{% if abstract.project.stage != 3 %}
<section class="draft" role="main">
{% else %}
<section role="main">
{% endif %}

{% comment %}<hr class="mini" />{% endcomment %}

<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<h4>{{abstract.project.title|safe}}</h4>
</section>

{% if abstract.project.status or abstract.project.start_date or abstract.project.end_date %}
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.status">
<p>
{% if abstract.project.status %}
  <strong>Status:</strong>
  {% if abstract.project.status == 1 %}
    Ongoing
  {% endif %}
  {% if abstract.project.status == 2 %}
    Completed
  {% endif %}
{% endif %}

{% if abstract.project.begin_date %}
  <br /><strong>Start date:</strong>
  {{abstract.project.begin_date|date:"F"}}
  {{abstract.project.begin_date|date:"Y"}}
{% endif %}

{% if abstract.project.end_date %}
  <br /><strong>End Date:</strong>
  {{abstract.project.end_date|date:"F"}}
  {{abstract.project.end_date|date:"Y"}}
{% endif %}
</p>
</section>
{% endif %}

<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.description">
<div>{{abstract.project.description|safe}}</div>
</section>

<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.principal_investigators">
<h5>Principal investigators</h5>

<ul>
{% for leader in abstract.leaders %}
  <li><strong>{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}
        &bullet;
        {% if leader.staff.program %}
          {{leader.staff.department.name|safe}} -
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {{leader.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  leader.staff.agency.name != "Gallaudet University" and leader.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{leader.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
{% for principal in abstract.principals %}
  <li><strong>{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}
        &bullet;
        {% if principal.staff.program %}
          {{principal.staff.department.name|safe}} -
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {{principal.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  principal.staff.agency.name != "Gallaudet University" and principal.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{principal.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if abstract.others %}
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.other_investigators">
<h5>Additional investigators</h5>
<ul>
{% for other in abstract.others %}
  <li><strong>{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}
        &bullet;
        {% if other.staff.program %}
          {{other.staff.department.name|safe}} -
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {{other.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if  other.staff.agency.name != "Gallaudet University" and other.staff.agency.name != "Self" %}
        &bullet;
        <span class="agency">{{other.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.funders %}
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.funders">
<h5>Funding sources</h5>

<ul>
{% for funder in abstract.funders %}
  <li>{{funder.funder.name|safe}}</li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.products %}
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.products">
<h5>Products</h5>

{% for product in abstract.products %}
{{product.description|safe}}
{% endfor %}
</section>
{% endif %}

</section>
{% endif %}
{% endfor %}
{% endif %}

{% if unit.outputs %}
<section id="unit.{{forloop.counter}}.output">
<h3>Scholarly and Creative Activity</h3>

{% for output in unit.outputs %}
  {% if output.lonley.stage != 3 %}
  <section class="draft" role="main">
  {% else %}
  <section role="main">
  {% endif %}
  {% for product in output.products %}
    {{product.description|safe}}
  {% endfor %}
  </section>
{% endfor %}
</section>
{% endif %}
{% comment %}<hr class="maxi" />{% endcomment %}
</article>
{% endif %}
{% endfor %}
</main>
{% endblock %}
