{% comment %}
<!-- Use Google's font service -->
body      {font-family: "EB Garamond", serif;}
.whatever {font-family: Helvetica, sans-serif;}
{% endcomment %}

table, tbody, tr, td {border:none;}
#description         {margin: 1.2em auto;}

body     {font-family: "Garamond";
          font-size:    10pt;}

article  {page-break-after: always;}

h1       {font-family: "Helvetica";
          font-weight: bold;
          font-size:   14pt;}

h2       {font-family: "Helvetica";
          font-weight: bold;
          font-size:   12pt;
          color:       #7c211e;}

h3       {font-family: "Helvetica";
          font-weight: bold;
          font-size:   10pt;}

h4       {font-family: "Garamond";
          font-weight: bold;
          font-size:   10pt;
          text-align:  center;
          color:       #7c211e;}

h5       {font-family: "Garamond";
          font-weight: bold;
          font-size:   10pt;}

a      {text-decoration:  none;
        background-color: #ffffff;
        color:            #000000;}

{% comment %}
table, tbody,
tr, th, td    {border:           thin solid #00007f;
               background-color: #e7ed7d;
               border-collapse:  collapse;
               padding:          3px;}
{% endcomment %}

#grid table    {width:               100%;
                border-collapse:     collapse;}

#grid table td,
#grid table th {border:           1px solid #98bf21;
                font-family:      Helvetica, sans-serif;
                font-size:        8pt;
                padding:          3px;}

#grid table th {text-align:       center;
               background-color: #a7c942;
               color:            #ffffff;}

#grid table tr.odd  td {color:            #000000;
                        background-color: #ffffff;}
#grid table tr.even td {color:            #000000;
                        background-color: #eaf2d3;}

.mini    {width:            70%;
          color:            #e0e0e0;
          background-color: #e0e0e0;
          height:           1px;}
.maxi    {width:            100%;
          color:            #000000;
          background-color: #000000;
          height:           5px;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

.figurehead {font-family: "Helvetica";
             font-weight: bold;
             font-size:   10pt;
             text-align:  center;}

.draft   {background: url(/images/smalldraft.png) fixed;}

.dot     {color: #7c211e;}

.boilerplate {color:            #ff0000;
              background-color: #ffffe0;}
.cbr {color:            #000000;
      background-color: #ffffff;}

@media print {
  .draft {background: transparent;}
  .boilerplate {color:            #000000;
                background-color: #ffffff;}
  .cbr {color:            #000000;
        background-color: #ffffff;}
}
