{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2>Projects {{timespan}} {{date1|date:"F Y"}}
{% if date2 %}
  and {{date2|date:"F Y"}}
{% endif %}</h2>

<section>
<ul>
{% for project in projects %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
