{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

table    {width:           100%;
          border-collapse: collapse;
          margin:          2em auto;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section id="title">
<h2 class="center">Scholarly &amp; Creative Activity for FY {{year}}</h2>
</section>

<section>
{% for category in categories %}
  <table style="width:100%;">
  <thead>
  <tr>
  <th>{{category.name|safe}}<br />({{category.products|length}}
  product{{category.products|pluralize}} found)</th>
  </tr>
  </thead>
  <tbody>
  {% for product in category.products %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td><a href="/resources/ragu/update_product/{{product.id}}/">{{product.plaintext|safe}}</a></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% endfor %}
</section>

</article>
</main>
{% endblock %}
