{% extends "ragu.html" %}
{% block title %}Credits and Colophon{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h2>Credits</h2>

<p>The software and format for this site was designed and developed by <a
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/cole_kevin.html">Kevin
Cole</a>.</p>

<p><a href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/benaissa_senda.html">Senda
Benaissa</a> acted as the campus researcher liason, primary data entry person, and
beta-tester.</p>

<p>Coordination between the GRI and other members of the team working on the
<em><a href="http://www.gallaudet.edu/annualreportachievements.xml">Annual
Report of Achievements</a></em> was managed by <a
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/reilly_charles.html">Charles
Reilly</a>.</p>

<p>Leah Magnus served as the editor and contributed additional material.</p>

<h2>Colophon</h2>

<p>The project listings are taken from data submitted by researchers
across campus, compiled for the Research and Outreach chapter of
the <em><a href="http://www.gallaudet.edu/annualreportachievements.xml">Gallaudet
University Annual Report of Achievements</a></em> which is
submitted to the federal government in accordance with requirements of
the <a href="http://www.gallaudet.edu/clerc_center/clerc_center_priorities/guiding_legislation/education_of_the_deaf_act.html">Education
of Deaf Act</a>.</p>

<p>This work is based on an earlier stand-alone, off-line version,
designed for internal use only, to produce the printed book chapter
output. The database, data entry system, and report generator were
designed by Dennis Cregan using Microsoft Access, in collaboration
with Sue Hotto who collected, entered and edited the data for the
print publication using Microsoft Word.</p>

<p>The web pages, search engines, data entry system, and print-ready chapter 
generation for this interactive version are implemented using <a 
href="https://en.wikipedia.org/wiki/Django_%28web_framework%29">Django</a>
&mdash; a <a 
href="https://en.wikipedia.org/wiki/Python_%28programming_language%29">Python</a>-based
web application framework. <a href="https://en.wikipedia.org/wiki/W3c">W3C</a>
standards compliant <a href="https://en.wikipedia.org/wiki/Html5">HTML5</a>
with <a href="https://en.wikipedia.org/wiki/Css2">CSS2</a> is used for the 
formatting.
<a href="https://en.wikipedia.org/wiki/Postgresql">PostgreSQL</a> provides
the database management system back end.
(All coding is done using the one true editor: 
<a href="https://en.wikipedia.org/wiki/Editor_war#Humor">emacs</a>.)</p>

<hr style="width:680px; margin:15px auto 5px auto;" />

<div style="width:660px; margin: 0px auto;">
<div style="float:left; width:95px;">
<p style="margin:0px;"><a rel="license" style="background-color:#ffffff;"
href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img
alt="Creative Commons License" style="border-width:0"
src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"
/></a></p>
</div>
<div style="float:left; width:555px; margin:4px 0px 0px 10px;">
<p style="margin:0px; font-size:75%;">
The <span xmlns:dct="http://purl.org/dc/terms/"
style="text-decoration:underline;"
href="http://purl.org/dc/dcmitype/InteractiveResource"
property="dct:title" rel="dct:type">Research Activities at Gallaudet
University</span> software developed
by <a xmlns:cc="http://creativecommons.org/ns#"
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Cole_Kevin.html"
property="cc:attributionName" rel="cc:attributionURL">Kevin Cole</a>
is licensed<br />
under the <a rel="license"
href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative
Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
License</a>.</p>
</div>
</div>
<div style="clear:both;"></div>
</article>
</main>
{% endblock %}
