{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University (RAGU):
Copyright{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<p class="center">2nd on-line edition</p>

<p class="center">Designed by<br />
Kevin Cole</p>

<p class="center">Copyright  &copy; February 2007, {% now "Y" %}<br />
Gallaudet University<br />
Gallaudet Research Institute<br />
Washington, DC<br />
<a href="http://research.gallaudet.edu/">http://research.gallaudet.edu/</a></p>

<p>Individuals or organizations wanting the most recent print edition
of this directory should obtain Gallaudet's Annual Report of
Achievements by contacting ...  Gallaudet University, 800 Florida
Avenue, NE, Washington, DC 20002.</p>

<p>The reader should note that the information presented in this
volume is self-reported by the researchers at Gallaudet.  Also note
that the on-line edition is updated throughout the year and as such,
is more up-to-date, but not necessarily as carefully edited as the
print edition in the Annual Report of Achievements. The editors,
therefore, cannot assume responsibility for the accuracy or currency
of the information reported.</p>

<hr />
</article>
</main>
{% endblock %}
