{% extends "ragu.html" %}
{% comment %}
Call with:
    ls = locals()
    gs = globals()
    return render_to_response("ragu/debug.html",
                              {"ls": ls, "gs": gs})
{% endcomment %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1>DEBUG</h1>

{% if gs %}
<section id="globals">
<h2>Globals</h2>
<table>
<tbody style="vertical-align:top; padding: 3px;">
{% for g in gs.items %}
<tr>
  <td>{{g}}</td>
<tr>
{% endfor %}
</tbody>
</table>
</section>
{% endif %}

<hr />

{% if ls %}
<section id="locals">
<h2>Locals</h2>
<table>
<tbody style="vertical-align:top; padding: 3px;">
{% for l in ls.items %}
<tr>
  <td>{{l}}</td>
<tr>
{% endfor %}
</tbody>
</table>
</section>
{% endif %}

</article>
</main>
{% endblock %}
