<section id="priorities">
<h1 class="cbr">II. Gallaudet Research Priorities</h1>

<p class="cbr">The research priorities of the university reflect our
unique responsibility and commitment to encourage research that aims
to benefit the diversity of the deaf and hard of hearing population on
campus, across the United States, and internationally. These
priorities are a framework for the work of the Gallaudet Research
Institute and the Laurent Clerc National Deaf Education Center. The
framework guides the awarding of research support to our faculty and
staff through the Gallaudet Priority Research Fund.</p>

<p class="cbr">Developed with the involvement of many Gallaudet
people, this list of priorities is also publicly available on the
Gallaudet website. During the past year we have received no comments
or questions regarding the currently established priorities. Goal E of
the Gallaudet Strategic Plan, states that we will be establishing no
more than five integrated research priorities by 2015. As our
priorities are revised in the future, we will engage in the full
process of review as indicated in the Education of the Deaf Act.</p>

<p class="cbr">The order of the thirteen priorities below does not
indicate the relative importance of the priority. After the
description of each priority, the number of projects which include
that priority as an area of focus is listed. The reader can easily
find all projects focusing on a particular priority using the <em>"Filter
Projects by Selected Priorities"</em> feature of the online database at
<a href="http://research.gallaudet.edu/ara/">http://research.gallaudet.edu/ara/</a>.
</section>
