<section id="students">
<h1 class="cbr">III. Students Actively Engaged in Research</h1>

<p class="cbr">Historically, Gallaudet has served as a training ground
for students who later became strong researchers and made substantial
contributions to their fields. Among the faculty researchers who
reported herein are a number of Gallaudet graduates. Today, the
faculty strives to involve students in ways that benefits their minds
and also advances the pursuit of new understandings and knowledge. Of
the {{grid|length}} research projects reported herein, {{involved}}
graduate and undergraduate students are involved in {{involving}}
projects. From serving as assistants for faculty investigators to the
carrying out of their own study, students are major contributors in
the vitality of campus research scholarship. Many academic programs
have classes that require research projects as a final project or as
the focus of the entire course. Through active inquiry, students get a
chance to apply theories and knowledge from their classes in a way
that helps them to make connections to real situations and
practice. Such critical approach to thinking can propel a deeper
insight into their chosen field&mdash;and solidify their foundation
for a promising career in the knowledge-based fields.</p>

<p class="cbr">Gaining the insight of younger Deaf and hard of hearing
people is essential to many topics of concern to Gallaudet in
particular. Young minds may approach problems in new ways. Across the
university, there are a growing number of student researchers working
on their own studies or assisting other research from the physical
sciences to social sciences to deafness-related disciplines. Student
research assistants play vital roles in collecting responses from
diverse participants, analyzing raw data, and presenting findings The
University encourages student involvement in research activity through
graduate assistantships, hiring under external grants, and direct
funding of student research. In addition, research internships are
being made available to students, through various departments. One
promising development is the extent of student-led research
activity. In FY {{fy}}, there were {{small_grants}} small research
grants awarded to students conducting their own research or who are
working under faculty members.</p>

<p class="cbr">The pinnacle of student contribution to knowledge is
the doctoral dissertation. In FY {{fy|add:"-1"}}, eleven students
completed their doctoral study. In FY {{fy}}, the number has climbed
to seventeen doctorates, with the list of individuals shown below.</p>

{% if dissertations %}
  {% for dissertation in dissertations %}
    {{dissertation.description|safe}}
  {% endfor %}
{% endif %}

<p class="cbr">The university is proud of these students'
accomplishments, as we are proud of all of the students who are
sharpening their minds through systematic inquiry into fields of
knowledge. As students of the past now foster the growth of knowledge
as faculty researchers, we look to this generation of students to move
into positions of intellectual leadership in the future.</p>
</section>
