<section id="preface">
<h1 class="cbr">Strategic Plan Goal E: Research and Outreach</h1>

<p class="cbr">Today, the university is reaffirming its dedication to
be the epicenter of research, development, and outreach with the
Gallaudet Strategic Plan initiative that is leading to advancements in
knowledge and practice for deaf and hard of hearing people and all of
humanity. The prestige Gallaudet holds as a source of research related
to deaf people was established shortly after its charter was signed in
1864, thanks largely to the work of such researchers as Edward Allen
Fay, a renowned researcher and professor of languages. Among other
accomplishments, Fay produced an exhaustive collection of data on deaf
marriages and the incidence of deaf offspring in deaf families which
still play a role in genetics research and counseling today.</p>

<p class="cbr">Since then, a sequence of pioneers in research has
reinforced the research aspect of Gallaudet's reputation including but
not limited to: Irving Fusfeld, who undertook an extensive
investigation of schools for deaf individuals in the 1920s; Powrie
Doctor, whose research in the field of deaf education from 1928 to
1971 brought him and Gallaudet international recognition; Jerome
Schein, whose studies of the demographics of deaf people were regarded
as definitive for decades after he began his work in the 1960s; Kay
Meadow-Orlans, whose studies of child development in families with
deaf children led to groundbreaking discoveries in the 1970s and 80s;
Orin Cornett, who developed Cued Speech in the 1970s as a technique to
improve reading; and William Stokoe, whose studies of sign language
spanning more than four decades beginning in the 1950s not only
validated American Sign Language as a fully developed language but
also created an exciting new field of study for linguists
worldwide.</p>

<p class="cbr">The current generation of researchers often draws upon
the cross-disciplinary intellectual riches of Kendall Green for
benefits to theoretical and applied research today. FY {{fy}} was an
intensive year of collaborating, grant writing, and producing.
Research accelerated in academic departments as well as dedicated
research centers. Faculty, often alongside students, pursued a full
range of research interests related to their academic disciplines.
Emphasis is being placed on the application of research findings to
instruction and other problems of importance to deaf and hard of
hearing people.</p>

<p class="cbr">Active outreach to individuals and organizations
worldwide who seek to advance the scholarship of deaf and hard of
hearing people is a continuing tradition at Gallaudet that is integral
to Strategic Plan Goal E. The scope of outreach and its
accomplishments are detailed later in the chapter.</p>
</section>
