<section id="centers">
<h1 class="cbr">IV. Research and Scholarly Activities by Research Center</h1>

<p class="cbr">The research and scholarly activity sections lists the
FY {{fy}} research projects and achievements by the dedicated research
centers including the Gallaudet Research Institute (GRI),
Rehabilitation Engineering Research Center on Hearing Enhancement
(RERC-HE), Technology Access Program (TAP), Science of Learning Center
(SLC) on Visual Language and Visual Learning (VL&sup2;), and its 
affiliate, the Brain and Language Laboratory (BL2). (The work done in
department laboratories is shown later under the part "Research and
Scholarly Activities by Academic Units".)</p>

<p class="cbr">When a project has two principal investigators from
different units, a cross-reference note guides the reader to the
placement of the full project profile. For each research project, the
following fields are shown: the project's title, status and timing,
abstract, investigator(s) and their affiliation, funding sources, and
products derived from that project.</p>

<p class="cbr">At the end of each unit's part there is a list of
citations of scholarly and creative products that are not associated
with a research project.</p>
</section>
