<section id="units">
<h1 class="cbr">V. Research and Scholarly Activities by Academic Unit</h1>

<p class="cbr">The research and scholarly activities section reports
the FY {{fy}} research projects and achievements of individuals within
Gallaudet's academic units including departmental research
laboratories. The list of academic units is organized alphabetically
and reflects the organizational structure that was adopted in late
2012.</p>

<p class="cbr">When a project has two principal investigators from
different units, a cross-reference note guides the reader to the
placement of the full project profile. For each research project, the
following fields are shown: the project's title, status and timing,
abstract, investigator(s) and their affiliation, funding sources, and
products derived from that project. At the end of each unit's part
there is also a list of citations of scholarly and creative products
that are not associated with a research project.</p>
</section>
