<section id="overview">
<h1 class="cbr">I. Research- Overview of content</h1>

<p class="cbr">The research section of the chapter contains both
profiles on research studies as well as individual faculty and staff
members' scholarly achievements, such as publications and
presentations, both research-based and otherwise.</p>

<p class="cbr">The section begins with a table showing the projects
conducted by faculty, staff, students and collaborators on each of the
university's research priority areas. Next is an overview of student
engagement in research, highlighting the most notable of their
achievements&mdash;doctoral dissertations. Finally, a profile of each
research and demonstration project and a citation for each reported
scholarly product is shown, arranged under the banner of the hosting
research center and academic unit. Readers who wish to locate research
being done by specific individuals may look for the name and then page
numbers given in the index of this publication. The reader who desires
more in-depth information may contact the scholar directly.</p>

<p class="cbr">The chapter also provides the Office of Sponsored
Programs' reports on submitted research proposals and received awards
from external sponsors. It also works to bolster support to
researchers who are seeking external sponsorship of these
activities.</p>

<p class="cbr">Finally, this chapter reports on a comprehensive array
of personal and professional development, leadership, and outreach
programs and services to Gallaudet's many constituencies.</p>

<p class="cbr">An online database called "Research and Scholarly
Achievement at Gallaudet University" is available at
<a href="http://research.gallaudet.edu/ara/">http://research.gallaudet.edu/ara/</a>. 
The database can be searched by department, individual, research
priority, and other criteria in order to easily locate both prior and
current projects.</p>

<p class="cbr">Information about the research activity of the Laurent
Clerc National Deaf Education Center can be found in a later chapter.</p>
</section>
