{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}


{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

.balance-text {text-wrap: balanced;}

table    {width:               100%;
          border-collapse:     collapse;
          page-break-inside:   avoid;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<p>The following <span
style="text-decoration:underline;"><strong>{{projects|length}}</strong></span>
projects all have descriptions with some portion written in the first person.
Click on the project title for the full entry (dates, departments,
investigators, etc).</p>

<table>
<thead>
<tr>
  <th>PROJECTS</th>
</tr>
</thead>
</table>

{% for project in projects %}
<table>
<tbody>
  <tr class="even">
    <td style="text-align:center; font-size:120%;"><a
        href="/resources/ragu/abstract/{{project.id}}"><span
        class="balance-text">{{project.title|safe}}</span></a></td>
  </tr>
  <tr class="odd">
    <td style="padding:20px;">{{project.description|safe}}</td>
  </tr>
</tbody>
</table>
{% endfor %}

</article>
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
