{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<h1>Funding</h1>

<ul>
<li><a href="#external">Externally funded projects</a>
    ({{external|length}} project{{external|pluralize}})</li>
<li><a href="#internal">Internally funded projects</a>
    ({{internal|length}} project{{internal|pluralize}})</li>
<li><a href="#unknown">Projects with no funding source listed</a>
    ({{unknown|length}} project{{unknown|pluralize}})</li>
</ul>

<p><strong>Note:</strong> this page is still in a very rough draft form. Projects that are both internally
and externally funded will be listed twice.</p>

<h2 id="external">Externally funded projects</h2>

<p>({{external|length}} project{{external|pluralize}})</p>

<ul>
{% for project in external %}
<li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a>
  {% comment %}
    <ul>
    {% for funder in funders %}
      <li>{{funder.funder.name|safe}}</li>
    {% endfor %}
    </ul>
  {% endcomment %}
</li>
{% endfor %}
</ul>

<h2 id="internal">Internally funded projects</h2>

<p>({{internal|length}} project{{internal|pluralize}})</p>

<ul>
{% for project in internal %}
<li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a>
  {% comment %}
    <ul>
    {% for funder in funders %}
      <li>{{funder.funder.name|safe}}</li>
    {% endfor %}
    </ul>
  {% endcomment %}
</li>
{% endfor %}
</ul>

<h2 id="unknown">No funding source listed</h2>

<p>({{unknown|length}} project{{unknown|pluralize}})</p>

<ul>
{% for project in unknown %}
<li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>

</article>
</main>
{% endblock %}
