{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2 class="center">Projects funded by<br />
{% if funder.homepage %}
<strong><a href="{{funder.homepage}}">{{funder.name|safe}}</a></strong>
{% else %}
<strong>{{funder.name|safe}}</strong>
{% endif %}
</h2>

<p>The following is a list of <strong>projects</strong> funded by
<strong>{{funder.name|safe}}</strong>. Centers funded from this source are not
listed below.</p>

<section>
<ul>
{% for project in projects %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
