{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
td       {font-size:        1em;}
.huge    {font-size:        150%;
          font-weight:      bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<p class="center">
<a href="http://research.gallaudet.edu/">Gallaudet Research Institute</a>
</p>

<hr />

<section id="public" style="margin-left: 20%; margin-right: 20%;">
<ul>
{% if request.session.authorized %}
<li><a href="/resources/ragu/add_project/"><strong>Add new project</strong></a><br /> <br /></li>
{% endif %}
<li><a href="/resources/ragu/prioritize/"><strong>List Projects Categorized by Research Priorities</strong></a></li>
<li><a href="/resources/ragu/search/">Search Projects, Products and Investigators</a></li>
<li><a href="/resources/ragu/screen_priorities/">Filter Projects by Selected Priorities</a></li>
<li><a href="/resources/ragu/screen_unit/">Filter Projects by Department / Unit</a></li>
<li><a href="/resources/ragu/screen_investigator/">Filter Projects by Investigator</a></li>
<li><a href="/resources/ragu/screen_dates/">Filter Projects by Date</a></li>
<li><a href="/resources/ragu/funding/">List Projects by Funding Sources</a></li>
<li><a href="/resources/ragu/students/2012/">List FY2012 Student Dissertations</a></li>
<li><a href="/resources/ragu/small_grants/2012/">List FY2012 Small Grants Awarded</a></li>
<li><a href="http://research.gallaudet.edu/Achievements/">Archived PDF reports from prior years</a></li>
<li><a href="/resources/ragu/colophon/">Credits and Colophon</a></li>
</ul>
</section>

{% if request.session.authorized and request.session.responsibility != "1" %}
<section id="private" style="background-color:#e7e7e7;">
<hr />

<p>For authorized users only, and often mildly experimental</p>

<h3>Pending PROJECTS</h3>
<ul>
<li><a href="/resources/ragu/pending/projects/0/">List
    unsubmitted project report drafts</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/1/">List
    submitted project reports awaiting proofreading</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/2/">List
    web-ready project reports awaiting book approval</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/3/">List
    book-ready project reports</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/4/">List
    updated book-ready project reports awaiting ???</a><br /> <br /></li>
</ul>

<h3>Pending PRODUCTS</h3>
<ul>
<li><a href="/resources/ragu/pending/products/0/">List
    unsubmitted product drafts</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/1/">List
    submitted products awaiting proofreading</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/2/">List
    web-ready products awaiting book approval</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/3/">List
    book-ready products</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/4/">List
    updated book-ready products awaiting ???</a><br /> <br /></li>
</ul>

<h3>Miscellany</h3>
<ul>
<li><a href="/resources/ragu/book/2012/">2012 book output</a><br /> <br /></li>
<li><a href="/resources/ragu/citations/2012/">Products (for FY 2012)</a><br /> <br /></li>
<li><a href="/resources/ragu/screen_funder/">Funding Source names.
    Merging with "List Projects by Funding Sources".</a><br /> <br /></li>
<li><a href="/resources/ragu/report/">Abstracts of all un-vetted
    projects on continuous page</a><br /> <br /></li>
<li><a href="/resources/ragu/add_project/">Add new project</a><br /> <br /></li>
<li><a href="/resources/ragu/internal_use/">Login</a><br /> <br /></li>
<li><a href="/resources/ragu/logout/">Logout</a> (hides these choices)<br /> <br /></li>
</ul>

<h3>Error and Debugging Reports</h3>
<ul>
<li><a href="/resources/ragu/leadership/">List projects with Leader / Principal errors</a><br /> <br /></li>
<li><a href="/resources/ragu/units/intros/">List unit descriptions with project / products counts</a><br /> <br /></li>
<li><a href="/resources/ragu/splitsville/">List projects with split ownership</a><br /> <br /></li>
<li><a href="/resources/ragu/playbill/">Summary list of projects and their investigators</a><br /> <br /></li>
</ul>

<hr />

<p>The following are <strong>completely experimental</strong>. You
have been warned.</p>

<ul>
<li><a href="/resources/ragu/autofill/">Testing researcher name
    auto-completion</a><br /> <br /></li>
<li><a href="/resources/ragu/api/autoname/">Another attempt at
    autocompletion</a><br /> <br /></li>
</ul>

<hr />

<p>The following are not meant to be reached directly, often requiring
knowledge of an ID number in order to work correctly. I have supplied
a number chosen randomly to make each of them (except the last one)
work.  Replace the ID numbers to see something different... Invalid ID
numbers will yield a cryptic error page.</p>

<ul>
<li><a href="/resources/ragu/abstract/894/">Specific project
    abstract</a><br /> <br /></li>
<li><a href="/resources/ragu/investigator/19/">Select project from list
    by specific investigator</a><br /> <br /></li>
<li><a href="/resources/ragu/funder/2/">Select project from list funded
    by specific funding source</a><br /> <br /></li>
<li><a href="/resources/ragu/priority/10/">Priority description and
    selection list of projects that address it</a><br /> <br /></li>
<li><a href="/resources/ragu/unit/29/">Abstracts for a department on
    continuous page</a><br /> <br /></li>
<li><a href="/resources/ragu/add_product/">Add products to a project</a> (not
    usable directly)<br /> <br /></li>
</ul>
</section>
{% endif %}
<hr />

<section id="credits" style="text-align:center; font-size:75%;">
Site produced by: 
<a
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/cole_kevin.html">Kevin
Cole</a> &bullet;
<a href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/benaissa_senda.html">Senda
Benaissa</a> &bullet;
<a href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/reilly_charles.html">Charles
Reilly</a> &bullet;
Leah Magnus
</section>
</article>
</main>
{% endblock %}
