{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>
<h3>Investigators</h3>

<p>Clicking on a name below shows an individual's research projects and
scholarly and creative achievements (products).  Only publications
that have already been published are included (not "in press" items).
No campus presentations are included with the exception of
dissertation defenses, theatrical productions, and art exhibits.</p>

<p><strong>Quick index:</strong></p>
<table style="width:100%;">
<tbody>
<tr>{% for letter in "ABCDEFGHIJKLM"|make_list %}
<td style="text-align:center;width:3%;font-weight:bold;"><a href="#{{letter}}">{{letter}}</a></td>
{% endfor %}</tr>
<tr>{% for letter in "NOPQRSTUVWXYZ"|make_list %}
<td style="text-align:center;width:3%;font-weight:bold;"><a href="#{{letter}}">{{letter}}</a></td>
{% endfor %}</tr>
</tbody>
</table>

{% for person in people %}
{% ifchanged person.last_name|first %}
{% if not forloop.first %}</ul>{% endif %}
  <h3><a id="{{person.last_name|first|safe}}">{{person.last_name|first|safe}}</a></h3>
  <ul>
{% endifchanged %}
  <li><a
      href="/resources/ragu/investigator/{{person.id}}">{{person.last_name|safe}}{% if person.first_name %},
        {{person.first_name|safe}}
      {% endif %}</a>
  </li>
{% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
