{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2 class="center"><strong>{% if staff.0.homepage %}<a href="{{staff.0.homepage}}">{% endif %}{{staff.0.person.first_name|safe}}
{{staff.0.person.last_name|safe}}{% if staff.0.homepage %}</a>{% endif %}</strong></h2>
{% if projects or draftpjs %}
<section>
<h3>Projects</h3>
{% if projects %}
<ul>
{% for project in projects %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if draftpjs %}
<p class="center"><em>(Researcher has new or updated project(s) pending review.)</em></p>
{% endif %}
</section>
{% endif %}

{% if outputs or draftpds %}
<section>
<h3>Scholarship and creative activity</h3>
{% if outputs %}
{% for output in outputs %}
  <ul>
  <li>Filed under <a href="/resources/ragu/abstract/{{output.lonely.id}}/">{{output.lonely.title}}</a></li>
  </ul>
  <div style="margin-left:2em;">
  {% for product in output.products %}
    {% ifchanged product.reported %}
      <p style="margin-left:2em;"><strong>{{product.reported}}</strong></p>
    {% endifchanged %}
    <div style="margin-left:4em;">{{product.description|safe}}</div>
  {% endfor %}
  </div>
{% endfor %}
{% endif %}
{% if draftpds %}
<p class="center"><em>(Researcher has new material pending review.)</em></p>
{% endif %}
</section>
{% endif %}

</article>
</main>
{% endblock %}
