{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<p>Every project in this page has an error related to
investigators. <strong>NOTE:</strong> Some appear in more than one
place below.  (For example, if the project has no investigator, then
it also has no principal investigator and no project leader.)</p>

{% if rudderless %}
<h1>Projects with NO investigators!</h1>

<p>All projects must have at least one investigator.  These projects
do not:</p>

<ul>
{% for project in rudderless %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if unprincipaled %}
<h1>Projects with no PRINCIPAL investigators</h1>

<p>All projects must have at least one principal investigator. These
projects do not:</p>

<ul>
{% for project in unprincipaled %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if wtfers %}
<h1>Projects with LEAD investigators who are not PRINCIPAL!</h1>

<p>If any investigators are listed as project leaders, then
they <strong>MUST</strong> be a principal investigators. These projects
have project leaders that are not principal investigators:</p>

<ul>
{% for project in wtfers %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if leaderless %}
<h1>Projects with no LEAD investigators</h1>

<p>All projects must have one project leader. These projects do not:</p>

<ul>
{% for project in leaderless %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
{% endif %}

</article>
</main>
{% endblock %}
