{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
td       {font-size:        1em;}
.huge    {font-size:        150%;
          font-weight:      bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="background-color:#a7a7a7;" role="main">

<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<p class="center">
<a href="http://research.gallaudet.edu/">Gallaudet Research Institute</a>
</p>

<hr />

<section id="public" style="margin-left: 20%; margin-right: 20%;">
<ul>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/prioritize/"><strong>List Projects Categorized by Research Priorities</strong></a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/search/">Search Projects, Products and Investigators</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/screen_priorities/">Filter Projects by Selected Priorities</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/screen_unit/">Filter Projects by Department / Unit</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/screen_investigator/">Filter Projects by Investigator</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/screen_dates/">Filter Projects by Date</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/funding/">List Projects by Funding Sources</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/students/2012/">List FY2012 Student Dissertations</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/small_grants/2012/">List FY2012 Small Grants Awarded</a></li>
<li><a style="background-color:#a0a0a0;" href="http://research.gallaudet.edu/Achievements/">Archived PDF reports from prior years</a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/ragu/colophon/">Credits and colophon</a></li>
</ul>
</section>

<div style="font-family:Courier; border:2px #ff0000 solid; border-radius:25px; box-shadow: 10px 10px 5px #666666; position:relative; top:-200px; width:750px; z-index:1; background-color:#ffffaf;">
<h1 style="text-align:center; color:#ff0000;">System maintenance</h1>
<h2 style="text-align:center; color:#ff0000;">The editing features of this system will be unavailable
until further notice 
<br /><strong>You can still review projects.<br />Click "Home" on the menu above.</strong></h2>
</div>

<hr />

<section id="credits" style="text-align:center; font-size:75%;">
Site produced by: 
<a style="background-color:#a0a0a0;" 
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/cole_kevin.html">Kevin
Cole</a> &bullet;
<a style="background-color:#a0a0a0;" 
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/benaissa_senda.html">Senda
Benaissa</a> &bullet;
<a style="background-color:#a0a0a0;" 
href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/reilly_charles.html">Charles
Reilly</a> &bullet;
Leah Magnus
</section>

</article>
</main>
{% endblock %}
