{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}

</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

{% if folder %}
<p>{{folder|length}} pro{{items}}ct{{folder|pluralize}} found.
Follow an entry's link for the full <strong>PROJECT</strong> abstract.</p>

{% if items == "je" %}
<table>
<thead>
<tr>
{% if stage == "0" %}
  <th>Unsubmitted project drafts</th>
{% endif %}
{% if stage == "1" %}
  <th>Projects awaiting proofreading</th>
{% endif %}
{% if stage == "2" %}
  <th>Web-ready projects awaiting book approval</th>
{% endif %}
{% if stage == "3" %}
  <th>Book-ready projects</th>
{% endif %}
{% if stage == "4" %}
  <th>Updated book-ready projects awaiting ???</th>
{% endif %}
</tr>
</thead>
<tbody>
{% for report in folder %}
<tr class="{% cycle 'odd' 'even' %}">
<td>
  <a href="/resources/ragu/abstract/{{report.project.id}}">{{report.project.title|safe}}</a><br />
  <em>{{report.project.department.name|safe}}</em><br />
  {% for leader in report.leaders %}
  {% if not forloop.first %}&bullet;{% endif %}
  {{leader.staff.person.last_name|safe}}, {{leader.staff.person.first_name|safe}}
  {% endfor %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if items == "du" %}
<table>
<thead>
<tr>
{% if stage == "0" %}
  <th colspan="3">Unsubmitted product drafts</th>
{% endif %}
{% if stage == "1" %}
  <th colspan="3">Products awaiting proofreading</th>
{% endif %}
{% if stage == "2" %}
  <th colspan="3">Web-ready products awaiting book approval</th>
{% endif %}
{% if stage == "3" %}
  <th colspan="3">Book-ready products</th>
{% endif %}
{% if stage == "4" %}
  <th colspan="3">Updated book-ready products awaiting ???</th>
{% endif %}
</tr>
</thead>
<tbody>
{% for citation in folder %}
<tr class="{% cycle 'odd' 'even' %}">
{% if request.session.authorized %}
<td style="width: 3em;">
  <button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/update_product/{{citation.product.id}}')">EDIT</button>
  <br />
  {% if citation.product.stage == 0 %}
  <button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/1/')">OK</button>
  {% endif %}
  {% if citation.product.stage == 1 and editor.responsibility > 2 %}
  <button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/2/')">OK</button>
  {% endif %}
  {% if citation.product.stage == 2 and editor.responsibility > 3 %}
  <button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/13/')">Yea</button>
  <br /><button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/23/')">Nae</button>
  {% endif %}
  {% if citation.product.stage == 4 and editor.responsibility > 3 %}
  <button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/13/')">Yea</button>
  <br /><button type="button" style="width:2.9em;"
          onclick="window.location.replace('/resources/ragu/queue/product/{{citation.product.id}}/23/')">Nae</button>
  {% endif %}
</td>
{% endif %}
<td>
  <a href="/resources/ragu/abstract/{{citation.product.project.id|safe}}">{{citation.product.description|safe}}</a>
</td>
<td style="width: 3em;">
  {{citation.product.reported}}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<p>{{folder|length}} pro{{items}}ct{{folder|pluralize}} found.
Follow an entry's link for the full <strong>PROJECT</strong> abstract.</p>
{% endif %}

</article>
</main>
{% endblock %}
