{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}

</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>
<table>
<thead>
<tr>
  <th>Projects and their staff</th>
</tr>
</thead>
<tbody>
{% for performance in performances %}
<tr class="odd">
  <td><a href="/resources/ragu/abstract/{{performance.play.id}}"><span
      style="color:#7c211e; font-size:120%; font-weight:bold;">{{performance.play.title|safe}}</span></a></td>
</tr>
<tr class="even">
  <td style="padding-left:4em;">{% for actor in performance.cast %}
    {% if not forloop.first %}<br />{% endif %}
    <strong><a href="/resources/ragu/investigator/{{actor.staff.person.id}}">{{actor.staff.person.last_name|safe}},
    {% if actor.staff.person.first_name %}
      {{actor.staff.person.first_name|safe}}
    {% endif %}</a></strong>
    {% if actor.staff.profession in jobs %}
      ({{actor.staff.profession.name|safe}})
    {% endif %}
    {% if actor.staff.department %}&bullet;
      {% if actor.staff.program %}
        {% if actor.staff.department.is_internal %}
          <a href="/resources/ragu/unit/{{actor.staff.department.id}}/">{{actor.staff.department.name|safe}}</a> -
        {% else %}
          {{actor.staff.department.name|safe}} -
        {% endif %}
        <em>{{actor.staff.program.name|safe}}</em>
      {% else %}
        {% if actor.staff.department.is_internal %}
          <a href="/resources/ragu/unit/{{actor.staff.department.id}}/">{{actor.staff.department.name|safe}}</a>
        {% else %}
          {{actor.staff.department.name|safe}}
        {% endif %}
      {% endif %}
    {% endif %}
    {% if actor.staff.agency.name != "Gallaudet University" and actor.staff.agency.name != "Self" %}&bullet;
      <span style="text-decoration:underline">
      {% if actor.staff.agency.homepage %}
        <a href="{{actor.staff.agency.homepage}}">{{actor.staff.agency.name|safe}}</a>
      {% else %}
        {{actor.staff.agency.name|safe}}
      {% endif %}
      </span>
    {% endif %}
  {% endfor %}</td>
</tr>
{% endfor %}
</tbody>
</table>

</section>

</article>
</main>
{% endblock %}
