{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University (RAGU):
Preface{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<p class="center"><strong>Preface</strong></p>

<p>The first on-line version of Research &amp; Scholarly Achievement
at Gallaudet University was produced by Kevin Cole in 2009 using the
Python programming language together with the TurboGears framework.
This edition was produced by Kevin Cole in 2012, again using Python
but in place of the TurboGears framework, the Django framework was
chosen.</p>

<p>This edition of the directory is the result of collaboration and
support from several individuals.  In addition to the researchers
themselves, Senda Benaissa provided valuable testing and feedback
during the development and ... chased down researchers to gather their
project reports in a timely manner.</p>

<p>Kevin Cole, RHCE, RHCT<br />
Gallaudet Research Institute</p>
</article>
</main>
{% endblock %}
