{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2 class="center">Gallaudet Research Priorities</h2>

<section id="introduction">
<p>The research priorities of the University reflect the institution's
unique responsibility and commitment to encourage and support research
and scholarship that aims to benefit the diversity of the deaf and
hard of hearing population on campus, across the United States, and
internationally. The thirteen priorities below are the result of a
collaborative process involving many individuals within the Gallaudet
community. The order of listing is not intended to indicate the
relative importance of the priority.</p>
<section>

{% for priority in priorities %}
  <section id="priority_{{priority.id}}">
  <h2>{{priority.id|safe}}. {{priority.summary|safe}}</h2>

  <p style="margin: auto auto auto 2em;">{{priority.description|safe}}</p>

  <p><a href="/resources/ragu/priority/{{priority.id}}">Projects addressing this priority</a></p>
  </section>
{% endfor %}

</article>
</main>
{% endblock %}
