{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section id="priority">
<h2>{{priority.summary|safe}}</h2>
<p>{{priority.description|safe}}</p>
</section>

<section id="projects">
<h3>Projects</h3>

<ul>
{% for project in projects %}
  <li><a href="/resources/ragu/abstract/{{project.id}}">{{project.title|safe}}</a></li>
{% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
