{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
a.dot {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:link {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:visited {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:hover {
        text-decoration:        underline;
        font-style:             italic;
        background-color:       #bbeeff;
        color:                  #ff0000;
}

a.dot:active {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #ff0000;
}

a.dot:visited:hover {
        text-decoration:        underline;
        font-style:             italic;
        background-color:       #bbeeff;
        color:                  #ff0000;
}

.balance-text {text-wrap: balanced;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}
td.odd           {color:            #000000;
                  background-color: #ffffff;}
td.even          {color:            #000000;
                  background-color: #EAF2D3;}

</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section id="title">
<h2 class="center">Research Projects Organized by Research Priorities</h2>
</section>

{% if grid %}
  <section>
  <p class="center">(Move your mouse over the priority numbers in the
  table below for a brief, pop-up description of the priority.)</p>
  </section>

  <section id="project_grid">
  <table>
  <thead style="text-align:center;">
  <tr>
  <th scope="col" rowspan="2">Project</th>
  <td id="priorities" colspan="13"><a class="dot"
  href="/resources/ragu/priorities/">Gallaudet Research Priorities</a></th>
  </tr>
  <tr>
    {% comment %}
    {% for priority in grid.1.priorities %}
      <td id="{{forloop.counter}}" scope="col" headers="priorities"
          style="width:1.5em;">{{forloop.counter}}</th>
    {% endfor %}
    {% endcomment %}
    {% for tip in tips %}
      {% if tip.id in chosen %}
        <td id="{{tip.id}}" scope="col" headers="priorities"
            style="width:1.5em;" title="{{tip.summary}}">{{tip.id}}</th>
      {% else %}
        <td id="{{tip.id}}" scope="col" headers="priorities"
            style="width:1.5em; background:#e7e7e7;" title="{{tip.summary}}">{{tip.id}}</th>
      {% endif %}
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in grid %}
  <tr>
  <td class="{% cycle 'even' 'odd' %}" 
      style="font-size:100%; font-weight:normal;" scope="row"><a 
      class="dot"
      href="/resources/ragu/abstract/{{row.project.id}}"><span 
      class="balance-text">{{ row.project.title|safe }}</span></a></th>
    {% for priority in row.priorities %}
      {% if priority %}
        {% if forloop.counter in chosen %}
          <td style="font-size:200%; text-align:center"><a class="dot"
             href="/resources/ragu/priority/{{forloop.counter}}">&#9679;</a></td>
        {% else %}
          <td style="font-size:200%; background:#e7e7e7; text-align:center"><a class="dot"
             href="/resources/ragu/priority/{{forloop.counter}}">&#9679;</a></td>
        {% endif %}
      {% else %}
        {% if forloop.counter in chosen %}
          <td style="font-size:200%; text-align:center;">&nbsp;</td>
        {% else %}
          <td style="font-size:200%; background:#e7e7e7; text-align:center;">&nbsp;</td>
        {% endif %}
      {% endif %}
  {% endfor %}
  </tr>
  {% endfor %}
  </table>
  <p>{{grid|length}} project{{grid|pluralize}} found.</p>
  </section>
{% else %}
  <section id="nomatch">
  <p>No projects matching <strong>all</strong> of those priorities found.</p>
  </section>
{% endif %}

</article>
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
