{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}

</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>
<table>
<thead>
<tr>
  <th style="width:70%;">Departments<br />(Lead Investigators)</th>
  <th style="width:15%;">Projects<br />({{totalabstracts}} total)</th>
  <th style="width:15%;">Products<br />({{totaloutputs}} total)</th>
</tr>
</thead>
<tbody>
{% for department in departments %}
<tr class="even">
  <td style="width:70%;"><a href="/resources/ragu/abstract/{{department.unit.id}}"><span
      style="color:#7c211e; font-size:120%; font-weight:bold;">{{department.unit.name|safe}}</span></a></td>
  <td style="width:15%; text-align:right; padding:auto 5px auto auto;">{{department.abstracts}}</td>
  <td style="width:15%; text-align:right; padding:auto 5px auto auto;">{{department.outputs}}</td>
</tr>
<tr class="odd">
  <td style="padding-left:4em;" colspan="3">{% for remindee in department.remindees %}
    {% if not forloop.first %}<br />{% endif %}
    <strong><a href="/resources/ragu/investigator/{{remindee.person.id}}">{{remindee.person.last_name|safe}},
    {% if remindee.person.first_name %}
      {{remindee.person.first_name|safe}}
    {% endif %}</a></strong>
    {% if remindee.profession in jobs %}
      ({{remindee.profession.name|safe}})
    {% endif %}
    {% if remindee.department %}&bullet;
      {% if remindee.program %}
        {% if remindee.department.is_internal %}
          <a href="/resources/ragu/unit/{{remindee.department.id}}/">{{remindee.department.name|safe}}</a> -
        {% else %}
          {{remindee.department.name|safe}} -
        {% endif %}
        <em>{{remindee.program.name|safe}}</em>
      {% else %}
        {% if remindee.department.is_internal %}
          <a href="/resources/ragu/unit/{{remindee.department.id}}/">{{remindee.department.name|safe}}</a>
        {% else %}
          {{remindee.department.name|safe}}
        {% endif %}
      {% endif %}
    {% endif %}
    {% if remindee.agency.name != "Gallaudet University" and remindee.agency.name != "Self" %}&bullet;
      <span style="text-decoration:underline">
      {% if remindee.agency.homepage %}
        <a href="{{remindee.agency.homepage}}">{{remindee.agency.name|safe}}</a>
      {% else %}
        {{remindee.agency.name|safe}}
      {% endif %}
      </span>
    {% endif %}
  {% endfor %}</td>
</tr>
{% endfor %}
</tbody>
</table>

</section>

</article>
</main>
{% endblock %}
