{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
#description         {margin: 1.2em auto;}

.balance-text {text-wrap: balanced;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

article  {page-break-after: always;}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<main role="main">
{% for abstract in abstracts %}
{% if abstract.project.stage < 2 %}
<article id="abstract.{{forloop.counter}}" style="margin:0px auto;" class="draft" role="main">
{% else %}
<article id="abstract.{{forloop.counter}}" style="margin:0px auto;" role="main">
{% endif %}

<p class="center"><span style="font-size:120%; font-weight:bold;">Research &amp; Scholarly Achievement<br />
at Gallaudet University</span></p>

<hr />

<section id="abstract.{{forloop.counter}}.title">
<h1 class="center balance-text" style="font-size:200%;">{{abstract.project.title|safe}}</h1>
</section>

{% if abstract.project.status or abstract.project.start_date or abstract.project.end_date %}
<section id="abstract.{{forloop.counter}}.status">
<table>
<tbody>
  {% if abstract.project.status %}
    <tr>
    <td><strong>Status:</strong> </td>
    {% if abstract.project.status == 1 %}
      <td>Ongoing</td>
    {% endif %}
    {% if abstract.project.status == 2 %}
      <td>Completed</td>
    {% endif %}
    {% if not abstract.project.status %}
      <td> </td>
    {% endif %}
    <td> </td>
    </tr>
  {% endif %}

  {% if abstract.project.begin_date %}
    <tr>
    <td><strong>Start date:</strong> </td>
    <td>{{abstract.project.begin_date|date:"F"}}</td>
    <td>{{abstract.project.begin_date|date:"Y"}}</td>
    </tr>
  {% endif %}

  {% if abstract.project.end_date %}
    <tr>
    <td><strong>End Date:</strong> </td>
    <td>{{abstract.project.end_date|date:"F"}}</td>
    <td>{{abstract.project.end_date|date:"Y"}}</td>
    </tr>
  {% endif %}

</tbody>
</table>
</section>
{% endif %}

<section id="abstract.{{forloop.counter}}.description">
<h3>Description</h3>

<div>{{abstract.project.description|safe}}</div>
</section>

<section id="abstract.{{forloop.counter}}.principal_investigators">
<h3>Principal investigators</h3>

<ul>
{% for leader in abstract.leaders %}
  <li><strong><a href="/resources/ragu/investigator/{{leader.staff.person.id}}">{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}&bullet;
        {% if leader.staff.program %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a> -
          {% else %}
            {{leader.staff.department.name|safe}} -
          {% endif %}
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a>
          {% else %}
            {{leader.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if leader.staff.agency.name != "Gallaudet University" and leader.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if leader.staff.agency.homepage %}
          <a href="{{leader.staff.agency.homepage}}">{{leader.staff.agency.name|safe}}</a>
        {% else %}
          {{leader.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
{% for principal in abstract.principals %}
  <li><strong><a href="/resources/ragu/investigator/{{principal.staff.person.id}}">{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}&bullet;
        {% if principal.staff.program %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a> -
          {% else %}
            {{principal.staff.department.name|safe}} -
          {% endif %}
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a>
          {% else %}
            {{principal.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if principal.staff.agency.name != "Gallaudet University" and principal.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if principal.staff.agency.homepage %}
          <a href="{{principal.staff.agency.homepage}}">{{principal.staff.agency.name|safe}}</a>
        {% else %}
          {{principal.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if abstract.others %}
<section id="abstract.{{forloop.counter}}.other_investigators">
<h3>Additional investigators</h3>
<ul>
{% for other in abstract.others %}
  <li><strong><a href="/resources/ragu/investigator/{{other.staff.person.id}}">{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}&bullet;
        {% if other.staff.program %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a> -
          {% else %}
            {{other.staff.department.name|safe}} -
          {% endif %}
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a>
          {% else %}
            {{other.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if other.staff.agency.name != "Gallaudet University" and other.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if other.staff.agency.homepage %}
          <a href="{{other.staff.agency.homepage}}">{{other.staff.agency.name|safe}}</a>
        {% else %}
          {{other.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.foci %}
<section id="abstract.{{forloop.counter}}.priorities">
<h3>Priorities addressed</h3>

<ul>
{% for focus in abstract.foci %}
  <li><a href="/resources/ragu/priority/{{focus.priority.id}}">{{focus.priority.summary|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.funders %}
<section id="abstract.{{forloop.counter}}.funders">
<h3>Funding sources</h3>

<ul>
{% for funder in abstract.funders %}
  <li><a href="/resources/ragu/funder/{{funder.funder.id}}">{{funder.funder.name|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.products %}
<section id="abstract.{{forloop.counter}}.products">
<h3>Products</h3>

{% for product in abstract.products %}
  {{product.description|safe}}
{% endfor %}
</section>
{% endif %}

</article>
{% endfor %}
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
