{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2>Review Projects and Products</h2>

<section>
<h3>Pending PROJECTS</h3>
<ul>
<li><a href="/resources/ragu/pending/projects/0/">List
    unsubmitted project report drafts</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/1/">List
    submitted project reports awaiting proofreading</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/2/">List
    web-ready project reports awaiting book approval</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/3/">List
    book-ready project reports</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/projects/4/">List
    updated book-ready project reports awaiting ???</a><br /> <br /></li>
</ul>
</section>

<section>
<h3>Pending PRODUCTS</h3>
<ul>
<li><a href="/resources/ragu/pending/products/0/">List
    unsubmitted product drafts</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/1/">List
    submitted products awaiting proofreading</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/2/">List
    web-ready products awaiting book approval</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/3/">List
    book-ready products</a><br /> <br /></li>
<li><a href="/resources/ragu/pending/products/4/">List
    updated book-ready products awaiting ???</a><br /> <br /></li>
</ul>
</section>

</article>
</main>
{% endblock %}
