{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          margin:           1.2em auto;
          border:           thin solid #8b4513;}
legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>
<h2>Search by Priorities</h2>

<form action="/resources/ragu/prioritize/" method="get">
  <fieldset id="priorities">
    <legend>Priorities</legend>
    <p>Select one or more <a href="/resources/ragu/priorities/">priorities</a>
    from the list below. (Selecting <strong>none</strong> of the priorities
    below will list projects that address no priorities.)</p>

    {% for priority in priorities %}
    <input type="checkbox" id="p{{priority.id}}" name="priority"
           value="{{priority.id}}" />
    <label for="p{{priority.id}}">{{priority.summary|safe}}</label><br />
    {% endfor %}
  </fieldset>

  <fieldset id="filter">
    <legend>Any or All</legend>
    <p>If you chose more than one priority above:</p>
    <ul>
    <li>Select <strong>ANY</strong> to display projects that meet
    <strong>at least one</strong> of the priorties selected.</li>
    <li>Select <strong>ALL</strong> to display projects that meet
    <strong>all</strong> of the priorities selected.</li>
    </ul>

    <div style="width:50%; margin:auto; text-align:center;">
      <div style="width:50%; float:left; text-align:center; font-size:150%">
      <input type="radio" id="any" name="collection" value="any" />
      <label for="any">Any</label></div>
      <div style="width:50%; float:left; text-align:center; font-size:150%">
      <input type="radio" id="all" name="collection" value="all" />
      <label for="all">All</label></div>
    </div>
  </fieldset>

  <p><input type="hidden" id="screen" name="screen" value="true" /><button
  type="submit">Submit search</button></p>
</form>

</section>

</article>
</main>
{% endblock %}
