{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
a.dot {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:link {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:visited {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #007fff;
}

a.dot:hover {
        text-decoration:        underline;
        font-style:             italic;
        background-color:       #bbeeff;
        color:                  #ff0000;
}

a.dot:active {
        text-decoration:        none;
        background-color:       transparent;
        color:                  #ff0000;
}

a.dot:visited:hover {
        text-decoration:        underline;
        font-style:             italic;
        background-color:       #bbeeff;
        color:                  #ff0000;
}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section id="title">
<h1 class="center">Funding sources</h1>
</section>

<section>
<h2>Internal funding sources</h2>
<ul>
  {% for funder in internal %}
    <li><a href="/resources/ragu/funder/{{funder.id}}">{{funder.name|safe}}</a></li>
  {% endfor %}
</ul>
</section>

<section>
<h2>External funding sources</h2>
<ul>
  {% for funder in external %}
    <li><a href="/resources/ragu/funder/{{funder.id}}">{{funder.name|safe}}</a></li>
  {% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
