{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/scripts/ragulib.js"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, th, td {border:none; vertical-align:top;}
table, tbody  {width: 100%;}

fieldset {background-color: #f0ffff;
          width:            95%;
          margin:           1.2em auto;
          border:           thin solid #8b4513;}
legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
select   {font-family:      fixed;
          background-color: #ffffff;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2>Choose projects by date of activity</h2>

<section>
<form action="/resources/ragu/chronology/" method="post">
  {% csrf_token %}
  <fieldset id="dates">
    <p>List projects
    <select id="timespan" name="timespan" style="width:10em;"
            onchange="OffOn()">
      <option value="beginning before">beginning before</option>
      <option value="beginning after">beginning after</option>
      <option value="ending before">ending before</option>
      <option value="ending after">ending after</option>
      <option value="active between">active between</option>
    </select>

    <select id="month1" name="month1" style="width:8em;">
      <option value="0"> </option>
      {% for month in months %}
        <option value="{{forloop.counter}}">{{month}}</option>
      {% endfor %}
    </select>
    <select id="year1" name="year1" style="width:5em;">
      <option value="0"> </option>
      {% for year in years %}
        <option value="{{year}}">{{year}}</option>
      {% endfor %}
    </select>

    <span id="toggle" style="display:none;">and
    <select id="month2" name="month2" style="width:8em;">
      <option value="0"> </option>
      {% for month in months %}
        <option value="{{forloop.counter}}">{{month}}</option>
      {% endfor %}
    </select>
    <select id="year2" name="year2" style="width:5em;">
      <option value="0"> </option>
      {% for year in years %}
        <option value="{{year}}">{{year}}</option>
      {% endfor %}
    </select></span></p>

    <p class="center"><button type="submit">Search &rarr;</button></p>
  </fieldset>
</form>

</section>

</article>
</main>
{% endblock %}
