{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          margin:           1.2em auto;
          border:           thin solid #8b4513;}
legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>
<h2>Search by Department / Unit / Discipline</h2>

<p>The list below shows all Gallaudet units, regardless of level
within the organization, that reported research in from October 2010
to September 2013 (FY11-13). Per the 2012 reorganization of Academic
Affairs, only current units are now shown. Thus, some researchers will
be listed under a different unit than previously.  To retrieve
research produced under extinct department titles, please see the
printed report or PDF for prior years at
<a href="http://research.gallaudet.edu/Achievements/">http://research.gallaudet.edu/Achievements/</a>.</p>

<ul>
  {% for unit in units %}
    <li><a href="/resources/ragu/unit/{{unit.id}}">{{unit.name|safe}}</a></li>
  {% endfor %}
</ul>

</section>

</article>
</main>
{% endblock %}
