{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
.huge    {font-size:        150%;
          font-weight:      bold;}

table, tbody, tr, th, td {vertical-align:top;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

a	{text-decoration:	none;
	 background-color:	transparent;
	 color:			#007fff;}

a:link {text-decoration:	none;
	background-color:	transparent;
	color:			#007fff;}

a:visited {text-decoration:	none;
	   background-color:	transparent;
	   color:		#007fff;}

a:hover {text-decoration:	underline;
	 font-style:		italic;
	 background-color:	#bbeeff;
	 color:			#ff0000;}

a:active {text-decoration:	none;
	  background-color:	transparent;
	  color:		#ff0000;}

a:visited:hover {text-decoration:	underline;
		 font-style:		italic;
		 background-color:	#bbeeff;
		 color:			#ff0000;}

.error   {color:            #af0000;
          font-weight:      bold;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffff;
          border:           thin solid #8b4513;}

select   {font-family:      fixed;
          background-color: #ffffff;
          width:            100%;
          border:           thin solid #8b4513;}

input:checked {font-weight:     bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<h2>Search</h2>

<form action="." method="post">
  {% csrf_token %}

  <fieldset>
  <legend>Search string</legend>
  <input type="text" name="phrase" value="{{phrase|escape}}" size="80"
         autofocus="autofocus" />
  </fieldset>

  {% comment %}
  <fieldset>
  <legend>Search in</legend>

  <p>
  <input type="checkbox" name="" id="" value=""><label for=""></label><br />
  <input type="checkbox" name="" id="" value=""><label for=""></label><br />
  <input type="checkbox" name="" id="" value=""><label for=""></label><br />
  ...
  </p>

  </fieldset>
  {% endcomment %}

  <fieldset class="flow">
  <div style="width:100%">
      <button type="submit">Search &rarr;</button>
  </div>
  </fieldset>

</form>
{% if phrase %}
<h2>Search results for "{{phrase|escape}}"</h2>

  {% if projects %}
    <p>{{projects|length}} project{{projects|pluralize}} found with
    "{{phrase|escape}}" in the <span
    style="text-decoration:underline;">title</span> or the <span
    style="text-decoration:underline;">description</span></p>
    <table>
    <thead>
      <tr>
      <th style="text-align:center; width:100%;">Project</th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="/resources/ragu/abstract/{{project.id}}">{% if project.is_live %}<strong><em>{% endif %}{{project.title|safe}}{% if project.is_live %}</em></strong>{% endif %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>No projects found.</p>
  {% endif %}

  {% if products %}
    <p>{{products|length}} product{{products|pluralize}} found with
    "{{phrase|escape}}" in the <span
    style="text-decoration:underline;">description</span></p>
    <table>
    <thead>
      <tr>
      <th style="text-align:center; width:95%;">Product</th>
      <th style="text-align:center; width:5%;">Reported</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="/resources/ragu/abstract/{{product.project.id}}">{% if product.is_live %}<strong><em>{% endif %}{{product.plaintext|safe}}{% if product.is_live %}</em></strong>{% endif %}</a></td>
      <td class="center">{{product.reported}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>No products found.</p>
  {% endif %}

  {% if investigators %}
    <p>{{investigators|length}} investigator{{investigators|pluralize}}
    found with "{{phrase|escape}}" in the <span
    style="text-decoration:underline;">last name</span></p>
    <table>
    <thead>
      <tr>
      <th style="text-align:center; width:15%;">Investigator</th>
      <th style="text-align:center; width:85%;">Project</th>
      </tr>
    </thead>
    <tbody>
    {% for investigator in investigators %}
      <tr class="{% cycle 'odd' 'even' %}">
      <td>{{investigator.staff.person.last_name|safe}},
          {{investigator.staff.person.first_name|safe}}</td>
      <td><a href="/resources/ragu/abstract/{{investigator.project.id}}">{% if investigator.project.is_live %}<strong><em>{% endif %}{{investigator.project.title|safe}}{% if investigator.project.is_live %}</em></strong>{% endif %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>No investigators found.</p>
  {% endif %}

{% endif %}

</article>
</main>
{% endblock %}
