{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, th, td {border:none; vertical-align:top;}
table, tbody  {width: 100%;}

fieldset {background-color: #f0ffff;
          width:            80%;
          margin:           1.2em auto;
          border:           thin solid #8b4513;}
legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section>

<form action="/resources/ragu/internal_use/" method="post">
  {% csrf_token %}
  <fieldset id="tokens">
    <p class="center"><strong>Login</strong></p>
    <table>
      <tbody>
      <tr>
        <td><label for="username">Username</label>: </td>
        <td><input id="username" name="username"
                   type="text" size="60" /></td>
      </tr>
      <tr>
        <td><label for="password">Password</label>: </td>
        <td><input id="password" name="password"
                   type="password" size="60" /></td>
      </tr>
      </tbody>
    </table>
    <p class="center"><button type="submit">Continue &rarr;</button></p>
  </fieldset>
</form>

</section>

</article>
</main>
{% endblock %}
