{% extends "ragu.html" %}
{% block title %}GRI Small Research Grants Awarded for FY{{year|safe}}{% endblock %}

{% block styles %}
<style type="text/css">
#description         {margin: 1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}
article  {page-break-after: always;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">

<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<section id="title">
<h1 class="center">GRI Small Research Grants Awarded for FY{{year|safe}}</h1>
</section>

<p>The Gallaudet Research Institute Small Grants Fund encourages
research projects undertaken by faculty, staff, and students, covering
a wide range of research topics and methodologies.</p>

<section id="summaries">
<p><em>[F: Faculty; S: Student]</em></p>
<table>
<thead style="vertical-align:top; background-color:#e0e0e0;">
<tr>
<th>Investigator<br /><em>Department</em></th>
<th style="text-align:center;">Study Title</th>
</tr>
</thead>
<tbody style="vertical-align:top;">
{% for abstract in abstracts %}
<tr>
<td>
{% if abstract.leaders %}
  {% for leader in abstract.leaders %}
    {% if not forloop.first %}&bullet; {% endif %}
    <strong>{{leader.staff.person.last_name|safe}},
    {% if leader.staff.person.first_name %}
      {{leader.staff.person.first_name|safe}},
    {% endif %}
    {% if leader.staff.profession.id == 9 %}
      (S)
    {% else %}
      (F)
    {% endif %}</strong>
  {% endfor %}
{% endif %}
{% if abstract.principals %}
  {% for principal in abstract.principals %}
    {% if not forloop.first %}&bullet; {% endif %}
    <strong>{{principal.staff.person.last_name|safe}},
    {% if principal.staff.person.first_name %}
      {{principal.staff.person.first_name|safe}},
    {% endif %}
    {% if principal.staff.profession.id == 9 %}
      (S)
    {% else %}
      (F)
    {% endif %}</strong>
  {% endfor %}
{% endif %}
{% if abstract.others %}
  {% for other in abstract.others %}
    &bullet;
    <strong>{{other.staff.person.last_name|safe}},
    {% if other.staff.person.first_name %}
      {{other.staff.person.first_name|safe}},
    {% endif %}
    {% if other.staff.profession.id == 9 %}
      (S)
    {% else %}
      (F)
    {% endif %}</strong>
  {% endfor %}
{% endif %}<br />
{% if abstract.leaders %}
  {% for leader in abstract.leaders %}
    {% if not forloop.first %}&bullet; {% endif %}
    <em>{{leader.staff.department.name|safe}}</em>
  {% endfor %}
{% endif %}
{% if abstract.principals %}
  {% for principal in abstract.principals %}
    {% if not forloop.first %}&bullet; {% endif %}
    <em>{{principal.staff.department.name|safe}}</em>
  {% endfor %}
{% endif %}
{% if abstract.others %}
  {% for other in abstract.others %}
    &bullet;
    <em>{{other.staff.department.name|safe}}</em>
  {% endfor %}
{% endif %}
</td>
<td><a href="/resources/ragu/abstract/{{abstract.project.id}}/">{{abstract.project.title|safe}}</a></td>
</tr>
{% endfor %}
<tbody>
</table>
<p><em>[F: Faculty; S: Student]</em></p>
</section>

</article>
</main>
{% endblock %}
