{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" class="draft" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h2>Projects split across multiple departments</h2>

<section>
<ul>
{% for split in splits %}
  <li><a href="/resources/ragu/abstract/{{split.project.id}}">{{split.project.title|safe}}</a>
      <br /><strong>Currently owned by: {{split.project.department}}</strong>
      <br />Shared by:<ul>
      {% for unit in split.units %}
      <li>{{unit.name}}</li>
      {% endfor %}</ul>
  <br /> <br /></li>
{% endfor %}
</ul>
</section>

</article>
</main>
{% endblock %}
