{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<hr />

<h1 class="center">Details for Units</h1>

<section>
{% for unit in unfixed %}
  <hr style="thin solid black" />
  <h2><strong>{{unit.department.name|safe}}</strong></h2>
  <div style="margin-left:4em;">
  <p><strong>[{{unit.projects|length}} project{{unit.projects|pluralize}},
      {{unit.activities|length}} scholarly activit{{unit.activities|pluralize:"y,ies"}}]</strong></p>
  </div>
{% endfor %}
{% for unit in fixed %}
  <hr style="thin solid black" />
  <h2><strong>{{unit.department.name|safe}}</strong></h2>
  <div style="margin-left:2em;">{{unit.department.description|safe}}</div>
  <div style="margin-left:4em;">
  <p><strong>[{{unit.projects|length}} project{{unit.projects|pluralize}},
      {{unit.activities|length}} scholarly activit{{unit.activities|pluralize:"y,ies"}}]</strong></p>
  </div>
{% endfor %}
<hr style="thin solid black" />
</section>

</article>
</main>
{% endblock %}
