{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
article  {page-break-after: always;}

table    {width:               100%;
          border-collapse:     collapse;}

table td,
table th {border:           1px solid #98bf21;
          padding:          3px 7px 2px 7px;}

table th {font-size:        1.2em;
          text-align:       center;
          padding-top:      5px;
          padding-bottom:   4px;
          background-color: #A7C942;
          color:            #ffffff;}

table tr.odd  td {color:            #000000;
                  background-color: #ffffff;}
table tr.even td {color:            #000000;
                  background-color: #EAF2D3;}

.balance-text {text-wrap: balanced;}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">

<article id="toc">
<h1 class="center">Approved Projects that are not yet Book Ready?</h1>

<p>How did we end up with {{abstracts|length}} projects that are not
yet ready for the book, and yet marked as accepted for inclusion in
the book?</p>

<table>
<thead>
<tr><th>PROJECT TITLE</th></tr>
</thead>
<tbody>
{% for abstract in abstracts %}
<tr class="{% cycle 'odd' 'even' %}">
<td class="balance-text">{{abstract.project.title|safe}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</article>

{% for abstract in abstracts %}
<article>
<section id="abstract.{{forloop.counter}}.title">
<h1 class="center balance-text" style="font-size:200%;">{{abstract.project.title|safe}}</h1>
</section>

{% if abstract.project.status or abstract.project.start_date or abstract.project.end_date %}
<section id="abstract.{{forloop.counter}}.status">
<p>
{% if abstract.project.status %}
  <strong>Status:</strong>
  {% if abstract.project.status == 1 %}
    Ongoing
  {% endif %}
  {% if abstract.project.status == 2 %}
    Completed
  {% endif %}
{% endif %}

{% if abstract.project.begin_date %}
  </br><strong>Start date:</strong>
  {{abstract.project.begin_date|date:"F"}}
  {{abstract.project.begin_date|date:"Y"}}
{% endif %}

{% if abstract.project.end_date %}
  <br /><strong>End Date:</strong>
  {{abstract.project.end_date|date:"F"}}
  {{abstract.project.end_date|date:"Y"}}
{% endif %}
</p>
</section>
{% endif %}

<section id="abstract.{{forloop.counter}}.description">
<h3>Description</h3>

<div>{{abstract.project.description|safe}}</div>
</section>

<section id="abstract.{{forloop.counter}}.principal_investigators">
<h3>Principal investigators</h3>

<ul>
{% for leader in abstract.leaders %}
  <li><strong><a href="/resources/ragu/investigator/{{leader.staff.person.id}}">{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}&bullet;
        {% if leader.staff.program %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a> -
          {% else %}
            {{leader.staff.department.name|safe}} -
          {% endif %}
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {% if leader.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{leader.staff.department.id}}/">{{leader.staff.department.name|safe}}</a>
          {% else %}
            {{leader.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if leader.staff.agency.name != "Gallaudet University" and leader.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if leader.staff.agency.homepage %}
          <a href="{{leader.staff.agency.homepage}}">{{leader.staff.agency.name|safe}}</a>
        {% else %}
          {{leader.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
{% for principal in abstract.principals %}
  <li><strong><a href="/resources/ragu/investigator/{{principal.staff.person.id}}">{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}&bullet;
        {% if principal.staff.program %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a> -
          {% else %}
            {{principal.staff.department.name|safe}} -
          {% endif %}
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {% if principal.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{principal.staff.department.id}}/">{{principal.staff.department.name|safe}}</a>
          {% else %}
            {{principal.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if principal.staff.agency.name != "Gallaudet University" and principal.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if principal.staff.agency.homepage %}
          <a href="{{principal.staff.agency.homepage}}">{{principal.staff.agency.name|safe}}</a>
        {% else %}
          {{principal.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if abstract.others %}
<section id="abstract.{{forloop.counter}}.other_investigators">
<h3>Additional investigators</h3>
<ul>
{% for other in abstract.others %}
  <li><strong><a href="/resources/ragu/investigator/{{other.staff.person.id}}">{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</a></strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}&bullet;
        {% if other.staff.program %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a> -
          {% else %}
            {{other.staff.department.name|safe}} -
          {% endif %}
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {% if other.staff.department.is_internal %}
            <a href="/resources/ragu/unit/{{other.staff.department.id}}/">{{other.staff.department.name|safe}}</a>
          {% else %}
            {{other.staff.department.name|safe}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if other.staff.agency.name != "Gallaudet University" and other.staff.agency.name != "Self" %}&bullet;
        <span style="text-decoration:underline">
        {% if other.staff.agency.homepage %}
          <a href="{{other.staff.agency.homepage}}">{{other.staff.agency.name|safe}}</a>
        {% else %}
          {{other.staff.agency.name|safe}}
        {% endif %}
        </span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.foci %}
<section id="abstract.{{forloop.counter}}.priorities">
<h3>Priorities addressed</h3>

<ul>
{% for focus in abstract.foci %}
  <li><a href="/resources/ragu/priority/{{focus.priority.id}}">{{focus.priority.summary|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.funders %}
<section id="abstract.{{forloop.counter}}.funders">
<h3>Funding sources</h3>

<ul>
{% for funder in abstract.funders %}
  <li><a href="/resources/ragu/funder/{{funder.funder.id}}">{{funder.funder.name|safe}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.products %}
<section id="abstract.{{forloop.counter}}.products">
<h3>Products</h3>

{% for product in abstract.products %}
  {{product.description|safe}}
{% endfor %}
</section>
{% endif %}
</article>
{% endfor %}

</article>
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
