{% extends "ragu.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block scripts %}
  {% load wysiwyg %}
  {% wysiwyg_setup %}
  <script type="text/javascript" src="/scripts/ragulib.js"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
.error   {color:            #af0000;
          font-weight:      bold;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

.huge    {font-size:        150%;
          font-weight:      bold;}

table, tbody, tr, th, td {border:none; vertical-align:top;}
table, tbody  {width: 100%;}
ul            {list-style-type:  none;
               list-style-image: none;
               padding:          0px;
               margin:           0px;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffff;
          border:           thin solid #8b4513;}

select   {font-family:      fixed;
          background-color: #ffffff;
          width:            100%;
          border:           thin solid #8b4513;}

textarea {font-family:      fixed;
          background-color: #ffffff;
          border:           thin solid #8b4513;}

input:checked {font-weight:     bold;}
</style>
{% endblock %}

{% block content %}
<main role="main">
{% if project.stage < 2 %}
<article id="essence" class="draft" role="main">
{% else %}
<article id="essence" role="main" style="background-color:#efffdf;">
{% endif %}

<h1 class="center">Research &amp; Scholarly Achievement<br />
at Gallaudet University</h1>

<form action="." method="post">
  {% csrf_token %}
  {{project_form.non_field_errors}}

  <fieldset>
  <legend>Project title</legend>
  <table>
  <tbody>

  <tr>
    <th style="text-align:right;"><label for="id_title">Title</label>: </th>
    <td>{{project_form.title|safe}}</td>
  </tr>
  {% if project_form.title.errors %}
    <tr>
    <td> </td>
    <td>{% for error in project_form.title.errors %}
          <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</td>
    </tr>
  {% endif %}
  <tr>
    <th style="text-align:right;"><label for="id_department">Department</label>: </th>
    <td>{{project_form.department|safe}}</td>
  </tr>
  {% if project_form.department.errors %}
    <tr>
    <td> </td>
    <td>{% for error in project_form.department.errors %}
          <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</td>
    </tr>
  {% endif %}
  <tr><td colspan="2" style="text-align:center;">(Choose the department or
      unit under which this project should be listed in publications.)</td></tr>
  </tbody>
  </table>
  </fieldset>
          
  <fieldset>
  <legend>Project details</legend>
  <table>
  <tbody>
  <tr>
    <th colspan="2" style="text-align:left;"><label for="id_description">Description</label>:</th>
  </tr>
  <tr>
  <td colspan="2" class="box" style="margin-top:1.5em;">Enter the
  abstract for your project in the space below. Limit the description
  to xxx words. Leave a blank line between paragraphs if necessary,
  but do not use additional formatting.</td>
  </tr>
  <tr>
    <td colspan="2">{{project_form.description|safe}}</td>
  </tr>
  {% if project_form.description.errors %}
    <tr>
    <td colspan="2">{% for error in project_form.description.errors %}
          <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</td>
    </tr>
  {% endif %}

  <tr>
    <th>Begin&nbsp;date:</th>
    <td><select id="beginmonth" name="beginmonth" style="width:10em;">
        <option value="0"> </option>
        {% for month in months %}
        {% if begin_month == forloop.counter %}
          <option value="{{forloop.counter}}" selected="selected">{{month}}</option>
        {% else %}
          <option value="{{forloop.counter}}">{{month}}</option>
        {% endif %}
        {% endfor %}
        </select>
        <select id="beginyear" name="beginyear" style="width:5em;">
        <option value="0"> </option>
        {% for year in years %}
        {% if begin_year == year %}
          <option value="{{year}}" selected="selected">{{year}}</option>
        {% else %}
          <option value="{{year}}">{{year}}</option>
        {% endif %}
        {% endfor %}
        </select>
    </td>
  </tr>

  <tr>
    <th>End&nbsp;date:</th>
    <td><select id="endmonth" name="endmonth" style="width:10em;">
        <option value="0"> </option>
        {% for month in months %}
        {% if end_month == forloop.counter %}
          <option value="{{forloop.counter}}" selected="selected">{{month}}</option>
        {% else %}
          <option value="{{forloop.counter}}">{{month}}</option>
        {% endif %}
        {% endfor %}
        </select>
        <select id="endyear" name="endyear" style="width:5em;">
        <option value="0"> </option>
        {% for year in years %}
        {% if end_year == year %}
          <option value="{{year}}" selected="selected">{{year}}</option>
        {% else %}
          <option value="{{year}}">{{year}}</option>
        {% endif %}
        {% endfor %}
        </select>
    </td>
  </tr>

  <tr>
    <th>Status:</th>
    <td>{{project_form.status|safe}}
        {% if project_form.status.errors %}
          {% for error in project_form.status.errors %}
            <br /><span class="error">&bull; {{error}}</span>
          {% endfor %}
        {% endif %}</td>
  </tr>

  {% comment %}
  <tr>
    <th>Classifiers:</th>
    <td>{{project_form.is_student_project|safe}}
        <label for="id_is_student_project">Student project</label>?
          {% if project_form.is_student_project_form.errors %}
            {% for error in project_form.is_student_project_form.errors %}
              <br /><span class="error">&bull; {{error}}</span>
            {% endfor %}
          {% endif %}
        <br />{{project_form.is_clerc_project|safe}}
        <label for="id_is_clerc_project">Clerc Center project</label>?
          {% if project_form.is_clerc_project_form.errors %}
            {% for error in project_form.is_clerc_project_form.errors %}
              <br /><span class="error">&bull; {{error}}</span>
            {% endfor %}
          {% endif %}
        <br />{{project_form.product_only|safe}}
        <label for="id_product_only">Product only</label>?
          {% if project_form.product_only.errors %}
            {% for error in project_form.product_only.errors %}
              <br /><span class="error">&bull; {{error}}</span>
            {% endfor %}
          {% endif %}
    </td>
  </tr>
  {% endcomment %}

  <tr>
    <th>Priorities:</th>
    <td><ul>{% for priority in focus_form %}
              <li>{{priority}}</li>
            {% endfor %}
    </ul></td>
  </tr>
  {% if focus_form.errors %}
    <tr>
    <td> </td>
    <td>{% for error in focus_form.errors.priorities %}
          <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</td>
    </tr>
  {% endif %}
  </tbody>
  </table>
  </fieldset>

  <fieldset>
  <legend>Current staff</legend>
  <section id="principal_investigators">
  <table>
  <thead>
  <tr style="background-color:#f5f5dc; border:1px solid #00007f;">
  <th style="background-color:#f5f5dc; text-align:center;">Remove</th>
  <th style="background-color:#f5f5dc; text-align:center;">Investigator</th>
  </tr>
  </thead>
  <tbody>
  {% for investigator in investigators %}
    <tr id="investigator.{{forloop.counter}}">
    <td style="text-align:center" id="internal_remove.{{forloop.counter}}"><img
        src="/images/icons/delete_red.svg"
        alt="[X]"
        title="Remove investigator"
        onclick="dropInvestigator({{investigator.id}},'investigator.{{forloop.counter}}');"
        style="height:1em; width:1em;" /></td>
    <td>{% if investigator.is_principal %}<strong>{% endif %}
        {{investigator.staff.person.last_name|safe}},
        {% if investigator.staff.person.first_name %}
          {{investigator.staff.person.first_name|safe}},
        {% endif %}
        {% if investigator.staff.profession %}
          ({{investigator.staff.profession.name|safe}})
        {% endif %}
        {% if investigator.staff.department %}
          {% if investigator.staff.program %}
            {{investigator.staff.department.name|safe}} -
            <em>{{investigator.staff.program.name|safe}}</em>,
          {% else %}
            {{investigator.staff.department.name|safe}},
          {% endif %}
        {% endif %}
        {% if investigator.staff.agency %}
          <span style="text-decoration:underline">{{investigator.staff.agency.name|safe}}</span>
        {% endif %}
    {% if investigator.is_leader %}<span style="color:#7f0000">*</span>{% endif %}
    {% if investigator.is_principal %}</strong>{% endif %}
    </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </section>
  </fieldset>

  <div class="box" style="margin-top:1.5em;">
  <p class="center">In the following sections, click the green plus
  <img src="/images/icons/add_green.svg" style="height:1em; width:1em;"
  alt="[+]" /> icon at the end of a row to add a new record.</p>

  <p>To scroll more quickly through the pull-down menus below, use the
  up- and down-arrow keys, or type the first letter of the name being
  searched for repeatedly. For example, type "R" to bring up the first
  entry beginning with "R". Typing "R" a second time will bring up the
  second entry beginning with "R". And so on.</p>
  </div>

  <fieldset>
  <legend>New Gallaudet staff</legend>
  <table>
  <thead>
  <tr>
  <th>Investigator</th>
  <th class="center">Principal?</th>
  <th class="center">Lead?</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="internal_investigators">
  <tr id="internal_investigator.1">
  <td><select id="internal_person.1" name="internal_person.1">
      <option value="0" selected="selected"> </option>
      {% for internal in internals %}
      <option value="{{internal.id|safe}}">{{internal.person|safe}}
             {% if internal.profession %}
                ({{internal.profession|safe}})
             {% endif %}
             {% if internal.department %}
                - {{internal.department|safe}}
             {% endif %}
             {% if internal.program %}
                ({{internal.program|safe}})
             {% endif %}</option>
      {% endfor %}
  </select></td>
  <td style="text-align:center"><input type="checkbox"
                                       checked="checked"
                                       name="internal_principal.1"
                                       id="internal_principal.1" /></td>
  <td style="text-align:center"><input type="checkbox"
                                       checked="checked"
                                       name="internal_lead.1"
                                       id="internal_lead.1"
                                       onclick="leadIsPrincipal('internal_')" /></td>
  <td style="text-align:center" id="internal_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add investigator"
      onclick="addInvestigator('internal_');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden" name="internal_bodies" id="internal_bodies" value="1" />

  <p>For on-campus staff <span
  style="text-decoration:underline; font-weight:bold">NOT</span> shown
  above, add below. <strong>Program</strong> is for program within a
  department and may be left blank.  The <strong>Group</strong> column
  is only for students, retirees and other people with a non-staff
  affiliation to Gallaudet. Please enter names as last name, followed
  by a comma, first name and optionally, middle initials or names.
  <span style="text-decoration:underline; font-weight:bold">DO
  NOT</span> include titles, degrees, additional commas, etc.</p>

  <div class="box" style="width:50%; margin:1.2em auto;">
  <table>
  <thead>
  <tr>
  <th>&nbsp;&nbsp;&nbsp;GOOD</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;BAD</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Public, John Q.</td>
  <td><s>John Q. Public</s></td>
  </tr>
  <tr>
  <td>Public, John Quincy</td>
  <td><s>Public, Dr. John</s></td>
  </tr>
  <tr>
  <td>Public, John</td>
  <td><s>Public Ph.D., John Q.</s></td>
  </tr>
  </tbody>
  </table>
  </div>

  <table>
  <thead>
  <tr>
  <th class="center">Person</th>
  <th class="center">Department</th>
  <th class="center">Program</th>
  <th class="center">Group</th>
  <th class="center">Principal?</th>
  <th class="center">Lead?</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="new_internal_investigators">
  <tr id="new_internal_investigator.1">
  <td><input type="text"
             name="new_internal_person.1" id="new_internal_person.1"
             value="" placeholder="Lastname, Firstname"
             onfocus="this.select();" /></td>
  <td><select id="new_internal_department.1" name="new_internal_department.1">
      <option value="0" selected="selected"> </option>
      {% for department in internald %}
          <option value="{{department.id|safe}}">{{department.name|safe}}</option>
      {% endfor %}
  </select></td>
  <td><select id="new_internal_program.1" name="new_internal_program.1">
      <option value="0" selected="selected"> </option>
      {% for program in programs %}
          <option value="{{program.id|safe}}">{{program.name|safe}}</option>
      {% endfor %}
  </select></td>
  <td><select id="new_internal_profession.1" name="new_internal_profession.1">
      <option value="0" selected="selected"> </option>
      {% for profession in professions %}
          <option value="{{profession.id|safe}}">{{profession.name|safe}}</option>
      {% endfor %}
  </select>
  <input id="new_internal_agency.1" name="new_internal_agency.1"
         type="hidden" value="20" />
  </td>
  <td style="text-align:center"><input type="checkbox"
                                       checked="checked"
                                       name="new_internal_principal.1"
                                       id="new_internal_principal.1" /></td>
  <td style="text-align:center"><input type="checkbox"
                                       checked="checked"
                                       name="new_internal_lead.1"
                                       id="new_internal_lead.1"
                                       onclick="leadIsPrincipal('new_internal_')" /></td>
  <td style="text-align:center" id="new_internal_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add investigator"
      onclick="addInternal('new_internal_');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden"
         name="new_internal_bodies"
         id="new_internal_bodies"
         value="1" />
  </fieldset>

  <fieldset>
  <legend>New Non-Gallaudet staff</legend>
  <table>
  <thead>
  <tr>
  <th>Investigator</th>
  <th>Principal?</th>
  <th>Lead?</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="external_investigators">
  <tr id="external_investigator.1">
  <td><select id="external_person.1" name="external_person.1">
      <option value="0" selected="selected"> </option>
      {% for external in externals %}
      <option value="{{external.id|safe}}">{{external.person|safe}}
             {% if external.profession %}
                ({{external.profession|safe}})
             {% endif %} -
             {% if external.department %}
                {% if not external.program %}
                   {{external.department|safe}},
                {% else %}
                   {{external.department|safe}}
                {% endif %}
             {% endif %}
             {% if external.program %}
                ({{external.program|safe}}),
             {% endif %}
             {{external.agency|safe}}</option>
      {% endfor %}
  </select></td>
  <td style="text-align:center"><input type="checkbox"
                                       name="external_principal.1"
                                       id="external_principal.1" /></td>
  <td style="text-align:center"><input type="checkbox"
                                       name="external_lead.1"
                                       id="external_lead.1"
                                       onclick="leadIsPrincipal('external_')" /></td>
  <td style="text-align:center" id="external_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add investigator"
      onclick="addInvestigator('external_');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden" name="external_bodies" id="external_bodies" value="1" />

  <p>For off-campus staff <span style="text-decoration:underline;
  font-weight:bold">NOT</span> shown above, add below, one staff
  person per line. Name and "agency" are required! The other fields
  are optional. Do not abbreviate.</p>

  <table>
  <thead>
  <tr>
  <th class="center">Person</th>
  <th class="center">Department</th>
  <th class="center">Agency</th>
  <th class="center">Principal?</th>
  <th class="center">Lead?</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="new_external_investigators">
  <tr id="new_external_investigator.1">
  <td><input type="text"
             name="new_external_person.1" id="new_external_person.1"
             value="" placeholder="Lastname, Firstname" size="16"
             onfocus="this.select();" /></td>
  <td><input type="text"
             name="new_external_department.1" id="new_external_department.1"
             value="" placeholder="Department" size="16"></td>
  <td><input type="text"
             name="new_external_agency.1" id="new_external_agency.1"
             value="" placeholder="Agency" size="16"></td>
  <td style="text-align:center"><input type="checkbox"
                                       name="new_external_principal.1"
                                       id="new_external_principal.1" /></td>
  <td style="text-align:center"><input type="checkbox"
                                       name="new_external_lead.1"
                                       id="new_external_lead.1"
                                       onclick="leadIsPrincipal('new_external_')" /></td>
  <td style="text-align:center" id="new_external_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add investigator"
      onclick="addExternal('new_external_');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden"
         name="new_external_bodies"
         id="new_external_bodies"
         value="1" />
  </fieldset>

  <fieldset>
  <legend>Current funding sources</legend>

  <table>
  <thead>
  <tr style="background-color:#f5f5dc; border:1px solid #00007f;">
  <th style="background-color:#f5f5dc; text-align:center">Remove</th>
  <th style="background-color:#f5f5dc; text-align:center">Source</th>
  </tr>
  </thead>
  <tbody>
  {% for fund in funds %}
    <tr>
    <td style="text-align:center" id="funder_remove.{{forloop.counter}}"><img
        src="/images/icons/delete_red.svg"
        alt="[X]"
        title="Remove funder"
        onclick="removeFunder('funder_');"
        style="height:1em; width:1em;" /></td>
    <td>{{fund.funder}}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </fieldset>

  <fieldset>
  <legend>New funding sources</legend>
  <table>
  <thead>
  <tr>
  <th>Source</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="sources">
  <tr id="source.1">
  <td><select id="funder.1" name="funder.1">
      <option value="0"> </option>
      {% for funder in funders %}
        <option value="{{funder.id|safe}}">{{funder.name|safe}}</option>
      {% endfor %}
  </select></td>
  <td style="text-align:center" id="funder_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add source"
      onclick="addFunding('');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden" name="funding_bodies" id="funding_bodies" value="1" />

  {% if editor.responsibility > 3 %}
  <p>For funding agencies <span style="text-decoration:underline;
  font-weight:bold">NOT</span> shown above, add below. Try to follow
  the format of funding sources above: Be brief, but don't use
  abbrieviations if possible.</p>

  <table>
  <thead>
  <tr>
  <th>Source</th>
  <th> </th>
  </tr>
  </thead>
  <tbody id="new_funding_sources">
  <tr id="new_funding_source.1">
  <td><input type="text"
             name="new_funding_funder.1" id="new_funding_funder.1"
             value="" placeholder="Funding Source"
             style="width:100%;"
             onfocus="this.select();" /></td>
  <td style="text-align:center" id="new_funding_add_more.1"><img
      src="/images/icons/add_green.svg"
      alt="[+]"
      title="Add source"
      onclick="addFunder('new_funding_');"
      style="height:1em; width:1em;" /></td>
  </tr>
  </tbody>
  </table>
  <input type="hidden" name="new_funding_bodies" id="new_funding_bodies" value="1" />
  {% endif %}
  </fieldset>

  {% comment %}
  <!-- HTML5 offers a built-in autocomplete feature... which has  --
    -- issues: Instead of continuing to display the selected text --
    -- it displays the value attribute to the user. Not nice.     -->
  <fieldset>
  <legend>Experimental</legend>
  <h2>Principal investigators</h2>
  <input list="principals" name="principal">
    <datalist id="principals">
    {% for principal in principals %}
      <option label="{{principal.person|safe}}"
              value="{{principal.id|safe}}">{{principal.person|safe}}
                                           ({{principal.profession|safe}}) -
                                            {{principal.department|safe}}
                                           ({{principal.program|safe}}),
                                            {{principal.agency|safe}}</option>
    {% endfor %}
    </datalist>
  </fieldset>
  {% endcomment %}

  <fieldset class="flow" style="background-color:#efffdf;">
  <div style="width:100%; background-color:#efffdf;">
    <div style="width:50%; background-color:#efffdf; float:left; text-align:center;">
      <button type="button" onclick="window.history.back()">&larr; Back</button>
    </div>
    <div style="width:50%; background-color:#efffdf; float:left; text-align:center;">
      <button type="submit">Save project &amp; Add products &rarr;</button>
    </div>
  </div>
  </fieldset>
  <input type="hidden" value=""
         name="drop_investigators" id="drop_investigators" />
</form>

{% if request.session.authorized and request.session.responsibility != "1" %}
  {% wysiwyg_editor "id_description" %}
{% endif %}

</article>
</main>
{% endblock %}

{% comment %}
------------------------------------------------------------------------------
{% if products %}
<section id="products">
<h3>Products</h3>

{% for product in products %}
  {{product.description|safe}}
{% endfor %}
</section>
{% endif %}
{% endcomment %}
