{% extends "barebones.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {border:none;}
#description         {margin: 1.2em auto;}

h1       {font-size:  200%;}
h2       {text-align: center;
          font-size:  150%;}
h3       {font-size:  120%;}

.balance-text {text-wrap: balanced;}

{% comment %}
table, tbody,
tr, th, td    {border:           thin solid #00007f;
               background-color: #e7ed7d;
               border-collapse:  collapse;
               padding:          3px;}
{% endcomment %}

#grid table    {width:               100%;
                border-collapse:     collapse;}

#grid table td,
#grid table th {border:           1px solid #98bf21;
                padding:          3px;}

#grid table th {text-align:       center;
               background-color: #a7c942;
               color:            #ffffff;}

#grid table tr.odd  td {color:            #000000;
                        background-color: #ffffff;}
#grid table tr.even td {color:            #000000;
                        background-color: #EAF2D3;}

.mini    {width:            70%;
          color:            #e0e0e0;
          background-color: #e0e0e0;
          height:           1px;}
.maxi    {width:            100%;
          color:            #000000;
          background-color: #000000;
          height:           5px;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

.draft   {background: url(/images/smalldraft.png) fixed;}

.dot     {color: #7c211e;}

article  {page-break-after: always;}

@media print {
  body   {font-size: 10pt;}
  a      {text-decoration:  none;
          background-color: #ffffff;
          color:            #000000;}
  .draft {background: transparent;}
}
</style>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<main role="main">
<article id="gallaudet_priorities">
<h1 class="center">Gallaudet Research Priorities</h1>

<section id="introduction">
<p>The research priorities of the University reflect the institution's
unique responsibility and commitment to encourage and support research
and scholarship that aims to benefit the diversity of the deaf and
hard of hearing population on campus, across the United States, and
internationally. The thirteen priorities below are the result of a
collaborative process involving many individuals within the Gallaudet
community. The order of listing is not intended to indicate the
relative importance of the priority.</p>
</section>

<section id="priority_list">
<ol>
{% for priority in priorities %}
<li style="margin: auto auto 1.2em auto;">
    <span style="font-weight:bold;">{{priority.summary|safe}}</span><br />
    {{priority.description|safe}}</li>
{% endfor %}
</ol>
</section>
</article>

<article id="grid">
  <section id="title">
  <h1 style="text-align:center;">Research Projects Organized by Research Priorities</h1>
  </section>

  <section id="project_grid">

  <table>
  <thead style="text-align:center;">
  <tr>
  <th scope="col" rowspan="2">Project</th>
  <th id="priorities" colspan="13">Gallaudet Research Priorities</th>
  </tr>
  <tr>
    {% for tip in tips %}
      <th id="{{tip.id}}" scope="col" headers="priorities"
          style="width:1.5em;">{{tip.id}}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in grid %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td>{{ row.project.title|safe }}</td>
    {% for priority in row.priorities %}
      {% if priority %}
        <td style="font-size:200%; text-align:center"><span class="dot">&#9679;</span></td>
      {% else %}
        <td style="font-size:200%; text-align:center;">&nbsp;</td>
      {% endif %}
  {% endfor %}
  </tr>
  {% endfor %}
  </table>
  <p>{{grid|length}} project{{grid|pluralize}} found.</p>
  </section>
</article>

{% if dissertations %}
<article id="student_research" style="margin:0px auto;" class="draft" role="main">

<h1>Students Engaged in Research</h1>

<p style="color:#ff0000; background-color:#ffffe0; font-size:200%; text-align:center;">Feed me!</p>

{% for dissertation in dissertations %}
  {{dissertation.description|safe}}
{% endfor %}

</article>
{% endif %}

{% for section in sections %}
{% if section.abstracts or section.outputs %}
<article id="unit.{{forloop.counter}}">
<h1 class="balance-text">{{section.department.name|safe}}</h1>

{% if section.department.description %}
<section id="about_us.{{forloop.counter}}">
{{section.department.description|safe}}
</section>
{% endif %}

{% if section.abstracts %}
<h2>RESEARCH PROJECTS</h2>
{% for abstract in section.abstracts %}
{% if abstract.project.stage != 3 %}
<section style="margin:0px auto;" class="draft" role="main">
{% else %}
<section style="margin:0px auto;" role="main">
{% endif %}

<hr class="mini" />

<section id="title.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<h2 class="balance-text">{{abstract.project.title|safe}}</h2>
</section>

{% if abstract.project.status or abstract.project.start_date or abstract.project.end_date %}
<section id="status.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<table>
<tbody>
  {% if abstract.project.status %}
    <tr>
    <td><strong>Status:</strong> </td>
    {% if abstract.project.status == 1 %}
      <td>Ongoing</td>
    {% endif %}
    {% if abstract.project.status == 2 %}
      <td>Completed</td>
    {% endif %}
    {% if not abstract.project.status %}
      <td> </td>
    {% endif %}
    <td> </td>
    </tr>
  {% endif %}

  {% if abstract.project.begin_date %}
    <tr>
    <td><strong>Start date:</strong> </td>
    <td>{{abstract.project.begin_date|date:"F"}}</td>
    <td>{{abstract.project.begin_date|date:"Y"}}</td>
    </tr>
  {% endif %}

  {% if abstract.project.end_date %}
    <tr>
    <td><strong>End Date:</strong> </td>
    <td>{{abstract.project.end_date|date:"F"}}</td>
    <td>{{abstract.project.end_date|date:"Y"}}</td>
    </tr>
  {% endif %}

</tbody>
</table>
</section>
{% endif %}

<section id="description.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<div>{{abstract.project.description|safe}}</div>
</section>

<section id="principal_investigators.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<h3>Principal investigators</h3>

<ul>
{% for leader in abstract.leaders %}
  <li><strong>{{leader.staff.person.last_name|safe}},
      {% if leader.staff.person.first_name %}
        {{leader.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if leader.staff.profession in jobs %}
        ({{leader.staff.profession.name|safe}})
      {% endif %}
      {% if leader.staff.department %}
        &bullet;
        {% if leader.staff.program %}
          {{leader.staff.department.name|safe}} -
          <em>{{leader.staff.program.name|safe}}</em>
        {% else %}
          {{leader.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if leader.staff.agency.name != "Gallaudet University" %}
        &bullet;
        <span style="text-decoration:underline">{{leader.staff.agency.name|safe}}</span>
      {% endif %}
  *</li>
{% endfor %}
{% for principal in abstract.principals %}
  <li><strong>{{principal.staff.person.last_name|safe}},
      {% if principal.staff.person.first_name %}
        {{principal.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if principal.staff.profession in jobs %}
        ({{principal.staff.profession.name|safe}})
      {% endif %}
      {% if principal.staff.department %}
        &bullet;
        {% if principal.staff.program %}
          {{principal.staff.department.name|safe}} -
          <em>{{principal.staff.program.name|safe}}</em>
        {% else %}
          {{principal.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if principal.staff.agency.name != "Gallaudet University" %}
        &bullet;
        <span style="text-decoration:underline">{{principal.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>

{% if abstract.others %}
<section id="other_investigators.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<h3>Additional investigators</h3>
<ul>
{% for other in abstract.others %}
  <li><strong>{{other.staff.person.last_name|safe}},
      {% if other.staff.person.first_name %}
        {{other.staff.person.first_name|safe}}
      {% endif %}</strong>
      {% if other.staff.profession in jobs %}
        ({{other.staff.profession.name|safe}})
      {% endif %}
      {% if other.staff.department %}
        &bullet;
        {% if other.staff.program %}
          {{other.staff.department.name|safe}} -
          <em>{{other.staff.program.name|safe}}</em>
        {% else %}
          {{other.staff.department.name|safe}}
        {% endif %}
      {% endif %}
      {% if other.staff.agency.name != "Gallaudet University" %}
        &bullet;
        <span style="text-decoration:underline">{{other.staff.agency.name|safe}}</span>
      {% endif %}
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.funders %}
<section id="funders.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<h3>Funding sources</h3>

<ul>
{% for funder in abstract.funders %}
  <li>{{funder.funder.name|safe}}</li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if abstract.products %}
<section id="products.{{forloop.parentloop.counter}}.{{forloop.counter}}">
<h3>Products</h3>

{% for product in abstract.products %}
{{product.description|safe}}
{% endfor %}
</section>
{% endif %}

</section>
{% endfor %}
{% endif %}

{% if section.outputs %}
<section id="output.{{forloop.counter}}">
<h2>SCHOLARLY AND CREATIVE ACTIVITY</h2>

{% for output in section.outputs %}
  {% if output.lonley.stage != 3 %}
  <section style="margin:0px auto;" class="draft" role="main">
  {% else %}
  <section style="margin:0px auto;" role="main">
  {% endif %}
  {% for product in output.products %}
    {{product.description|safe}}
  {% endfor %}
  </section>
{% endfor %}
</section>
{% endif %}
<hr class="maxi" />
</article>
{% endif %}
{% endfor %}
</main>

<script src="/scripts/balance-text-master/jquery.balancetext.min.js"
        type="text/javascript"></script>
{% endblock %}
