<li><a href="internal_use/">Login</a><br />
(several of the links won't work if not logged in)</li>
<li><a href="logout/">Logout</a></li>

<li><a href="autofill/">Autofill experiment, Part 1</a></li>
<li><a href="api/autoname/">Autofill experiment, Part 2</a></li>

<li><a href="">Home page</a></li>
<li><a href="copyright/">Copyright notice</a></li>
<li><a href="preface/">Preface</a></li>
<li><a href="colophon/">Credits and colophon</a></li>
<li><a href="review/">Review</a></li>

<li><a href="book/2012/">Generate the 2012 book</a><br />
    (For other years, change the year in the URL)</li>

<li><a href="report/">All abstracts in alphabetical order</a><br />
    (NOT sorted by department!)</li>

<li><a href="priorities/">Full description of all research priorities</a></li>

<li><a href="prioritize/">The Project by Priority Grid</a></li>

<li><a href="small_grants/2012/">Small Grants for 2012</a></li>

<li><a href="students/2012/">Student research (dissertations) for 2012</a></li>

<li><a href="abstract/3/">Display a single project report</a><br />
    (For other projects, change the project ID number in the URL)</li>

<li><a href="citations/2012/">Product citations for 2012, grouped by classification</a></li>

<li><a href="priority/10/">Priority 10 and all projects which address it</a><br />
    (For other priorities and the projects that address them, change the priority number in the URL)</li>

<li><a href="investigator/19/">List projects for an investigator</a><br />
    (For other investigators, change the investigator ID number in the URL)</li>

<li><a href="funder/(\d{1,5})/"> by_funder),
<li><a href="unit/(\d{1,5})/">   by_unit),

<li><a href="screen_investigator/">
<li><a href="screen_dates/">
<li><a href="screen_funder/">
<li><a href="screen_priorities/">
<li><a href="screen_unit/">

<li><a href="funding/">

<li><a href="add_project/">
<li><a href="update_project/(\d{1,5})/">
<li><a href="add_product/">
<li><a href="update_product/(\d{1,5})/">
<li><a href="pending/projects/(\d{1,2})/">
<li><a href="pending/products/(\d{1,2})/">
<li><a href="leadership/">
