<!DOCTYPE html>
<html lang="en-US">
 <head>
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <link rel="license"
        title="[Kevin Cole]"
        href="http://research.gallaudet.edu/~kjcole/license/notice.php" />
  <link rel="author"
        title="[Kevin Cole]"
        href="http://research.gallaudet.edu/~kjcole/" />
<title>Re: Visit Inquiry - 
       ({{inquiry.arr_date|date:"F j, Y"}} to 
        {{inquiry.dep_date|date:"F j, Y"}})</title>
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}
fieldset {margin:           10px;
          background-color: #dfffff;
          border:           thin solid #ff7f7f;}
legend   {background-color: #ffffc0;
          border:           thin solid #ff7f7f;
          color:            #ff3f3f;
          font-weight:      bold;}
.center  {margin:           1em auto;
          text-align:       center;}
table, tbody, tr, th, td { border: none; }
</style>
<head>
<body itemscope itemtype="http://schema.org/WebPage">
<article id="essence" role="main"
         style="margin:0px auto;">

<div style="border:1px solid black; width:715px; padding:20px;">
<div><img
 src="http://research.gallaudet.edu/images/logos/Gallaudet-750.png"
 alt="Gallaudet University" width="281" height="159"
 style="display:block; margin:auto; width:281px; height:150px" />
</div>

<section style="page-break-after:always;">
<p style="text-align:right;">{{today|date:"F j, Y"}}</p>
<p>Dear {{inquiry.requester}},</p>

<p>Your request for special support while visiting Gallaudet University
has been received. We will be in touch shortly. Please save this
receipt.</p>

<p>Please know that you may visit Gallaudet University without our
office's support. Also, you may contact faculty members or academic
units directly. For information about visiting Gallaudet, see:
<a href="http://www.gallaudet.edu/">http://www.gallaudet.edu/</a>. To
reach our Visitor Center (tour schedules, campus housing, etc.) see
<a href="http://www.gallaudet.edu/visitors_center.html">http://www.gallaudet.edu/visitors_center.html</a>.</p>

<p>If you are interested in studying at Gallaudet, see 
<a href="http://www.gallaudet.edu/welcome_international_visitors.html">http://www.gallaudet.edu/welcome_international_visitors.html</a>.</p>

<p>Now we will consider your request for special support, as in
arranging meetings or class visits. If our office can support your
visit, we can provide up to two (2) days of support only.</p>

<p>Send all correspondence to email &lt;<a
 href="mailto:intl.visit@gallaudet.edu">intl.visit@gallaudet.edu</a>&gt;.</p>

{% if inquiry.interpreter %}
  <p>IMPORTANT: From your answer on the form, it appears
  that <strong>you need sign language interpreters</strong> for easy
  communication while at Gallaudet. That is, interpreting from</p>

  <p style="text-align:center;">American Sign Language (ASL)
  &larr;&rarr; spoken English</p>

  <p style="text-align:center;">OR</p>

  <p style="text-align:center;">ASL &larr;&rarr; your spoken language
  or sign language.</p>

  <p>We can give two hours of ASL &larr;&rarr; English interpreting
  without cost to you.  After that, we can hire interpreters at your
  expense. We can not provide interpreters for other languages; you
  must bring them with you.</p>
{% endif %}

<p>Thank you for your interest in Gallaudet University.</p>

<p>--&nbsp;<br />
The Office of International Programs &amp; Services<br />
Dawes House, Gallaudet University<br />
800 Florida Avenue, N.E.<br />
Washington, D.C. 20002</p>

<p>Send all correspondence to email &lt;<a 
href="mailto:intl.visit@gallaudet.edu">intl.visit@gallaudet.edu</a>&gt;.</p>
</section>

<section style="page-break-after:always;">
<h1 style="text-align:center;">Receipt</h1>

<fieldset style="margin:35px 10px;background-color:#dfffff;border:thin solid #ff7f7f;">
<legend style="background-color:#ffffc0;border:thin solid #ff7f7f;color:#ff3f3f;font-weight:bold;">General Information</legend>

<table style="table-layout:fixed; width:640px;">
<tbody style="vertical-align:top;">

<tr><td style="width:30%;">Countries:</td>
<td style="width:70%;">
{% for country in inquiry.countries.all %}
{{country|safe}}
{% if not forloop.last %}<br />{% endif %}
{% endfor %}</td></tr>

<tr><td style="width:30%;">Arrival date:</td>
<td style="width:70%;">{{inquiry.arr_date}}</td></tr>

<tr><td style="width:30%;">Arrival time:</td>
<td style="width:70%;">{{inquiry.get_arr_time_display}}</td></tr>

<tr><td style="width:30%;">Departure date:</td>
<td style="width:70%;">{{inquiry.dep_date}}</td></tr>

<tr><td style="width:30%;">Departure time:</td>
<td style="width:70%;">{{inquiry.get_dep_time_display}}</td></tr>

<tr><td style="width:30%;">Requester:</td>
<td style="width:70%;">{{inquiry.requester}}</td></tr>

<tr><td style="width:30%;">Organization:</td>
<td style="width:70%;">{{inquiry.organization}}</td></tr>

<tr><td style="width:30%;">Email address:</td>
<td style="width:70%;">{{inquiry.email}}</td></tr>

<tr><td style="width:30%;">Phone number:</td>
<td style="width:70%;">{{inquiry.phone}}</td></tr>

<tr><td style="width:30%;">Number of visitors:</td>
<td style="width:70%;">{{inquiry.visitors}}</td></tr>

<tr><td style="width:30%;">Number&nbsp;of&nbsp;English&nbsp;speakers:</td>
<td style="width:70%;">{{inquiry.speakers}}</td></tr>

<tr><td style="width:30%;">Number&nbsp;of&nbsp;ASL&nbsp;users:</td>
<td style="width:70%;">{{inquiry.signers}}</td></tr>

<tr><td style="width:30%;">Purpose of visit:</td>
<td style="width:70%;">{{inquiry.purpose}}</td></tr>

<tr><td style="width:30%;">Need letters?:</td>
<td style="width:70%;">{{inquiry.get_letters_display}}</td></tr>

</tbody>
</table>
</fieldset>
</section>

{% if visitors %}
{% for visitor in visitors %}
<section style="page-break-after:always;">
<fieldset style="margin:35px 10px;background-color:#dfffff;border:thin solid #ff7f7f;">
  <legend  style="background-color:#ffffc0;border:thin solid #ff7f7f;color:#ff3f3f;font-weight:bold;">Visitor #{{forloop.counter}}</legend>
  <table style="table-layout:fixed; width:640px;">
  <colgroup>
    <col span="1" style="width:30%;" />
    <col span="1" style="width:70%;" />
  </colgroup>
  <tbody style="vertical-align:top;">
  <tr>
  <td style="30%">Family name(s):</td>
  <td style="70%">{{visitor.surname}}</td>
  </tr>
  <tr>
  <td style="30%">Given name(s):</td>
  <td style="70%">{{visitor.givenname}}</td>
  </tr>
  <tr>
  <td style="30%">Middle name(s):</td>
  <td style="70%">{{visitor.middlename}}</td>
  </tr>
  <tr>
  <td style="30%">Occupation:</td>
  <td style="70%">{{visitor.occupation}}</td>
  </tr>
  <tr>
  <td style="30%">Gender:</td>
  <td style="70%">{{visitor.gender}}</td>
  </tr>
  <tr>
  <td style="30%">Date of birth:</td>
  <td style="70%">{{visitor.dob}}</td>
  </tr>
  <tr>
  <td style="30%">Country of citizenship:</td>
  <td style="70%">{{visitor.citizenship|safe}}</td>
  </tr>
  <tr>
  <td style="30%">Country of birth:</td>
  <td style="70%">{{visitor.native|safe}}</td>
  </tr>
  <tr>
  <td style="30%">Country of legal residence:</td>
  <td style="70%">{{visitor.residence|safe}}</td>
  </tr>
  </tbody>
  </table>
</fieldset>
</section>
{% endfor %}
{% endif %}

<section style="page-break-after:always;">
<p
 style="font-size:10pt; font-weight:bold; color:#00447C; text-align:center; vertical-align:top; padding-top:6px;">
Dawes House &bull; 
800 Florida Avenue, NE &bull; 
Washington, DC 20002-3695<br />
202-651-5575 &bull; 
intl.visit@gallaudet.edu &bull; 
www.gallaudet.edu
</p>
</section>

</div>
</article>
</body>
</html>
