{% extends "visitors.html" %}
{% block title %}INTERNATIONAL VISITOR REQUEST FORM{% endblock %}

{% block styles %}
<link rel="stylesheet"
        href="/CSS/jquery/redmond/datepicker.css" />
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}

fieldset {margin:           10px;
          background-color: #fff5d7;              /* buff/flesh   */
          border:           thin solid #a6c9e2;}  /* sky blue     */

legend   {background-color: #e6f3fd;              /* light blue   */
          border:           thin solid #a6c9e2;   /* sky blue     */
          color:            #ff3f3f;              /* light red    */
          font-weight:      bold;}

input,textarea,
select, option {background-color: #ffffff;
                font-family:      fixed;
                font-size:        16px;
                vertical-align:   top;}

input, textarea, select {border: 1px solid #a6c9e2;}

.center  {margin:           1em auto;
          text-align:       center;}

.error   {color:       #af0000;
          display: inline-block !important;
          font-weight: bold;}

table, tbody, tr, th, td { border: none; }
.ui-datepicker-trigger {position: relative;
                        top:      -12px;}   /* Move the calendar icon up */
</style>
{% endblock %}

{% block scripts %}
  <!-- jQuery UI Autocomplete script stuff -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
          type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js"
          type="text/javascript"></script>
  <script src="/lib/jquery.validate.min.js"
          type="text/javascript"></script>

<script type="text/javascript">
function OnSubmitForm() {
  var form = document.getElementById("general");
  if      (form.letters[0].checked == true) form.action = "letters.php";
  else if (form.letters[1].checked == true) form.action = "deliver.php";
  return true;
}

function enable_autocomplete(InputField) {
  $(InputField)
    .autocomplete({source: "/resources/visitors/api/feed/",
                   delay: 0,
                   minLength: 1,
                   autoFocus: true,
                   change: function (event, ui) {
                             if (!ui.item)
                               { $(this).val(""); }
                             else
                               { $(this).siblings("input").val(ui.item.id); }
                           }
    });
}

$(function() {

  enable_autocomplete($(".fill"));

  var fourweeks = new Date();
  fourweeks.setDate(fourweeks.getDate()+28);

  $.datepicker.setDefaults($.datepicker.regional[""]);
  $(".datepicker").datepicker({changeMonth:     true,
                               changeYear:      true,
                               showOn:          "button",
                               buttonImage:     "/images/icons/calendar.png",
                               buttonText:      "Choose (yyyy-mm-dd)",
                               buttonImageOnly: true,
                               dateFormat:      "yy-mm-dd",
                               minDate:         "+4W",
                               defaultDate:     "+4W",});
  $(".datepicker").datepicker("setDate", "+4w");

  /* Force datepicker to initiate a change event */
  $(".datepicker").datepicker("option", "onSelect", 
                              function(dateText,inst) { $(this).change(); });

  /* If the arrival date changes... */
  $("#id_arr_date").change(function() {
    var arr_date = $(this).val();
    /* arrival  = new Date(Date.parse(arr_date + " 00:00:00")); */
    var arrival   = $(this).datepicker("getDate");
    var eta       = arrival.toString().slice(0,15);

    /* ...ensure that the arrival time is at least four weeks out */
    if (arrival < fourweeks) {
      var error;
      error  = eta + " is in less than four weeks!\n\n";
      error += "The arrival date has been reset to four weeks from today.";
      alert(error);
      $(this).datepicker("setDate", fourweeks);
    }

    /* ...ensure departure date is after the arrival time */
    $("#id_dep_date").datepicker("option",
                                 "minDate",     $(this).datepicker("getDate"));
    $("#id_dep_date").datepicker("option",
                                 "defaultDate", $(this).datepicker("getDate"));
  });

  $("#id_dep_date").change(function() {
    var arrival   = $("#id_arr_date").datepicker("getDate");
    var departure = $(this).datepicker("getDate");
    var eta       = arrival.toString().slice(0,15);
    var etd       = departure.toString().slice(0,15);
    if (departure < arrival) {
      var error;
      error  = "You cannot depart before you arrive!\n\n";
      error += "       Arrival: " + eta + "\nDeparture: " + etd + "\n\n";
      error += "The departure date has been reset to arrival date.";
      alert(error);
      $(this).datepicker("setDate", arrival);
    }
  });

  $(".spinner").spinner({min: 0, max: 99});
  $("#id_visitors").spinner("option", "min", 1);
  $("#id_visitors").spinner("value", 1);
  $("#id_speakers").spinner("value", 0);
  $("#id_signers").spinner("value",  0);

  $("#id_speakers").spinner({change: function(event,ui) {
    var visitors = $("#id_visitors").spinner("value");
    var speakers = $(this).spinner("value");
    if (speakers > visitors) {
      var error;
      error  = "You cannot have more speakers than visitors!\n\n";
      error += "The number of speakers has been reset to the number of visitors.";
      alert(error);
      $(this).spinner("value", visitors);
    }
  }});

  $("#id_signers").spinner({change: function(event,ui) {
    var visitors = $("#id_visitors").spinner("value");
    var signers = $(this).spinner("value");
    if (signers > visitors) {
      var error;
      error  = "You cannot have more signers than visitors!\n\n";
      error += "The number of signers has been reset to the number of visitors.";
      alert(error);
      $(this).spinner("value", visitors);
    }
  }});

  /* Field validation */
  $("#inquiry").validate({
    errorPlacement: function(error, element) {
      if      (element.attr("name") == "letters")
              { error.insertAfter("#invitations"); }
      else if (element.attr("name") == "country.1")
              { error.insertAfter("#kludge\\.1"); }
      else    { error.insertAfter(element); }
    },
    rules: {
      "arr_date":     {required: true},
      "arr_time":     {required: true},
      "dep_date":     {required: true},
      "dep_time":     {required: true},
      "requester":    {required: true},
      "organization": {required: true},
      "email":        {required: true, email: true},
      "phone":        {required: true},
      "country.1":    {required: true, min: 1},
      "visitors":     {required: true},
      "purpose":      {required: true},
      "speakers":     {required: true},
      "signers":      {required: true},
      "letters":      {required: true},
    },
    messages: {
      "country.1":    "This field is required.",
    },
  });

  /* Multiple countries */
  $("#countries").on("click", ".add", function(event) {
    var oldID = parseInt($("#countries > span:last-child")
                           .attr("id").split(".")[1]);

    var newID = oldID+1;

    var $newOrigin=$("#origin\\."+oldID)
                     .clone();

    $newOrigin.find("#countries\\."+oldID)
              .val(null)
              .attr("name", "countries."+newID)
              .attr("id",   "countries."+newID);

    $newOrigin.find("#country\\."+oldID)
              .val(null)
              .attr("name", "country."+newID)
              .attr("id",   "country."+newID);

    $newOrigin.find("#add_more\\."+oldID)
               .attr("id", "add_more."+newID);

    $newOrigin.find("#kludge\\."+oldID)
               .attr("id", "kludge."+newID);

    $newOrigin.attr("id", "origin."+newID);

    $(".incomplete")
      .css("background-color","#dfdfdf")
      .prop("readonly", true)
      .removeClass("incomplete")
      .addClass("complete")
      .addClass("flat")
      .autocomplete("destroy")
      .removeData("autocomplete");

//  $("option:not(:selected)").remove();
    $("span[role='status']").remove();
    $(".ui-menu-item").remove();
    $(".ui-menu").remove();

    $(".add")
      .removeClass("add")
      .addClass("remove")
      .attr("src","https://research.gallaudet.edu/images/icons/delete_red.svg")
      .attr("alt","[X]")
      .attr("title","Remove country");

    $newOrigin.appendTo("#countries");
    enable_autocomplete($(".fill"));

    $("#origins").val(newID);

//  return false;
  });
});
</script>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">

{% comment %}
<!-- DEBUG -->
{% if inquiry_form.errors %}
    {% for field in inquiry_form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ field.html_name }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in inquiry_form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<!-- END DEBUG -->
{% endcomment %}

<h1 class="center">INTERNATIONAL VISITOR REQUEST FORM</h1>

<p>Please provide <strong>ALL</strong> the requested information.</p>

<form id="inquiry" action="." method="post">
  {% csrf_token %}
  {{inquiry_form.non_field_errors}}

<fieldset>
  <legend>General information</legend>

  <table style="width:100%;">
  <colgroup>
    <col span="1" style="width:40%;" />
    <col span="1" style="width:25%;" />
    <col span="1" style="width:35%;" />
  </colgroup>

  <tbody style="vertical-align:top;">

  <tr>
  <td colspan="3"><div style="margin:10px 50px auto 50px;">
  You are welcome to visit Gallaudet for as long
  as you wish. However, our office can only provide up to two (2) days
  support for your visit.  If you need a longer stay please contact
  &lt;<a href="mailto:intl.visit@gallaudet.edu">intl.visit@gallaudet.edu</a>&gt;
  directly. You can find information about visiting Gallaudet at <a
  href="http://www.gallaudet.edu/international_relations/visitor_information.html">http://www.gallaudet.edu/international_relations/visitor_information.html</a>.
  <br /> <br /></div></td>
  </tr>

  <tr>
  <td colspan="3" style="height:50px; vertical-align:bottom;"><span
      style="text-decoration:underline; font-weight:bold;">Date(s)
      of visit:</span><br />
      <span style="font-size:80%; color:#8f8f8f;">Click the calendar icons 
      to select dates, or enter dates directly with the format 
      "yyyy-mm-dd"<br />
      (a four-digit year, a two-digit month and a two-digit day, separated
      by hyphens).</span><br />&nbsp;</td>
  </tr>

  <tr>
  <td style="text-align:right;"><label
      for="id_arr_date"><strong>Arrival on campus:</strong></label></td>
  <td>{{inquiry_form.arr_date}}</td>
  <td><label for="id_arr_time">Time:</label>
      {{inquiry_form.arr_time}}</td>
  </tr>
  {% if inquiry_form.arr_date.errors or inquiry_form.arr_time.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.arr_date.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  {% for error in inquiry_form.arr_time.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right;"><label
      for="id_dep_date"><strong>Departure from campus:</strong></label></td>
  <td>{{inquiry_form.dep_date}}</td>
  <td><label for="id_dep_time">Time:</label>
      {{inquiry_form.dep_time}}</td>
  </tr>
  {% if inquiry_form.dep_date.errors or inquiry_form.dep_time.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.dep_date.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  {% for error in inquiry_form.dep_time.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-decoration:underline; font-weight:bold; height:50px; vertical-align:bottom;">Requester
      Information</td>
  <td colspan="2"> </td>
  </tr>

  <tr>
  <td style="text-align:right;"><label for="id_requester">Requester's
      name:</label></td>
  <td colspan="2">{{inquiry_form.requester}}</td>
  </tr>
  {% if inquiry_form.requester.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.requester.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right;"><label for="id_organization">Requester's
      organization:</label></td>
  <td colspan="2">{{inquiry_form.organization}}</td>
  </tr>
  {% if inquiry_form.organization.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.organization.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right;"><label for="id_email">Requester's
      email address:</label></td>
  <td colspan="2">{{inquiry_form.email}}</td>
  </tr>
  {% if inquiry_form.email.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.email.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right;"><label for="id_phone">Requester's
      phone number:</label></td>
  <td colspan="2">{{inquiry_form.phone}}</td>
  </tr>
  {% if inquiry_form.phone.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.phone.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-decoration:underline; font-weight:bold; height:50px; vertical-align:bottom;">Visitors
      Information</td>
  <td colspan="2"> </td>
  </tr>

  <tr>
  <td style="text-align:right;"><label for="countries.1">Countries 
    of visitor(s):</label><br />
    <span style="font-size:80%; color:#8f8f8f;">(Click the 
    <img src="/images/icons/add_green.svg" 
         alt="[+]"
         title="green cross"
         style="height:1em; width:1em;" />
    to add countries.)</span></td>
  <td colspan="2" id="countries">
    <span class="origin" id="origin.1">
      <input type="text" placeholder="Country name" value=""
             id="countries.1" name="countries.1" style="width:375px;"
             class="fill incomplete"><input 
             type="hidden"
             id="country.1" name="country.1" value="" />&nbsp;<img
             class="add" id="add_more.1"
             src="/images/icons/add_green.svg"
             alt="[+]"
             title="Add country"
             style="height:1em; width:1em;" /><br id="kludge.1" />
      {% comment %}
      <select id="country.1" name="country.1" style="width:375px;">
        <option select="selected"
                value="0"
                style="width:375px;"> </option>
        {% for country in countries %}
          <option value="{{country.id}}"
                  style="width:375px;">{{country.name|safe}}</option>
        {% endfor %}
      </select>
      {% endcomment %}
    </span>
  </td>
  </tr>

  <tr>
  <td style="text-align:right;"><label for="id_visitors">Number of
      visitor(s):</label></td>
  <td colspan="2">{{inquiry_form.visitors}}</td>
  </tr>
  {% if inquiry_form.visitors.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.visitors.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right"><label for="id_purpose">Goals for
      visit:</label></td>
  <td colspan="2">(1) <strong>Focus</strong>: Please specify
      your topics of interest. <br />(2) <strong>Acivity</strong>: What 
      would you like to see on campus?<br />
      {{inquiry_form.purpose}}</td>
  </tr>
  {% if inquiry_form.purpose.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.purpose.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-decoration:underline; font-weight:bold; height:50px; vertical-align:bottom;">Interpreting</td>
  <td colspan="2"> </td>
  </tr>

  <tr>
  <td colspan="3">The main modes of communication at Gallaudet
  University are <strong>American Sign Language (ASL)</strong> and
  <strong>English</strong>.<br />
  <br />How many members of your group&hellip;</td>
  </tr>

  <tr>
  <td style="text-align:right;"><label
      for="id_speakers">&hellip;speak English fluently? </label></td>
  <td colspan="2">{{inquiry_form.speakers}}</td>
  </tr>
  {% if inquiry_form.speakers.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.speakers.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td style="text-align:right;"><label
      for="id_signers">&hellip;use ASL fluently? </label></td>
  <td colspan="2">{{inquiry_form.signers}}</td>
  </tr>
  {% if inquiry_form.signers.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.signers.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  <tr>
  <td colspan="3">We will contact you about interpreting needs and 
  costs, if applicable.</td>
  </tr>

  <tr>
  <td style="text-decoration:underline; font-weight:bold; height:50px; vertical-align:bottom;">Invitation
      letters</td>
  <td colspan="2"> </td>
  </tr>

  <tr>
  <td colspan="3">Do you require an invitation letter?
  <span id="invitations">{{inquiry_form.letters}}</span></td>
  </tr>
  {% if inquiry_form.letters.errors %}
  <tr>
  <td> </td>
  <td colspan="2">
  {% for error in inquiry_form.letters.errors %}
    <span class="error">&bull; {{error}}</span><br />
  {% endfor %}
  </td>
  </tr>
  {% endif %}

  </tbody>
  </table>
<input type="hidden" name="origins" id="origins" value="1" />
</fieldset>

<!--
<fieldset>
  <legend>A radio example (choose one)</legend>

  <input id="input2" name="city" type="radio" value="1" />
      <label for="input2">Washington, DC</label><br />

  <input id="input3" name="city" type="radio" value="2" />
                <label for="input3">Hyattsville, MD</label><br />

  <input id="input4" name="city" type="radio" value="3" />
                    <label for="input4">Falls Church, VA</label>

</fieldset>

<fieldset>
  <legend>A checkbox example (choose many)</legend>

  <input id="input5" name="feature1" type="checkbox" value="1" />
  <label for="input5">Four-wheel drive</label><br />

  <input id="input6" name="feature2" type="checkbox" value="1" />
  <label for="input6">GPS</label><br />

  <input id="input7" name="feature3" type="checkbox" value="1" />
  <label for="input7">Air Conditioning</label>

</fieldset>

<fieldset>
  <legend>A select (pull-down) example</legend>

  <select id="input8" name="mb" title="month">
      <option value="???"> </option>
    <optgroup label="1st quarter">
      <option value="Jan">January</option>
      <option value="Feb">February</option>
      <option value="Mar">March</option>
    </optgroup>
    <optgroup label="2nd quarter">
      <option value="Apr">April</option>
      <option value="May">May</option>
      <option value="Jun">June</option>
    </optgroup>
  </select>

  <select id="input9" name="yb" title="year">
    <option value="????"> </option>
    <option value="1990">1990</option>
    <option value="1991">1991</option>
    <option value="1992">1992</option>
    <option value="1993">1993</option>
    <option value="1994">1994</option>
    <option value="1995">1995</option>
  </select>

</fieldset>

<p class="center">
  <button type="button"
          onclick="alert('Hey!');">Click me!</button></p>

<p class="center">
  <button type="button"
          onclick="alert('You typed: ' + document.getElementById('requester_name').value);">Show
          text</button>
</p>
-->

<p class="center">
  <button type="submit">Next &rarr;</button>
</p>

</form>

</article>
</main>
{% endblock %}
