<!DOCTYPE html>
<html lang="en-US">
 <head>
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <link rel="license"
        title="[Kevin Cole]"
        href="http://research.gallaudet.edu/~kjcole/license/notice.php" />
  <link rel="author"
        title="[Kevin Cole]"
        href="http://research.gallaudet.edu/~kjcole/" />
<title>{{inquiry.arr_date|date:"F j, Y"}} -
       {{inquiry.dep_date|date:"F j, Y"}}:
       {{inquiry.countries.all.0}}</title>
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}
fieldset {margin:           10px;
          background-color: #dfffff;
          border:           thin solid #ff7f7f;}
legend   {background-color: #ffffc0;
          border:           thin solid #ff7f7f;
          color:            #ff3f3f;
          font-weight:      bold;}
.center  {margin:           1em auto;
          text-align:       center;}
table, tbody, tr, th, td { border: none; }
</style>
<head>
<body itemscope itemtype="http://schema.org/WebPage">
<article id="essence" role="main"
         style="margin:0px auto;">

<section style="page-break-after:always;">
<h1 style="text-align:center;">{{inquiry.arr_date|date:"F j, Y"}} -
                               {{inquiry.dep_date|date:"F j, Y"}}:
                               {{inquiry.countries.all.0}}</h1>

<fieldset style="margin:35px 10px;background-color:#dfffff;border:thin solid #ff7f7f;">
<legend style="background-color:#ffffc0;border:thin solid #ff7f7f;color:#ff3f3f;font-weight:bold;">General Information</legend>

<table style="table-layout:fixed; width:640px;">
<tbody style="vertical-align:top;">

<tr><td style="width:30%;">Countries:</td>
<td style="width:70%;">
{% for country in inquiry.countries.all %}
{{country|safe}}
{% if not forloop.last %}<br />{% endif %}
{% endfor %}</td></tr>

<tr><td style="width:30%;">Arrival date:</td>
<td style="width:70%;">{{inquiry.arr_date}}</td></tr>

<tr><td style="width:30%;">Arrival time:</td>
<td style="width:70%;">{{inquiry.get_arr_time_display}}</td></tr>

<tr><td style="width:30%;">Departure date:</td>
<td style="width:70%;">{{inquiry.dep_date}}</td></tr>

<tr><td style="width:30%;">Departure time:</td>
<td style="width:70%;">{{inquiry.get_dep_time_display}}</td></tr>

<tr><td style="width:30%;">Requester:</td>
<td style="width:70%;">{{inquiry.requester}}</td></tr>

<tr><td style="width:30%;">Organization:</td>
<td style="width:70%;">{{inquiry.organization}}</td></tr>

<tr><td style="width:30%;">Email address:</td>
<td style="width:70%;">{{inquiry.email}}</td></tr>

<tr><td style="width:30%;">Phone number:</td>
<td style="width:70%;">{{inquiry.phone}}</td></tr>

<tr><td style="width:30%;">Number of visitors:</td>
<td style="width:70%;">{{inquiry.visitors}}</td></tr>

<tr><td style="width:30%;">Number&nbsp;of&nbsp;English&nbsp;speakers:</td>
<td style="width:70%;">{{inquiry.speakers}}</td></tr>

<tr><td style="width:30%;">Number&nbsp;of&nbsp;ASL&nbsp;users:</td>
<td style="width:70%;">{{inquiry.signers}}</td></tr>

<tr><td style="width:30%;">Purpose of visit:</td>
<td style="width:70%;">{{inquiry.purpose}}</td></tr>

<tr><td style="width:30%;">Need letters?:</td>
<td style="width:70%;">{{inquiry.get_letters_display}}</td></tr>

</tbody>
</table>
</fieldset>
</section>

{% if visitors %}
{% for visitor in visitors %}
<section style="page-break-after:always;">
<fieldset style="margin:35px 10px;background-color:#dfffff;border:thin solid #ff7f7f;">
  <legend  style="background-color:#ffffc0;border:thin solid #ff7f7f;color:#ff3f3f;font-weight:bold;">Visitor #{{forloop.counter}}</legend>
  <table style="table-layout:fixed; width:640px;">
  <colgroup>
    <col span="1" style="width:30%;" />
    <col span="1" style="width:70%;" />
  </colgroup>
  <tbody style="vertical-align:top;">
  <tr>
  <td style="30%">Family name(s):</td>
  <td style="70%">{{visitor.surname}}</td>
  </tr>
  <tr>
  <td style="30%">Given name(s):</td>
  <td style="70%">{{visitor.givenname}}</td>
  </tr>
  <tr>
  <td style="30%">Middle name(s):</td>
  <td style="70%">{{visitor.middlename}}</td>
  </tr>
  <tr>
  <td style="30%">Occupation:</td>
  <td style="70%">{{visitor.occupation}}</td>
  </tr>
  <tr>
  <td style="30%">Gender:</td>
  <td style="70%">{{visitor.gender}}</td>
  </tr>
  <tr>
  <td style="30%">Date of birth:</td>
  <td style="70%">{{visitor.dob}}</td>
  </tr>
  <tr>
  <td style="30%">Country of citizenship:</td>
  <td style="70%">{{visitor.citizenship|safe}}</td>
  </tr>
  <tr>
  <td style="30%">Country of birth:</td>
  <td style="70%">{{visitor.native|safe}}</td>
  </tr>
  <tr>
  <td style="30%">Country of legal residence:</td>
  <td style="70%">{{visitor.residence|safe}}</td>
  </tr>
  </tbody>
  </table>
</fieldset>
</section>
{% endfor %}
{% endif %}

</article>
</body>
</html>
