{% extends "visitors.html" %}
{% block title %}INTERNATIONAL VISITOR REQUEST FORM{% endblock %}

{% block styles %}
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}

fieldset {margin:           10px;
          background-color: #dfffff;              /* sort of cyan */
          border:           thin solid #ff7f7f;}  /* pink         */

legend   {background-color: #ffffc0;              /* light yellow */
          border:           thin solid #ff7f7f;   /* pink         */
          color:            #ff3f3f;              /* light red    */
          font-weight:      bold;}

input,
select, option,
textarea {border:      1px solid black;
          font-family: fixed;
          font-size:   16px;
          vertical-align: top;}

.center  {margin:           1em auto;
          text-align:       center;}

table, tbody, tr, th, td { border: none; }
</style>
{% endblock %}

{% block scripts %}
  <!-- jQuery UI Autocomplete script stuff -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
          type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js"
          type="text/javascript"></script>
  <script src="/scripts/ragulib.js"
          type="text/javascript"></script>

<script type="text/javascript">
function OnSubmitForm() {
  var form = document.getElementById("general");
  if      (form.letters[0].checked == true) form.action = "letters.php";
  else if (form.letters[1].checked == true) form.action = "deliver.php";
  return true;
}
</script>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">INTERNATIONAL VISITOR REQUEST FORM</h1>

<p>Please provide <strong>ALL</strong> the requested information.</p>

<form id="general" name="general" action="." method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

</article>
</main>
{% endblock %}
