{% extends "visitors.html" %}
{% block title %}INTERNATIONAL VISITOR REQUEST FORM{% endblock %}

{% block styles %}
<link rel="stylesheet"
        href="/CSS/jquery/redmond/datepicker.css" />
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}

fieldset {margin:           10px;
          background-color: #dfffff;              /* sort of cyan */
          border:           thin solid #ff7f7f;}  /* pink         */

legend   {background-color: #ffffc0;              /* light yellow */
          border:           thin solid #ff7f7f;   /* pink         */
          color:            #ff3f3f;              /* light red    */
          font-weight:      bold;}

input,
select, option,
textarea {border:      1px solid black;
          font-family: fixed;
          font-size:   16px;
          vertical-align: top;}

.center  {margin:           1em auto;
          text-align:       center;}

.error   {color:       #af0000;
          font-weight: bold;}

table, tbody, tr, th, td { border: none; }
.ui-datepicker-trigger {position: relative;
                        top:      -12px;}   /* Move the calendar icon up */
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">INTERNATIONAL VISITOR REQUEST FORM</h1>

<p>Thank you for filling out the form. Your request has been recorded.
You should receive a copy of your request via e-mail shortly.</p>

</article>
</main>
{% endblock %}
