{% extends "visitors.html" %}
{% block title %}INTERNATIONAL VISITOR REQUEST FORM{% endblock %}

{% block styles %}
<link rel="stylesheet"
        href="/CSS/jquery/redmond/datepicker.css" />
<style type="text/css">
body     {font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size:   16px;}

fieldset {margin:           10px;
          background-color: #fff5d7;              /* buff/flesh   */
          border:           thin solid #a6c9e2;}  /* sky blue     */

legend   {background-color: #e6f3fd;              /* light blue   */
          border:           thin solid #a6c9e2;   /* sky blue     */
          color:            #ff3f3f;              /* light red    */
          font-weight:      bold;}

input,textarea,
select, option {background-color: #ffffff;
                font-family:      fixed;
                font-size:        16px;
                vertical-align:   top;}

input, textarea, select {border: 1px solid #a6c9e2;}

.center  {margin:           1em auto;
          text-align:       center;}

.error   {color:       #af0000;
          display: inline-block !important;
          font-weight: bold;}

table, tbody, tr, th, td { border: none; }
.ui-datepicker-trigger {position: relative;
                        top:      -12px;}   /* Move the calendar icon up */
</style>
{% endblock %}

{% block scripts %}
  <!-- jQuery UI Autocomplete script stuff -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
          type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js"
          type="text/javascript"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js"
          type="text/javascript"></script>
  <script src="/scripts/ragulib.js"
          type="text/javascript"></script>

<script type="text/javascript">
$(function() {
  var oldenough = new Date();
  oldenough.setDate(oldenough.getDate()-(365*15)); /* Roughly 15 years old */

  $.datepicker.setDefaults($.datepicker.regional[""]);
  $(".datepicker").datepicker({changeMonth:     true,
                               changeYear:      true,
                               showOn:          "button",
                               buttonImage:     "/images/icons/calendar.png",
                               buttonText:      "Choose (yyyy-mm-dd)",
                               buttonImageOnly: true,
                               dateFormat:      "yy-mm-dd",
                               maxDate:         "-15Y",
                               defaultDate:     "-15Y",});
  $(".datepicker").datepicker("setDate", "-15Y");

  /* Force datepicker to initiate a change event */
  $(".datepicker").datepicker("option", "onSelect", 
                              function(dateText,inst) { $(this).change(); });

  /* If the date of birth changes... */
  $(".datepicker").change(function() {
    var dob = $(this).val();
    var birthtime = $(this).datepicker("getDate");
    var birthdate = birthtime.toString().slice(0,15);

    /* ...ensure that visitor is old enough */
    if (birthtime > oldenough) {
      var error;
      error  = birthdate + " is in less than 15 years ago!\n\n";
      error += "The date of birth has been reset to 15 years ago.";
      alert(error);
      $(this).datepicker("setDate", oldenough);
    }
  });

  $(".fill")
    .autocomplete({source: "/resources/visitors/api/feed/",
                   delay: 0,
                   minLength: 1,
                   autoFocus: true,
                   change: function (event, ui) {
                             if (!ui.item)
                               { $(this).val(""); }
                             else
                               { $(this).siblings("input").val(ui.item.id); }
                           }
    });

});
</script>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" role="main">
<h1 class="center">INTERNATIONAL VISITOR REQUEST FORM</h1>

<p>Please provide <strong>ALL</strong> the requested information. (We
will contact you directly in order to obtain passport numbers.)</p>

<form action="." method="post">
{% csrf_token %}
{{visitor_formset.management_form}}

{% for visitor_form in visitor_formset.forms %}
  {{visitor_form.id}}
  {{visitor_form.non_field_errors}}
  <fieldset>
    <legend>Visitor {{forloop.counter}}</legend>

    <table style="width:100%;">
    <colgroup>
      <col span="1" style="width:30%;" />
      <col span="1" style="width:70%;" />
    </colgroup>

    <tbody style="vertical-align:top;">

    <tr>
    <td style="text-align:right;"><label 
        for="id_visitor_set-{{forloop.counter0}}-surname">Family name(s):</label></td>
    <td><input id="id_visitor_set-{{forloop.counter0}}-surname"
               name="visitor_set-{{forloop.counter0}}-surname"
               type="text" size="70" autocomplete="off"
               required="required" /></td>
    </tr>
    {% if visitor_form.surname.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.surname.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label
        for="id_visitor_set-{{forloop.counter0}}-givenname">Given name(s):</label></td>
    <td><input id="id_visitor_set-{{forloop.counter0}}-givenname" 
               name="visitor_set-{{forloop.counter0}}-givenname"
               type="text" size="70" autocomplete="off"
               required="required" /></td>
    </tr>
    {% if visitor_form.givenname.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.givenname.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label
        for="id_visitor_set-{{forloop.counter0}}-middlename">Middle name(s):</label></td>
    <td><input id="id_visitor_set-{{forloop.counter0}}-middlename"
               name="visitor_set-{{forloop.counter0}}-middlename"
               type="text" size="70" autocomplete="off" /></td>
    </tr>
    {% if visitor_form.middlename.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.middlename.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label 
        for="id_visitor_set-{{forloop.counter0}}-occupation">Occupation:</label></td>
    <td><input id="id_visitor_set-{{forloop.counter0}}-occupation"
               name="visitor_set-{{forloop.counter0}}-occupation"
               type="text" size="70" autocomplete="off"
               required="required" /></td>
    </tr>
    {% if visitor_form.occupation.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.occupation.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
      <td style="text-align:right;">Gender:</td>
      <td><input id="id_visitor_set-{{forloop.counter0}}-gender_f"
                 name="visitor_set-{{forloop.counter0}}-gender"
                 type="radio" value="F"
                 required="required" />
        <label for="id_visitor_set-{{forloop.counter0}}-gender_f">Female</label>
        <input id="id_visitor_set-{{forloop.counter0}}-gender_m"
               name="visitor_set-{{forloop.counter0}}-gender"
               type="radio" value="M"
               required="required" />
        <label for="id_visitor_set-{{forloop.counter0}}-gender_m">Male</label></td>
    </tr>
    {% if visitor_form.gender.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.gender.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td colspan="2" style="height:50px; vertical-align:bottom;"><span
        style="text-decoration:underline; font-weight:bold;">Date
        of birth:</span><br />
        <span style="font-size:80%; color:#8f8f8f;">Click the calendar icons 
        to select dates, or enter dates directly with the format 
        "yyyy-mm-dd"<br />
        (a four-digit year, a two-digit month and a two-digit day, separated
        by hyphens).</span><br />&nbsp;</td>
    </tr>

    <tr>
    <td><label
        for="id_visitor_set-{{forloop.counter0}}-dob"><strong>Date of birth:</strong></label></td>
    <td>{{visitor_form.dob}}</td>
    </tr>
    {% if visitor_form.dob.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.dob.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label 
        for="id_visitor_set-{{forloop.counter0}}-citizenship">Country of citizenship:</label></td>
    <td>
      <input type="text" placeholder="Country name" value=""
             class="fill" style="width:375px;"><input type="hidden" value=""
             id="id_visitor_set-{{forloop.counter0}}-citizenship"
             name="visitor_set-{{forloop.counter0}}-citizenship" />
    </td>
    </tr>
    {% if visitor_form.citizenship.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.citizenship.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label 
        for="id_visitor_set-{{forloop.counter0}}-native">Country of birth:</label></td>
    <td>
      <input type="text" placeholder="Country name" value=""
             class="fill" style="width:375px;"><input type="hidden" value=""
             id="id_visitor_set-{{forloop.counter0}}-native"
             name="visitor_set-{{forloop.counter0}}-native" />
    </td>
    </tr>
    {% if visitor_form.native.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.native.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td style="text-align:right;"><label 
        for="id_visitor_set-{{forloop.counter0}}-residence">Country of legal residence:</label></td>
    <td>
      <input type="text" placeholder="Country name" value=""
             class="fill" style="width:375px;"><input type="hidden" value=""
             id="id_visitor_set-{{forloop.counter0}}-residence"
             name="visitor_set-{{forloop.counter0}}-residence" />
    </td>
    </tr>
    {% if visitor_form.residence.errors %}
    <tr>
    <td> </td>
    <td>
    {% for error in visitor_form.residence.errors %}
      <span class="error">&bull; {{error}}</span><br />
    {% endfor %}
    </td>
    </tr>
    {% endif %}

    </tbody>
    </table>

  </fieldset>
{% endfor %}

<p class="center">
  <button type="submit">Next &rarr;</button>
</p>

</form>

<div class="pagination">
  <span class="step-links">
  {% if visitor_form.has_previous %}
    <a href="?page=visitor_form.previous_page_number}}">&larr; Previous</a>
  {% endif %}
  </span>

  <span class="current">
    Page {{visitor_form.number}}
    of   {{visitor_form.paginator.num_pages}}
  </span>

  <span class="step-links">
  {% if visitor_form.has_next %}
    <a href="?page={{visitor_form.next_page_number}}">Next &rarr;</a>
  {% endif %}
  </span>
</div>

</article>
</main>
{% endblock %}
