{% extends "generic.html" %}
{% block title %}ERROR: Page not found{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<h1>Error: Page not found</h1>

<p>There is something wrong with the URL you have provided.
   The page you are looking for does not exist.</p>

</article>
</main>
{% endblock %}
