{% extends "generic.html" %}
{% block title %}ERROR: Internal error{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<h1>Error: Internal Error</h1>

<p>There appears to be a bug in this system somewhere.</p>
</article>
</main>
{% endblock %}
