<!DOCTYPE html>
<html lang="en-US">
 <head>
  <!-- base href="http://aaweb.gallaudet.edu/" / -->
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <meta name="robots"
        content="index, follow" />
  <link rel="shortcut icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <!-- link rel="stylesheet"
        href="/CSS/gu_override.css" / -->
  <link rel="license"
        title="[Kevin Cole]"
        href="/~kjcole/license/notice.php" />
  <link rel="author"
        title="[Kevin Cole]"
        href="/~kjcole/" />
  <link rel="Search"
        href="/sitemap.html"
        title="[Search]" />
  {% block links  %}{% endblock %}
  <title>{% block title %}Generic Title{% endblock %}</title>
  {% block styles  %}{% endblock %}
  {% block scripts %}{% endblock %}
 </head>

<body itemscope itemtype="http://schema.org/WebPage">

    {% block content %}
    <main role="main">
    <article id="essence" role="main">

<!-- BEGIN VARIABLE CONTENT -->

<p style="text-align:center; font-size:x-small;">[Last modified: 2011.12.05 16:50:34. by <a
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Cole_Kevin.html">Kevin Cole</a>]</p>

<!--  END  VARIABLE CONTENT -->

    </article>
    </main>
    {% endblock %}

 </body>
</html>
