<!DOCTYPE html>
<html lang="en-US">
 <head>
  <!-- base href="http://aaweb.gallaudet.edu/" / -->
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <meta name="robots"
        content="index, follow" />
  <link rel="shortcut icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="stylesheet"
        href="/CSS/gu_style.css" />
  <link rel="stylesheet"
        href="/CSS/gu_style_extra.css" />
  <link rel="stylesheet"
        href="/CSS/gu_override.css" />
  <link rel="license"
        title="[Kevin Cole]"
        href="/~kjcole/license/notice.php" />
  <link rel="author"
        title="[Kevin Cole]"
        href="/~kjcole/" />
  <link rel="Search"
        href="/sitemap.html"
        title="[Search]" />
  {% block links  %}{% endblock %}
  <title>{% block title %}Generic Title{% endblock %}</title>
  {% block styles  %}{% endblock %}
  {% block scripts %}{% endblock %}

  <script src="https://login.persona.org/include.js"></script>
  <script type="text/javascript">
    function fudge() {
      var feature = "http://www.w3.org/TR/SVG11/feature#Shape";
      var version = "1.0";
      var headimg = "/images/logos/Gallaudet-2011-White.";
      var footimg = "/images/logos/Gallaudet-2011-Grey.";
      if (document.implementation.hasFeature(feature, version)) {
        headimg += "svg";
        footimg += "svg";
      }
      else {
        headimg += "png";
        footimg += "png";
      }
      document.getElementById("head_img").src=headimg;
      document.getElementById("foot_img").src=footimg;
    }
  </script>
 </head>

<body itemscope itemtype="http://schema.org/WebPage" onload="fudge()">

  {% block tracker %}
  <!-- Google Analytics script -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-694335-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
  </script>
  <noscript> </noscript>
  {% endblock %}

  <div id="section_main" style="margin:0px auto;">

   {% block header %}
   <header
           role="banner"
           style="height:70px; background-color:#00457c; border-radius: 15px 15px 0px 0px;">
      <img id="head_img"
           src="/images/logos/Gallaudet-2011-White.svg"
           alt="Gallaudet University"
           width="130" height="70"
           style="padding:0px 5px 0px 10px; width:130px; height:70px;vertical-align:-15px;"
           usemap="#homeward" />
     <span class="banner">Gallaudet Research Institute</span>
     <map title="Go Home" id="homeward" name="homeward">
      <area shape="rect"
            alt="Home page"
            title="Home page"
            coords="10,12,140,62"
            href="http://gallaudet.edu/" />
     </map>
   </header>
   {% endblock %}

   <div class="clearfloat"> </div>

   {% block navbar %}
   <nav id="navigation_bar" role="navigation">
   <a class="relatedLinks cells"
      href="http://aaweb.gallaudet.edu/Gallaudet_Research_Institute.html">&nbsp;</a>
   <a class="relatedLinks cells"
      href="http://aaweb.gallaudet.edu/Gallaudet_Research_Institute.html">Home&nbsp;</a>
   <a class="relatedLinks cells"
      href="http://aaweb.gallaudet.edu/Gallaudet_Research_Institute/Staff.html">Staff&nbsp;</a>
   <a class="relatedLinks cells"
      href="/priorities.php">Priorities&nbsp;</a>
   <a class="relatedLinks cells"
      href="http://www.gallaudet.edu/Gallaudet_Research_Institute/Staff.html">Areas of Focus&nbsp;</a>
   <a class="relatedLinks cells"
      href="/Funding/">Funding Resources&nbsp;</a>
   <a class="relatedLinks cells"
      href="/Publications">Publications&nbsp;</a>
   <a class="relatedLinks cells"
      href="/Presentations">Presentations&nbsp;</a>
   <a class="relatedLinks cells"
      href="/search/">Search&nbsp;</a>
   </nav>
   {% endblock %}

    {% block content %}
    <main role="main">
    <article id="essence" style="margin:0px auto;" role="main">

<!-- BEGIN VARIABLE CONTENT -->

<p style="text-align:center; font-size:x-small;">[Last modified: 2011.12.05 16:50:34. by <a
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Cole_Kevin.html">Kevin Cole</a>]</p>

<!--  END  VARIABLE CONTENT -->

    </article>
    </main>
    {% endblock %}

    {% block footer %}
    <footer id="section_footer" role="contentinfo"
            style="background-color: #e9d3a2; height:45px; color:#7d7d7d; border-radius: 0px 0px 10px 10px;">
     <div style="float:right; font-size:10pt; margin: 5px;">
      <a href="http://validator.w3.org/check?uri=referer"
         onmouseover="document.images['ValidHTML5'].src='/images/icons/valid-html5-orange.png'"
         onfocus="document.images['ValidHTML5'].src='/images/icons/valid-html5-orange.png'"
         onmouseout="document.images['ValidHTML5'].src='/images/icons/valid-html5-blue.png'"
         onblur="document.images['ValidHTML5'].src='/images/icons/valid-html5-blue.png'"><img
         id="ValidHTML5"
         style="border:0;width:88px;height:31px;"
         src="/images/icons/valid-html5.png"
         alt="Valid HTML 5" title="Valid HTML 5"
         height="31" width="88" /></a>

      <a href="http://jigsaw.w3.org/css-validator/"
         onmouseover="document.images['ValidCSS3'].src='/images/icons/valid-css3-orange.png'"
         onfocus="document.images['ValidCSS3'].src='/images/icons/valid-css3-orange.png'"
         onmouseout="document.images['ValidCSS3'].src='/images/icons/valid-css3-blue.png'"
         onblur="document.images['ValidCSS3'].src='/images/icons/valid-css3-blue.png'"><img
         id="ValidCSS3"
         style="border:0;width:88px;height:31px;"
         src="/images/icons/valid-css3.png"
         alt="Valid CSS 3" title="Valid CSS 3"
         height="31" width="88" /></a>
      <a href="http://wave.webaim.org/refer"><img
         id="WaveApproved"
         style="border:0;width:37px;height:35px;"
         src="/images/icons/wave-webaim.png"
         alt="WAVE (WebAIM) Approved" title="WAVE (WebAIM) Approved"
         height="35" width="37" /></a>

     </div>
     <div style="float:left; width:90px;">
      <img id="foot_img"
           src="/images/logos/Gallaudet-2011-Grey.svg"
           width="84" height="45" style="width:84px; height:45px;" alt="[Logo]" />
     </div>

     <section
          style="margin-left: 90px; margin-top:5px; font-size:10pt; line-height:140%;">
      Copyright &copy;
          <time itemprop="publishDate" datetime="2011-06-10">2011</time>
      <span itemscope="itemscope"
            itemtype="http://www.schema.org/EducationalOrganization">Gallaudet
            Research Institute<br />

      <span itemprop="name">Gallaudet University</span> &bull;
      <span itemprop="location" itemscope="itemscope"
            itemtype="http://www.schema.org/Place"><span
            itemprop="geo" itemscope="itemscope"
            itemtype="http://schema.org/GeoCoordinates"><meta
            itemprop="latitude" content="38.904758" /><meta
            itemprop="longitude" content="-76.994898" /></span>
      <span itemscope="itemscope"
            itemtype="http://www.schema.org/PostalAddress">
      <span itemprop="streetAddress">800 Florida Avenue NE</span> &bull;
      <span itemprop="addressLocality">Washington</span>,
      <span itemprop="addressRegion">DC</span>

      <span itemprop="postalCode">20002-3695</span></span></span></span>
    </section>
    </footer>
    {% endblock %}
    <div class="clearfloat"> </div>
  </div>

 </body>
</html>
