<!DOCTYPE html>
<html lang="en-US">
 <head>
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <meta name="robots"
        content="index, follow" />
  <link rel="shortcut icon" 
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="stylesheet"
        href="/CSS/gri.css" />
  <link rel="stylesheet"
        href="/~kjcole/ragu.css" />
  <link rel="license"
        title="[Kevin Cole]"
        href="/~kjcole/license/notice.php" />
  <link rel="author"
        title="[Kevin Cole]"
        href="/~kjcole/" />
  <link rel="Search"
        href="/sitemap.html"
        title="[Search]" />
  {% block links  %}{% endblock %}
  <title>{% block title %}Generic Title{% endblock %}</title>
  {% block styles  %}{% endblock %}
  {% block scripts %}{% endblock %}
  <script src="https://login.persona.org/include.js"></script>
 </head>

<body itemscope itemtype="http://schema.org/WebPage">

{% block tracker %}
<!-- Google Analytics script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-694335-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
<noscript> </noscript>
{% endblock %}

<div id="section_main">
{% block header %}
<header id="section_header" role="banner">
  <div style="width:960px; height:109px; margin:0 auto; position:relative;">
  <div style="width:203px; height:108px; float:left;">
  <a class="menu" href="http://www.gallaudet.edu/"><img
     id="logo"
     src="/images/logos/Gallaudet-2011-White.svg"
     alt="Gallaudet University"
     width="203" height="108"
     style="width:203px; height:108px;" /></a>
  </div>
  <div style="width:757px; height:108px; float:left;">
  {% block navbar %}
  <nav id="navigation_bar" role="navigation" style="position:absolute; bottom:10px; text-align:left; margin:auto auto auto 50px;">
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations.html">&nbsp;</a>
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations.html">Home</a>&nbsp;&nbsp;&nbsp;
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations/what_is_international_relations.html">About Us</a>&nbsp;&nbsp;&nbsp;
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations/staff.html">Staff</a>&nbsp;&nbsp;&nbsp;
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations/the_nippon_foundation_scholarships.html">Scholarships</a>&nbsp;&nbsp;&nbsp;
  <a class="menu"
     href="http://www.gallaudet.edu/international_relations/world_deaf_information_resource_project.html">World Deaf Information Resources</a>
  </nav>
  {% endblock %}
  </div>
  </div>
  <div class="unit_banner">
  <p style="height:45px; line-height:45px; vertical-align:baseline; padding:8px 16px;">International Relations</p>
  </div>
</header>
{% endblock %}

<div class="clearfloat"> </div>

<div class="wrapper">
{% block content %}
<main id="section_article" role="main">
<article id="essence" role="main">
<!-- BEGIN VARIABLE CONTENT -->
  <h1>Prototype</h1>
  <p>For people who care more about style than substance.</p>
<!--  END  VARIABLE CONTENT -->
    <div style="font-size:75%; background: #e7ffff;">
    DISCLAIMER: This website contains documents with terms that may be 
    considered by today's reader as outdated and even offensive. For
    example, the term "hearing impairment" is sometimes used as a category for
    levels of hearing loss, such as hard of hearing and deaf. Some people now
    see cultural identification and communication preference as defining
    characteristics behind terms such as hard of hearing and deaf, and
    they do not favor terms conveying medical distinctions and loss. Yet
    we recognize that removing and changing terms may alter the precise 
    meaning of the scientific author. A solution may be found by expanding
    the scope of future research to include non-medical perspectives.
    </div>
</article>
</main>
{% endblock %}

{% block footer %}
<footer id="section_footer" role="contentinfo">
  <div style="float:right; font-size:10pt; margin:5px;">
   <!-- http://validator.w3.org/check?uri=referer doesn't like microdata -->
   <!-- Replace the <a href="" with the next two lines as a backup validator -->
   <!-- span
        onclick="javascript:void(location.href='http://html5.validator.nu/?doc='+encodeURIComponent(location.href))" -->
   <a href="http://validator.w3.org/check?uri=referer" style="background:transparent;"
       onmouseover="document.images['ValidHTML5'].src='/images/icons/valid-html5-orange.png'"
       onfocus="document.images['ValidHTML5'].src='/images/icons/valid-html5-orange.png'"
       onmouseout="document.images['ValidHTML5'].src='/images/icons/valid-html5-blue.png'"
       onblur="document.images['ValidHTML5'].src='/images/icons/valid-html5-blue.png'"><img
       id="ValidHTML5"
       style="border:0;width:88px;height:31px;"
       src="/images/icons/valid-html5.png"
       alt="Valid HTML 5" title="Valid HTML 5"
       height="31" width="88" /></a>
   <a href="http://jigsaw.w3.org/css-validator/" style="background:transparent;"
      onmouseover="document.images['ValidCSS3'].src='/images/icons/valid-css3-orange.png'"
      onfocus="document.images['ValidCSS3'].src='/images/icons/valid-css3-orange.png'"
      onmouseout="document.images['ValidCSS3'].src='/images/icons/valid-css3-blue.png'"
      onblur="document.images['ValidCSS3'].src='/images/icons/valid-css3-blue.png'"><img
      id="ValidCSS3"
      style="border:0;width:88px;height:31px;"
      src="/images/icons/valid-css3.png"
      alt="Valid CSS 3" title="Valid CSS 3"
      height="31" width="88" /></a>
   <a href="http://wave.webaim.org/refer" style="background:transparent;"><img
      id="WaveApproved"
      style="border:0;width:37px;height:35px;"
      src="/images/icons/wave-webaim.png"
      alt="WAVE (WebAIM) Approved" title="WAVE (WebAIM) Approved"
      height="35" width="37" /></a>
  </div>

  <div style="float:left; width:90px;">
   <img id="stamp"
        src="/images/logos/Gallaudet-2011-Grey.svg" alt="[Logo]"
        width="84" height="45" style="width:84px; height:45px;" />
  </div>

  <section id="copyright" style="padding-top:5px;">
    Copyright &copy; 
    <time itemprop="publishDate" datetime="2011-06-10">2011</time> &bullet;
    <span itemscope="itemscope"
          itemtype="http://www.schema.org/EducationalOrganization">
      <span itemprop="name">Gallaudet University</span><br />
      <span itemprop="location" itemscope="itemscope"
            itemtype="http://www.schema.org/Place"><span
            itemprop="geo" itemscope="itemscope"
            itemtype="http://schema.org/GeoCoordinates"><meta 
            itemprop="latitude" content="38.904758" /><meta 
            itemprop="longitude" content="-76.994898" /></span>
      <span itemscope="itemscope"
            itemtype="http://www.schema.org/PostalAddress">
      <span itemprop="streetAddress">800 Florida Avenue NE</span> &bullet;
      <span itemprop="addressLocality">Washington</span>, 
      <span itemprop="addressRegion">DC</span>
      <span itemprop="postalCode">20002-3695</span>
    </span></span>
    </span>
  </section>
</footer>
{% endblock %}
<div class="clearfloat"> </div>
</div>
</div>

</body>
</html>
