{% extends "research.html" %}
{% block title %}Mental Health Directory{% endblock %}
{% block navbar %}
<nav id="navigation_bar" role="navigation">
<a class="menu"
   href="/resources/mhd/"> DIRECTORY HOME&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class="menu"
   href="/resources/mhd/preface/">PREFACE&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class="menu"
   href="/resources/mhd/introduction/">INTRO&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class="menu"
   href="/resources/mhd/howto/">HOW TO USE&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class="menu"
   href="/resources/mhd/listings/">LISTINGS&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class="menu"
   href="/resources/mhd/search/"><strong>SEARCH</strong></a>
</nav>
{% endblock %}
