{% extends "research.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}
{% block navbar %}
<nav id="navigation_bar" role="navigation">
  <a class="menu"
     href="/resources/ragu/">Home</a>
  <a class="menu"
     href="/resources/ragu/prioritize/"><strong>Project by priorities</strong></a>
  <a class="menu"
     href="/resources/ragu/screen_priorities/">Filter Priorities</a>
  <a class="menu"
     href="/resources/ragu/funding/">Funding</a>
  <a class="menu"
     href="/resources/ragu/search/">Search</a>
{% if request.session.authorized %}
  <br />
  <a class="menu"
     href="/resources/ragu/add_project/">ADD PROJECT</a>
  <a class="menu"
     href="/resources/ragu/review/">REVIEW PROJECTS</a>
  <a class="menu"
     href="/resources/ragu/logout/">LOGOUT</a>
{% endif %}
</nav>
{% endblock %}
