{% extends "research.html" %}
{% block title %}Research &amp; Scholarly Achievement at Gallaudet University{% endblock %}
{% block navbar %}
<nav id="navigation_bar" role="navigation" style="position:absolute; bottom:10px; text-align:left; margin:auto auto auto 50px;">
  <a class="menu"
     href="/resources/ragu/">&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a class="menu"
     href="/resources/ragu/prioritize/"><strong>Project by priorities</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a class="menu"
     href="/resources/ragu/screen_priorities/">Filter Priorities&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a class="menu"
     href="/resources/ragu/funding/">Funding&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a class="menu"
     href="/resources/ragu/search/">Search</a>
{% if request.session.authorized %}
  <br />
  <a class="menu"
     href="/resources/ragu/add_project/">&nbsp;ADD PROJECT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
{% endif %}
{% if request.session.authorized and request.session.responsibility != "1" %}
  <a class="menu"
     href="/resources/ragu/review/">REVIEW PROJECTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
{% endif %}
{% if request.session.authorized %}
  <a class="menu"
     href="/resources/ragu/logout/">LOGOUT</a>
{% endif %}
</nav>
{% endblock %}
