<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- base href="http://gri.gallaudet.edu/" / -->
<link rel="stylesheet"
      type="text/css"
      href="/resources/css/gri.css"
      media="screen, print" />
<link rel="stylesheet"
      type="text/css"
      href="/resources/css/print.css"
      media="print" />
<link rel="icon"
      type="image/x-ico"
      href="/images/gri.ico" />
<link rel="shortcut icon"
      type="image/x-ico"
      href="/images/gri.ico" />
<link rel="copyright"
      href="http://research.gallaudet.edu/"
      title="Gallaudet Research Institute" />
<link rel="author"
      href="/~kjcole/"
      title="Kevin Cole" />
<link rel="top"
      href="/"
      title="GRI Home" />
<link rel="Related&nbsp;Sites"
      href="http://gspp.gallaudet.edu/"
      title="GSPP" />
<link rel="Related&nbsp;Sites"
      href="http://gradschool.gallaudet.edu/"
      title="Graduate School" />
<link rel="Related&nbsp;Sites"
      href="http://www.gallaudet.edu/"
      title="Gallaudet University" />
<link rel="Help"
      href="/Tutorials"
      title="Tutorials" />
<link rel="Search"
      href="/sitemap.html"
      title="Search" />
<link rel="contents"
      href="/"
      title="GRI Home" />
<link rel="section"
      href="/Demographics/"
      title="Demographics" />
<link rel="section"
      href="/HealthCare/"
      title="Health Care Services" />
<link rel="section"
      href="/Assessment/"
      title="Assessment" />
<link rel="section"
      href="/Literacy/"
      title="Literacy" />
<link rel="section"
      href="/priorities.php"
      title="Research Priorities" />
<link rel="section"
      href="http://gradschool.gallaudet.edu/resdat/"
      title="Faculty Research" />
<link rel="section"
      href="/IRB/"
      title="Institutional Review Board" />
<link rel="section"
      href="/Funding/"
      title="Research Funding" />
<link rel="section"
      href="/Funding/schaefer.html"
      title="Schaefer Professorship" />
<link rel="section"
      href="/Funding/pvd.php"
      title="Powrie V. Doctor Chair" />
<link rel="section"
      href="http://osp.gallaudet.edu/"
      title="Office of Sponsored Programs" />
<link rel="section"
      href="/Publications/"
      title="GRI Publications" />
<link rel="section"
      href="/Publications/newsletter.html"
      title="Research at Gallaudet Newsletter" />
<link rel="index"
      href="/"
      title="GRI Home" />
<meta http-equiv="Content-Type"        content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type"  content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Language"    content="en-US" />
<meta http-equiv="Resource-Type"       content="document" />
<meta http-equiv="Distribution"        content="global" />
<meta http-equiv="Generator"           content="Linux, Emacs and me" />
<meta http-equiv="Copyright"           content="Gallaudet Research Institute, 2001" />
<meta name="generator"                 content="Linux, Emacs and me" />
<meta name="author"                    content="Kevin Cole" />
<meta name="creation_date"             content="Tue. 11 Oct 2005 12:00:00 EDT" />
<meta name="robots"                    content="index, follow" />
<meta name="revisit-after"             content="1 days" />
<meta name="ICBM"                      content="38.904758, -76.994898" />
<meta name="DC.title"                  content="Gallaudet University" />
<meta name="description"               content=" " />
<meta name="keywords"                  content=" " />

<title>{% block title %}Feed me, Seymore!{% endblock %}</title>
{% block style %}{% endblock %}
</head>

<body>
{% block header %}
<div class="navbar">
<p><img src="/images/navbar.png"
        style="border:0;width:640px;height:19px;"
        alt="GRI Navbar" usemap="#legos" /></p>
<map name="legos" id="legos">
<area shape="rect"
      coords="0,0,104,19"
      href="http://gspp.gallaudet.edu/"
      alt="| GSPP" />
<area shape="rect"
      coords="105,0,209,19"
      href="http://gradschool.gallaudet.edu/"
      alt=" | Grad School" />
<area shape="rect"
      coords="210,0,315,19"
      href="/index.php"
      alt=" | GRI Home" />
<area shape="rect"
      coords="316,0,428,19"
      href="/Staff/contact.html"
      alt=" | GRI Contact" />
<area shape="rect"
      coords="429,0,537,19"
      href="/sitemap.html"
      alt=" | GRI Site Map" />
<area shape="rect"
      coords="538,0,639,19"
      href="http://www.gallaudet.edu/"
      alt=" | Gallaudet |" />
</map>
</div>

<p>&nbsp;</p>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<!-- p style="text-align:center; font-size:x-small;">[Last modified: {{timestamp}}]</p -->

<hr />

<p class="center">
<strong><a class="clean" href="/index.php">Gallaudet Research Institute</a></strong><br />
<a class="clean" href="http://gspp.gallaudet.edu">Graduate School and
Professional Programs</a><br />
<a class="clean" href="http://www.gallaudet.edu">Gallaudet University</a><br />
Hall Memorial Building, Fourth Floor, South Wing<br />
800 Florida Avenue, NE<br />
Washington, DC 20002-3695<br />
</p>
<div class="credits center">
<p style="font-size: small;">Webmaster:
<a class="clean" href="mailto:kjcole@gri.gallaudet.edu">Kevin Cole</a>, GRI
</p>

<p class="quicktoc center">|
<a class="clean" href="http://gspp.gallaudet.edu"> GSPP HOME</a> |
<a class="clean" href="http://gradschool.gallaudet.edu">GRAD SCHOOL</a> |
<a class="clean" href="/index.php">GRI HOME</a> |
<a class="clean" href="/Staff/contact.html">GRI CONTACT</a> |
<a class="clean" href="/sitemap.html">GRI SITE MAP</a> |
<a class="clean" href="http://www.gallaudet.edu">GALLAUDET</a> |
</p>

<p class="footnote center">Valid
<a class="nice" href="http://validator.w3.org/check/referer">XHTML 1.1</a> and
<a class="nice" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<noscript> </noscript>
<script type="text/javascript">
_uacct = "UA-694335-1";
urchinTracker();
</script>
<noscript> </noscript>
{% endblock %}

</body>
</html>
