{% extends "skeleton.html" %}
{% block title %}Contact us{% endblock %}
{% block style %}
<style type="text/css">
  ul.errorlist {margin: 0; padding: 0;}
  .errorlist li {background-color: #ff0000;
                 color:            #ffffff;
                 display:          block;
                 font-size:        10px;
                 margin:           0 0 3px;
                 padding:          4px 5px;}
</style>
{% endblock %}

{% block content%}
<h1>Contact us</h1>
<form action="." method="POST">
  <div class="fieldWrapper">
    {{form.topic.errors}}
    <label for="id_topic">Type of feedback:</label>
    {{form.topic}}
  </div>
  <div class="fieldWrapper">
    {{form.message.errors}}
    <label for="id_message">Message body:</label>
    {{form.message}}
  </div>
  <div class="fieldWrapper">
    {{form.sender.errors}}
    <label for="id_sender">Your e-mail address:</label>
    {{form.sender}}
  </div>
  <p><input type="submit" value="Submit" /></p>
</form>
{% endblock %}
