{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<p class="center"><span style="font-size:140%; font-weight:bold;">Supplemental Survey Project of the<br />
Annual Survey of Deaf and Hard of Hearing Children 
and Youth</span></p>

<p class="center">Annual Survey Coordinator<br />
<a 
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Lam_Kay.html">Kay
Lam</a><br /> 
<a href="http://research.gallaudet.edu/">Gallaudet Research Institute</a> &bull;
<a href="http://www.gallaudet.edu/">Gallaudet University</a><br />
and<br />
Supplemental Survey Project Director<br />
<a
href="http://www.redlands.edu/academics/school-of-education/4320.aspx">Ross
E. Mitchell, Ph.D.</a><br />
<a href="http://www.redlands.edu/academics/school-of-education.aspx">School
of Education</a> &bull; <a href="http://www.redlands.edu/">University of
Redlands</a></p>

<hr />

<p class="center"><strong>This survey is now CLOSED.</strong></p>

<p>Thank you for your interest in Gallaudet University's Annual Survey
of Deaf and Hard of Hearing Children and Youth. Although this
<strong>Supplemental Survey</strong> is now closed, we encourage you
to pursue participation in this nationally important endeavor. For
further information, please contact us at
<a href="mailto:gri.info@gallaudet.edu">gri.info@gallaudet.edu</a>.</p>

<p>The supplemental survey was designed to estimate the size of the
population of all deaf and hard of hearing children and youth served
by public and private schools throughout the United States and to
determine their distribution among states and the schooling sectors
within each state.</p>

<p>The survey questions were developed by <a 
href="http://www.redlands.edu/academics/school-of-education/4320.aspx">Ross
E. Mitchell, Ph.D.</a> (<a 
href="http://www.redlands.edu/academics/school-of-education.aspx">School
of Education</a>, <a href="http://www.redlands.edu/">University of
Redlands</a>).</p>

<p>Project management and initial data collection were conducted by <a
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Winiarczyk_Rue.html">Rue
Winiarczyk</a>
&amp; <a href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Woo_John.html">John
Woo</a> (<a href="http://research.gallaudet.edu/">Gallaudet Research
Institute</a>,
<a href="http://www.gallaudet.edu/">Gallaudet University</a>).</p>

<p>The web implementation was designed and developed
by <a href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/cole_kevin.html">Kevin
Cole</a> (<a href="http://research.gallaudet.edu/">Gallaudet Research
Institute</a>, <a href="http://www.gallaudet.edu/">Gallaudet
University</a>).</p>

</article>
</main>
{% endblock %}
