{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          text-align:       right;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<p>Welcome!  This survey is being conducted by the Gallaudet Research
Institute (GRI) to estimate the size of the population of all deaf and
hard of hearing children and youth served by public and private
schools throughout the United States and to determine their
distribution among states and the schooling sectors within each
state.</p>

<p>Your responses are strictly confidential. Records are kept on a
secure and password protected server to which only authorized GRI
investigators have access. No participants will be identified in any
report or publication. If any federal or state agencies exercise their
authority to access our records, the GRI will act within the law to
protect your privacy.</p>

<p>While your responses to this survey are very important to us,
participation is completely voluntary. You may stop participating at
any time.</p>

<p>By completing the survey you are agreeing to participate.</p>

<p>If you have questions or concerns, please contact the Annual Survey
Coordinator, Kay Lam, by e-mail
at <a href="mailto:kay.lam@gallaudet.edu">kay.lam@gallaudet.edu</a>,
or Rue Winiarczyk
at <a
href="mailto:rowena.winiarczyk@gallaudet.edu">rowena.winiarczyk@gallaudet.edu</a>;
both Ms. Lam and Ms. Winiarczyk, as well as the GRI Associate
Director, Charles Reilly, may be contacted by telephone at (202)
651-5575 [v/tty].</p>

<p><strong>Consent Statement:</strong></p>

<ul>

<li>Click the '<strong>Yes, continue</strong>' button (below), to
confirm your willingness to participate in the survey.</li>

<li>Or, click the '<strong>No, stop here</strong>' button (below), to
verify that you are unable to participate in the survey<br />
at this time.</li>
</ul>

<p><strong>Do you consent to participate in this survey?</strong></br />
(Note: Before clicking the Next button, you may print a copy of this
page for your records.)</p>

<form action="." method="get">
<fieldset class="flow">
<div style="width:100%;">
<div style="width:50%; float:left; text-align:center;"><button type="button"
onclick="window.location.replace('/resources/screening/stop/')">No,
stop here</button></div>
<div style="width:50%; float:left; text-align:center;"><button type="button"
  onclick="window.location.replace('/resources/screening/begin/')">Yes, 
continue</button></div>
</div>
</fieldset>
</form>

</article>
</main>
{% endblock %}
