{% extends "screening.html" %}
{% block title %}Credits{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<p class="center"><strong>Credits</strong></p>

<p>This survey is designed to estimate the size of the population of
all deaf and hard of hearing children and youth served by public and
private schools throughout the United States and to determine their
distribution among states and the schooling sectors within each state.</p>

<p>The survey questions were developed by <a 
href="http://www.redlands.edu/academics/school-of-education/4320.aspx">Ross
E. Mitchell, Ph.D.</a> (<a 
href="http://www.redlands.edu/academics/school-of-education.aspx">School
of Education</a>, <a href="http://www.redlands.edu/">University of
Redlands</a>).</p>

<p>Project management and initial data collection were conducted by <a
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Winiarczyk_Rue.html">Rue
Winiarczyk</a>
&amp; <a href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Woo_John.html">John
Woo</a> (<a href="http://research.gallaudet.edu/">Gallaudet Research
Institute</a>,
<a href="http://www.gallaudet.edu/">Gallaudet University</a>).</p>

<p>The web implementation was designed and developed
by <a href="http://www.gallaudet.edu/faculty-staff/gallaudet_research_institute/cole_kevin.html">Kevin
Cole</a> (<a href="http://research.gallaudet.edu/">Gallaudet Research
Institute</a>, <a href="http://www.gallaudet.edu/">Gallaudet
University</a>).</p>

<p class="center"><a href="/resources/screening/consent/"><span 
style="text-decoration:underline; font-weight:bold; font-size:130%;">Begin 
the survey</span></a></p>

</article>
</main>
{% endblock %}
