{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<h1>Forbidden</h1>
<p>Get out! Or I'm calling the cops!</p>

</article>
</main>
{% endblock %}
