{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<p class="center"><span style="font-size:140%; font-weight:bold;">Supplemental Survey Project of the<br />
Annual Survey of Deaf and Hard of Hearing Children 
and Youth</span></p>

<p class="center">Annual Survey Coordinator<br />
<a 
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Lam_Kay.html">Kay
Lam</a><br /> 
<a href="http://research.gallaudet.edu/">Gallaudet Research Institute</a> &bull;
<a href="http://www.gallaudet.edu/">Gallaudet University</a><br />
and<br />
Supplemental Survey Project Director<br />
<a
href="http://www.redlands.edu/academics/school-of-education/4320.aspx">Ross
E. Mitchell, Ph.D.</a><br />
<a href="http://www.redlands.edu/academics/school-of-education.aspx">School
of Education</a> &bull; <a href="http://www.redlands.edu/">University of
Redlands</a></p>

<hr />

<div style="margin-left: 20%; margin-right: 20%;">
<ul>
<li><a href="/resources/screening/consent/"><strong>Begin the survey</strong></a></li>
<li><a href="/resources/screening/credits/">Credits</a></li>
</ul>
</div>

</article>
</main>
{% endblock %}
