{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="background-color:#a7a7a7; margin:0px auto;" role="main">

<p class="center"><span style="font-size:140%; font-weight:bold;">Supplemental Survey Project of the<br />
Annual Survey of Deaf and Hard of Hearing Children 
and Youth</span></p>

<p class="center">Annual Survey Coordinator<br />
<a style="background-color:#a0a0a0;"
href="http://www.gallaudet.edu/Faculty-Staff/Gallaudet_Research_Institute/Lam_Kay.html">Kay
Lam</a><br /> 
<a style="background-color:#a0a0a0;" href="http://research.gallaudet.edu/">Gallaudet Research Institute</a>
&bull; <a 
style="background-color:#a0a0a0;" href="http://www.gallaudet.edu/">Gallaudet University</a><br />
and<br />
Supplemental Survey Project Director<br />
<a style="background-color:#a0a0a0;"
href="http://www.redlands.edu/academics/school-of-education/4320.aspx">Ross
E. Mitchell, Ph.D.</a><br />
<a style="background-color:#a0a0a0;" href="http://www.redlands.edu/academics/school-of-education.aspx">School
of Education</a> &bull; <a style="background-color:#a0a0a0;" href="http://www.redlands.edu/">University of
Redlands</a></p>

<hr />

<div style="margin-left: 20%; margin-right: 20%;">
<ul>
<li><a style="background-color:#a0a0a0;" href="/resources/screening/consent/"><strong>Begin the survey</strong></a></li>
<li><a style="background-color:#a0a0a0;" href="/resources/screening/credits/">Credits</a></li>
</ul>
</div>

<div style="font-family:Courier; border:2px #ff0000 solid; border-radius:25px; box-shadow: 10px 10px 5px #666666; position:relative; top:-200px; width:750px; z-index:1; background-color:#ffffaf;">
<h1 style="text-align:center; color:#ff0000;">System going down for scheduled maintenance</h1>
<h2 style="text-align:center; color:#ff0000;">This system will be unavailable
from
<br /><strong>June 7, 2012 8:00 PM (EDT)</strong> until 
<strong>June 8, 2012 6:00 AM (EDT)</strong></h2>
</div>

</article>
</main>
{% endblock %}
