{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
.error   {color:            #af0000;
          font-weight:      bold;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{school.school_name|safe}}</h1>

  <p>Please fill out the following. Don't forget to click <strong>Next
  &rarr;</strong> at the bottom of this page, when you have
  finished.</p>

  <form action="/resources/screening/private_collect/" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}

    <fieldset>
      <legend>Sources of identification</legend>

      <p>How were students in the this school identified as deaf
      or hard of hearing?  (Check all that apply.)</p>
    
      <p>
      {{sources.is_source_iep}}
      <label for="id_is_source_iep">Individual Education Program (IEP)</label>
      {% if sources.is_source_iep.errors %}
         {% for error in sources.is_source_iep.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{sources.is_source_ifsp}}
      <label for="id_is_source_ifsp">Individualized Family Service Plan (IFSP)</label>
      {% if sources.is_source_ifsp.errors %}
         {% for error in sources.is_source_ifsp.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{sources.is_source_504}}
      <label for="id_is_source_504">Section 504 Plan</label>
      {% if sources.is_source_504.errors %}
         {% for error in sources.is_source_504.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{sources.is_source_ada}}
      <label for="id_is_source_ada">Americans with Disabilities Act (ADA) Title II Plan</label>
      {% if sources.is_source_ada.errors %}
         {% for error in sources.is_source_ada.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{sources.is_source_other}}
      <label for="id_is_source_other">Other</label>
      {% if sources.is_source_other.errors %}
         {% for error in sources.is_source_other.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}

      </p>
    </fieldset>

    {% if school %}
      <fieldset>
      <legend>Number of Deaf and Hard of Hearing</legend>

      <p>Enter the <span
      style="text-decoration:underline; font-weight:bold;">number</span>
      of deaf and hard of hearing students enrolled at this school. If
      the school has no deaf or hard of hearing students, enter zero
      (the number 0, not the word). If the information is unknown,
      leave the field blank. (Please, do not enter any letters,
      spaces, words, symbols or punctuation marks; <strong>enter only
      numbers</strong>, or leave the field blank, as appropriate.)</p>

      <table>
      <tbody>
      <tr>
      <td style="padding:auto 5em;">&nbsp;&nbsp;<label for="id_students_deaf"
                 style="font-size:120%;">{{school.school_name|safe}}</label>&nbsp;&nbsp;</td>
      <td>{{counts.students_deaf}}
          {% if counts.students_deaf.errors %}
             {% for error in counts.students_deaf.errors %}
                 <br /><span class="error">&bull; {{error}}</span>
             {% endfor %}
          {% endif %}</td>
      </tr>
      </tbody>
      </table>
      </fieldset>
    {% else %}
      <p style="color:#7f0000;">No school found! This is a bug! 
      Contact Kevin Cole in the Gallaudet Research Institute!</p>
    {% endif %}

    <fieldset class="flow">
    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>
    </fieldset>

  </form>

</article>
</main>
{% endblock %}
