{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<h1>{{school.school_name}}</h1>

<h2>Participation</h2>
<div style="margin:auto 2em;">
<p>
{% if school.participation == 0 %}
Not participating
{% else %}{% if school.participation == 1 %}
Participating, pending approval
{% else %}{% if school.participation == 2 %}
Participating
{% else %}
No response recorded
{% endif %}{% endif %}{% endif %}
</p>
</div>

<h2>Contact Information</h2>
<div style="margin:auto 2em;">
<table>
<tr>
<th>Name:</th>
<td>{{school.contact_name}}</td>
</tr>
<tr>
<th>Job Title:</th>
<td>{{school.contact_title}}</td>
</tr>
<tr>
<th>Phone Number:</th>
<td>{{school.contact_phone}}</td>
</tr>
<tr>
<th>E-mail Address:</th>
<td>{{school.contact_email}}</td>
</tr>
</table>
</div>

<h2>Sources of identification</h2>
<div style="margin:auto 2em;">
<ul>
{% if school.is_source_iep %}<li>Individual Education Program (IEP)</li>{% endif %}
{% if school.is_source_ifsp %}<li>Individual Family Service Plan (IFSP)</li>{% endif %}
{% if school.is_source_504 %}<li>Section 504 Plan</li>{% endif %}
{% if school.is_source_ada %}<li>Americans with Disabilties Act (ADA) Title II Plan</li>{% endif %}
{% if school.is_source_other %}<li>Other source of identification</li>{% endif %}
</ul>
</div>

<h2>Deaf Students</h2>
<div style="margin:auto 2em;">
<table>
<tr>
<th>{{school.school_name|safe}}</th>
<td style="text-align:right; width:6em;">{{school.students_deaf|safe}}</td>
</tr>
</table>
</div>

</article>
</main>
{% endblock %}
