{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td {font-size:100%; border: none;}

.error   {color:            #af0000;
          font-weight:      bold;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}


{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{school.school_name|safe}}</h1>

  <p>Don't forget to click <strong>Next &rarr;</strong> at the bottom
  of this page, when you have finished.</p>

  <form action="/resources/screening/private_participation/" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}

    <fieldset>
      <legend>Participation</legend>

      <p>May we contact you for further participation in the <em>Annual
      Survey of Deaf and Hard of Hearing Children and Youth</em>?</p>

      <p>(See <a target="_blank"
      href="http://research.gallaudet.edu/Demographics/">http://research.gallaudet.edu/Demographics/</a>
      for information about the <em>Annual Survey</em>. This link
      opens in a separate window. Please remember to come back to this
      window to finish the survey.)</p>

      <p>
      {% for choice in form.participation.field.choices %}
        <input type="radio" 
               id="id_{{form.participation.html_name}}_{{forloop.counter0}}"
               name="{{form.participation.html_name}}"
               value="{{choice.0}}" />
        <label for="id_{{form.participation.html_name}}_{{forloop.counter0}}">{{choice.1}}</label><br />
      {% endfor %}
      </p>

      {% if form.participation.errors %}
        <p>{% for error in form.participation.errors %}
           <span class="error">&bull; {{error}}</span><br />
        {% endfor %}</p>
      {% endif %}
    </fieldset>

    <fieldset class="flow">
    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>
    </fieldset>

  </form>


</article>
</main>
{% endblock %}
