{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
  <h3 class="center">Private Schools for {{states.name|safe}}</h3>
  {% if privates %}
    <p>Select your private school from the list below:</p>
    <ul>
    {% for private in privates %}
      <li><a href="/resources/screening/private_confirm/{{private.id|safe}}">{{private.school_name|safe}}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No private schools found!</p>
  {% endif %}
</article>
</main>
{% endblock %}
