{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          text-align:       right;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{agency.agency_name|safe}}</h1>

  <p>Please fill out the following. Don't forget to click <strong>Next
  &rarr;</strong> at the bottom of this page, when you have
  finished.</p>

  <form action="/resources/screening/public_students/" method="post">
    {% csrf_token %}
    <input type="hidden"   id="lea" name="lea" value="{{agency.id|safe}}" />

    {% if schools %}
      <fieldset>
      <legend>Number of Deaf and Hard of Hearing</legend>

      <p>For each school listed below, enter the <span
      style="text-decoration:underline; font-weight:bold;">number</span>
      of deaf and hard of hearing students enrolled at the school. If
      a school has no deaf or hard of hearing students, enter zero
      (the number 0, not the word). If the information for a
      particular school is unknown, leave the field blank. (Please, do
      not enter any letters, spaces, words, symbols or punctuation
      marks; <strong>enter only numbers</strong>, or leave the field
      blank, as appropriate.)</p>

      <table>
      <tbody>
      {% for school in schools %}
        <tr>
        <td style="padding:auto 5em;">&nbsp;&nbsp;<label for="ps.{{school.id|safe}}"
                   style="font-size:120%;">{{school.school_name|safe}}</label>&nbsp;&nbsp;</td>
        <td><input type="text" style="font-size:150%; width:6em;"
                   id="ps.{{school.id|safe}}" name="ps.{{school.id|safe}}"
                   size="6" maxlength="6" /></td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
      </fieldset>
    {% else %}
      <p style="color:#7f0000;">No schools found! This is a bug! 
      Contact Kevin Cole in the Gallaudet Research Institute!</p>
    {% endif %}
    

    <fieldset class="flow">
    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>
    </fieldset>

  </form>

</article>
</main>
{% endblock %}
