{% extends "screening.html" %}
{% block styles %}
<style type="text/css">
table, tbody, tr, td {font-size:100%; border: none;}

.error   {color:            #af0000;
          font-weight:      bold;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}


{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{agency.agency_name|safe}}</h1>

  <p>In the event that we should need to verify, correct or recover
  the data that you have submitted, please provide your contact
  information below.</p>

  <p>Don't forget to click <strong>Next &rarr;</strong> at the bottom
  of this page, when you have finished.</p>

  <form action="/resources/screening/public_contact/" method="POST">
    {% csrf_token %}
    {{form.non_field_errors}}

    <fieldset>
      <legend>Contact Information</legend>

      <table style="width:100%;">
        <tbody style="vertical-align:top;">
        <tr>
          <td style="text-align:right;"><label 
              for="id_contact_name">Your full name:</label></td>
          <td>{{form.contact_name}}</td>
        </tr>
        {% if form.contact_name.errors %}
          <tr>
          <td> </td>
          <td>{% for error in form.contact_name.errors %}
                <span class="error">&bull; {{error}}</span><br />
              {% endfor %}</td>
          </tr>
        {% endif %}
        <tr>
          <td style="text-align:right;"><label
              for="id_contact_title">Your job title:</label></td>
          <td>{{form.contact_title}}</td>
        </tr>
        {% if form.contact_title.errors %}
          <tr>
          <td> </td>
          <td>{% for error in form.contact_title.errors %}
                <span class="error">&bull; {{error}}</span><br />
              {% endfor %}</td>
          </tr>
        {% endif %}
        <tr>
          <td style="text-align:right;"><label
              for="id_contact_email">Your e-mail address:</label></td>
          <td>{{form.contact_email}}</td>
        </tr>
        {% if form.contact_email.errors %}
          <tr>
          <td> </td>
          <td>{% for error in form.contact_email.errors %}
                <span class="error">&bull; {{error}}</span><br />
              {% endfor %}</td>
          </tr>
        {% endif %}
        <tr>
          <td style="text-align:right;"><label
              for="id_contact_phone">Your telephone number:<br />
                                     [999-999-9999]</label></td>
          <td>{{form.contact_phone}}</td>
        </tr>
        {% if form.contact_phone.errors %}
          <tr>
          <td> </td>
          <td>{% for error in form.contact_phone.errors %}
                <span class="error">&bull; {{error}}</span><br />
              {% endfor %}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </fieldset>

    <fieldset class="flow">
    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>
    </fieldset>

  </form>

</article>
</main>
{% endblock %}
