{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}
input    {font-family:      fixed;
          background-color: #ffffd0;
          text-align:       right;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{agency.agency_name|safe}}</h1>

  <p>Please fill out the following. Don't forget to click <strong>Next
  &rarr;</strong> at the bottom of this page, when you have
  finished.</p>

  <form action="/resources/screening/public_sources/" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}

    <fieldset>
      <legend>Sources of identification</legend>

      <p>How were students in the schools on the previous screen identified
      as deaf or hard of hearing?  (Check all that apply.)</p>

      <p>
      {{form.is_source_iep}}
      <label for="id_is_source_iep">Individual Education Program (IEP)</label>
      {% if form.is_source_iep.errors %}
         {% for error in form.is_source_iep.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{form.is_source_ifsp}}
      <label for="id_is_source_ifsp">Individualized Family Service Plan (IFSP)</label>
      {% if form.is_source_ifsp.errors %}
         {% for error in form.is_source_ifsp.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{form.is_source_504}}
      <label for="id_is_source_504">Section 504 Plan</label>
      {% if form.is_source_504.errors %}
         {% for error in form.is_source_504.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{form.is_source_ada}}
      <label for="id_is_source_ada">Americans with Disabilities Act (ADA) Title II Plan</label>
      {% if form.is_source_ada.errors %}
         {% for error in form.is_source_ada.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}<br />

      {{form.is_source_other}}
      <label for="id_is_source_other">Other</label>
      {% if form.is_source_other.errors %}
         {% for error in form.is_source_other.errors %}
         <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error">&bull; {{error}}</span>
         {% endfor %}
      {% endif %}
      </p>

    </fieldset>

    <fieldset class="flow">
    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>
    </fieldset>

  </form>

</article>
</main>
{% endblock %}
