{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
table, tbody, tr, td, th {font-size:100%;}
table, tbody {width:100%}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          text-align:       right;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
<h1>{{agency.agency_name|safe}}</h1>

<h2>Participation</h2>
<div style="margin:auto 2em;">
<p>
{% if agency.participation == 0 %}
Not participating
{% else %}{% if agency.participation == 1 %}
Participating, pending approval
{% else %}{% if agency.participation == 2 %}
Participating
{% else %}
No response recorded
{% endif %}{% endif %}{% endif %}
</p>
</div>

<h2>Contact Information</h2>
<div style="margin:auto 2em;">
<table>
<tr>
<th>Name:</th>
<td>{{agency.contact_name|safe}}</td>
</tr>
<tr>
<th>Job Title:</th>
<td>{{agency.contact_title|safe}}</td>
</tr>
<tr>
<th>Phone Number:</th>
<td>{{agency.contact_phone|safe}}</td>
</tr>
<tr>
<th>E-mail Address:</th>
<td>{{agency.contact_email|safe}}</td>
</tr>
</table>
</div>

<h2>Sources of identification</h2>
<div style="margin:auto 2em;">
<ul>
{% if agency.is_source_iep %}<li>Individual Education Program (IEP)</li>{% endif %}
{% if agency.is_source_ifsp %}<li>Individual Family Service Plan (IFSP)</li>{% endif %}
{% if agency.is_source_504 %}<li>Section 504 Plan</li>{% endif %}
{% if agency.is_source_ada %}<li>Americans with Disabilties Act (ADA) Title II Plan</li>{% endif %}
{% if agency.is_source_other %}<li>Other source of identification</li>{% endif %}
</ul>
</div>

<h2>Deaf Students</h2>
<div style="margin:auto 2em;">
<table>
{% for school in schools %}
<tr>
<th>{{school.school_name|safe}}</th>
<td style="text-align:right; width:6em;">{{school.students_deaf|safe}}</td>
</tr>
{% endfor %}
</table>
</div>

</article>
</main>
{% endblock %}
