{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          text-align:       right;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{agency.agency_name|safe}}</h1>

  <form action="/resources/screening/public_collect/{{agency.id|safe}}/" 
        method="post">
    {% csrf_token %}

    <fieldset>

    <p>You have selected</p>
    <h2 class="center">{{agency.agency_name|safe}}</h2>.

    <p>If this is correct, please click the <strong>Next
    &rarr;</strong> button below. Otherwise, click the <strong>&larr;
    Back</strong> button.</p>

    <div style="width:100%">
      <div style="width:50%; float:left; text-align:center;">
        <button type="button" onclick="window.history.back()">&larr; Back</button>
      </div>
      <div style="width:50%; float:left; text-align:center;">
        <button type="submit">Next &rarr;</button>
      </div>
    </div>

    </fieldset>

  </form>

</article>
</main>
{% endblock %}
