{% extends "screening.html" %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<h2>Thank you!</h2>

<p>Thank you for your interest in our survey. If you change your mind,
and wish to participate in this study, please return to the URL
provided in your letter of invitation. You may now close your browser
window.</p>

</article>
</main>
{% endblock %}
