{% extends "screening.html" %}
{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}


{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

  <h1>{{agency.agency_name|safe}}</h1>

  <h2>Thank you</h2>

  <p>You have finished the survey.</p>

  <p>Thank you for helping the Gallaudet Research Institute improve the
  quality of our data!</p>

  <p>You may now close your browser window or learn more about the
  the <a href="http://research.gallaudet.edu/">Gallaudet Research
  Institute</a>.</p>

</article>
</main>
{% endblock %}
