{% extends "screening.html" %}
{% block styles %}
<style type="text/css">
table, tbody, tr, td {font-size:100%; border: none;}

.error   {color:            #af0000;
          font-weight:      bold;}

fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">

<h1>Monitor and Track Responses</h1>

<ul>
<li><a href="#lea">Local Education Agencies (LEAs)
    &amp; Public Schools</a></li>
<li><a href="#private">Private Schools</a></li>
</ul>

<section id="lea">
<h2>Local Education Agencies (LEAs) &amp; Public Schools</h2>
<table>
{% for agency in agencies %}
<tr>
<td>{{agency.state}}</td>
<td><a href="/resources/screening/track_agency/{{agency.id}}">{{agency.agency_name}}</a></td>
</tr>
{% endfor %}
</table>
</section>

<section id="private">
<h2>Private Schools</h2>
<table>
{% for private in privates %}
<tr>
<td>{{private.state}}</td>
<td><a href="/resources/screening/track_private/{{private.id}}">{{private.school_name}}</a></td>
</tr>
{% endfor %}
</table>
</section>

</article>
</main>
{% endblock %}
