{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
  <form action="/resources/screening/winnow_confirm/" method="get">
    <fieldset>
      <p>You have identified your agency as a
      <strong>{{agency_type|safe}}</strong> located in
      <strong>{{states.name|safe}}</strong>. If this information is
      incorrect, use the <strong>&larr; Back</strong> button
      to choose a different state and/or agency type.</p>

      <p>Otherwise, click the <strong>Next &rarr;</strong> button to
      continue.</p>

      <div style="width:100%">
        <div style="width:50%; float:left; text-align:center;">
          <button type="button" onclick="window.history.back()">&larr; Back</button>
        </div>
        <div style="width:50%; float:left; text-align:center;">
          <button type="submit">Next &rarr;</button>
        </div>
      </div>

    </fieldset>

  </form>
</article>
</main>
{% endblock %}
