{% extends "screening.html" %}

{% block styles %}
<style type="text/css">
fieldset {background-color: #f0ffff;
          border:           thin solid #8b4513;
          margin:           1.2em auto;}

.flow    {background-color: #ffffff;
          border:           none;
          margin:           1.2em auto;}

legend   {font-weight:      bold;
          background-color: #f0ffff;
          color:            #8b4513;
          border:           thin solid #8b4513;}

input    {font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}

#usps    {width:            4em;
          font-family:      fixed;
          background-color: #ffffd0;
          border:           thin solid #8b4513;}
</style>
{% endblock %}

{% block content %}
<main role="main">
<article id="essence" style="margin:0px auto;" role="main">
  <form action="/resources/screening/begin/" method="get">
    <fieldset>
      <legend>LEA / Public or Private</legend>
      <p>How is your agency classified?</p>

      <p>
      <input type="radio" id="public" name="funding" value="public" />
      <label for="public">Local Education Agency (LEA) or Public School</label><br />
      <input type="radio" id="private" name="funding" value="private" />
      <label for="private">Private School</label>
      </p>
    </fieldset>

    <fieldset>
      <legend>Select your State</legend>
      <label for="usps">State:</label>
      <select id="usps" name="usps">
          <option value=""></option>
        {% for state in states %}
          <option value="{{state.usps|safe}}">{{state.usps|safe}}</option>
        {% endfor %}
      </select>
    </fieldset>

    <p class="center"><button type="submit">Next &rarr;</button></p>

  </form>
</article>
</main>
{% endblock %}
