<article id="contents" class="cbr" role="main">

<article id="gallaudet_priorities" role="main">
<section id="introduction" class="cbr">
<section id="priority_list">

<article id="grid" role="main">
  <section id="title">
  <section id="project_grid">
  <th id="priorities" colspan="13">PRIORITIES (Numbers correspond to
      <th id="{{tip.id}}" scope="col" headers="priorities"

<article id="student_research" role="main">

<article id="center.{{forloop.counter}}" role="main">
<section id="center.{{forloop.counter}}.about_us">
  <section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.status">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.description">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.principal_investigators">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.other_investigators">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.funders">
<section id="center.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.products">
<section id="center.{{forloop.counter}}.output">

<article id="unit.{{forloop.counter}}" role="main">
<section id="unit.{{forloop.counter}}.about_us">
  <section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.title">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.status">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.description">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.principal_investigators">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.other_investigators">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.funders">
<section id="unit.{{forloop.parentloop.counter}}.abstract.{{forloop.counter}}.products">
<section id="unit.{{forloop.counter}}.output">
